&[data-face*='doctor'] {

    .soon-slot {

        .soon-slot-new {
            opacity:0;
            z-index:2;
            transform:rotateZ(45deg) scale(.25);
        }

        .soon-slot-old {
            opacity:1;
            z-index:1;
            transform:scale(1);
        }

    }

    .soon-slot-animate {

        .soon-slot-new {
            opacity:1;
            transform:scale(1);
        }

        .soon-slot-old {
            opacity:0;
            transform:rotateZ(-45deg) scale(1.5);
        }

    }

}
