&[data-face*='roll'] {

    .soon-slot {

        .soon-slot-new {
            opacity:0;
            transform:translateY(-102.5%) rotateX(110deg) scale(.5);
            transform-origin:50% 100%;
            z-index:2;
        }

        .soon-slot-old {
            opacity:1;
            transform:translateY(0);
            transform-origin:50% 0;
            z-index:1;
        }

    }

	.soon-slot-animate {

        .soon-slot-new {
			opacity:1;
			transform:translateY(0);
        }

        .soon-slot-old {
			opacity:0;
			transform:translateY(102.5%) rotateX(-110deg) scale(.5);
        }

    }

    &[data-face*='up'] {

        .soon-slot {

            .soon-slot-new {
                transform:translateY(102.5%) rotateX(-110deg) scale(.5);
                transform-origin:50% 0;
            }

            .soon-slot-old {
                transform:translateY(0);
                transform-origin:50% 100%;
            }

        }

        .soon-slot-animate {

            .soon-slot-new {
                transform:translateY(0);
            }

            .soon-slot-old {
                transform:translateY(-102.5%) rotateX(110deg) scale(.5);
            }

        }

    }

    &[data-face*='left'] {

        .soon-slot {

            .soon-slot-new {
                transform:translateX(102.5%) rotateY(-110deg) scale(.5);
                transform-origin:0 50%;
            }

            .soon-slot-old {
                transform:translateX(0);
                transform-origin:100% 50%;
            }

        }

        .soon-slot-animate {

            .soon-slot-new {
                transform:translateX(0);
            }

            .soon-slot-old {
                transform:translateX(-102.5%) rotateY(110deg) scale(.5);
            }

        }

    }

    &[data-face*='right'] {

        .soon-slot {

            .soon-slot-new {
                transform:translateX(-102.5%) rotateY(110deg) scale(.5);
                transform-origin:100% 50%;
            }

            .soon-slot-old {
                transform:translateX(0);
                transform-origin:0 50%;
            }

        }

        .soon-slot-animate {

            .soon-slot-new {
                transform:translateX(0);
            }

            .soon-slot-old {
                transform:translateX(102.5%) rotateY(-110deg) scale(.5);
            }

        }

    }

}
