&[data-face*='rotate'] {

	.soon-slot-new,
	.soon-slot-old {
		transform-origin:center bottom;
	}

	.soon-slot {

		.soon-slot-new {
			transform:rotateZ(-90deg) scale(.125);
            opacity:0;
			z-index:2;
		}

		.soon-slot-old {
			transform:rotateZ(0deg);
            opacity:1;
			z-index:1;
		}

	}

	.soon-slot-animate {

		.soon-slot-new {
			transform:rotateZ(0deg);
            opacity:1;
		}

		.soon-slot-old {
			transform:rotateZ(90deg) scale(.125);
            opacity:0;
		}

	}

    &[data-face*='left'] {

        .soon-slot {

            .soon-slot-new {
                transform:rotateZ(90deg) scale(.125);
            }

            .soon-slot-old {
                transform:rotateZ(0deg);
            }

        }

        .soon-slot-animate {

            .soon-slot-new {
                transform:rotateZ(0deg);
            }

            .soon-slot-old {
                transform:rotateZ(-90deg) scale(.125);
            }

        }

    }
}
