&[data-face*='shadow-hard'] {

    $size:.125em;
    $half:.0625em;

    .soon-separator,
    .soon-slot-inner {
        text-shadow:0 $half 0 rgba(0,0,0,.15);
    }

}

&[data-face*='shadow-soft'] {

    $size:.125em;
    $half:.0625em;

    .soon-separator,
    .soon-slot-inner {
        text-shadow:0 $half $size rgba(0,0,0,.333);
    }

}

&[data-face*='glow'] {

    $size:.125em;

    .soon-separator,
    .soon-slot-inner {
        text-shadow:0 0 $size rgba(255,255,255,.75);
    }

}
