&[data-face*='slide'] {



	.soon-slot {

		.soon-slot-new {
			transform:translateY(-100%);
			z-index:2;
            opacity:0;
		}

		.soon-slot-old {
			transform:translateY(0);
			z-index:1;
            opacity:1;
		}

	}

    .soon-slot-animate {

        .soon-slot-new {
			transform:translateY(0);
            opacity:1;
        }

        .soon-slot-old {
			transform:translateY(100%);
            opacity:0;
        }

    }




    &[data-face*='up'] {

        .soon-slot {

            .soon-slot-new {
                transform:translateY(100%);
            }

            .soon-slot-old {
                transform:translateY(0);
            }

        }

        .soon-slot-animate {

            .soon-slot-new {
                transform:translateY(0);
            }

            .soon-slot-old {
                transform:translateY(-100%);
            }

        }

    }


    &[data-face*='left'] {

        .soon-slot {

            .soon-slot-new {
                transform:translateX(100%);
            }

            .soon-slot-old {
                transform:translateX(0);
            }

        }

        .soon-slot-animate {

            .soon-slot-new {
                transform:translateX(0);
            }

            .soon-slot-old {
                transform:translateX(-100%);
            }

        }

    }

    &[data-face*='right'] {

        .soon-slot {

            .soon-slot-new {
                transform:translateX(-100%);
            }

            .soon-slot-old {
                transform:translateX(0);
            }

        }

        .soon-slot-animate {

            .soon-slot-new {
                transform:translateX(0);
            }

            .soon-slot-old {
                transform:translateX(100%);
            }

        }

    }
}
