&[data-face*='fast'] {

    .soon-slot-animate {

        .soon-slot-new,
        .soon-slot-old {
            transition:
            transform 500ms,
            opacity 400ms,
            color 200ms,
            filter 200ms;
        }

    }

}

&[data-face*='faster'] {

    .soon-slot-animate {

        .soon-slot-new,
        .soon-slot-old {
            transition:
            transform 250ms,
            opacity 175ms,
            color 100ms,
            filter 100ms;
        }

    }

}

