<br>
<ul class="breadcrumb">
  {{#each breadcrumbs}}
    <li class="{{#if @last}}is-active{{/if}}">
      {{#if url}}
          <a href="{{url}}" class="breadcrumb-label">{{name}}</a>
      {{else}}
          <span class="breadcrumb-label">{{name}}</span>
      {{/if}}
    </li>
  {{/each}}
</ul>
