<h3>Information</h3>
<li><a href="{{base_url}}/catalogue/"><span>Catalogue</span></a></li>
<li><a href="{{base_url}}/refer-a-friend"><span>Refer a Friend</span></a></li>
<li><a href="{{base_url}}/pricing-integrity"><span>Exclusive Membership</span></a></li>
<li><a href="{{base_url}}/vitality-rewards"><span>Vitality Rewards Power</span></a></li>
<li><a href="{{base_url}}/event-support-request"><span> Event Support Request</span></a></li>
<li><a href="{{base_url}}/why-choose-vitality-depot"><span>Why Choose Vitality</span></a></li>
