  <footer class="footer-core">
    <div class="container">
      <div class="col-md-2 col-sm-4 col-xs-12 contact-us" data-section-type="storeInfo">
        {{> components/common/footer-contact-us}}
      </div>
      <div class ="col-md-2 col-sm-4 col-xs-6">
        {{> components/common/footer-information}}
      </div>
      <div class ="col-md-2  col-sm-4 col-xs-6">
        {{> components/common/footer-useful-links}}
      </div>
      <div class ="col-md-6 col-xs-12 newsletter-container">
      {{#if settings.show_newsletter_box}}
        {{>components/common/subscription-form}}
      {{/if}}
      </div>
    </div>
          </div>


  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-height row">

        <div class="col-sm-2 col-xs-6">
          <div class="row">
          {{> components/common/social-links}}
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="row">
            <span class="hclicence"><img src="{{cdn "webdav:img/canada.svg"}}" alt="Health Canada Licence: 2837" width="60" height="35">
            <p>Health Canada Licence: 2837</p></span>
          </div>
        </div>


        <div class="col-sm-2 col-xs-6">
            <div class="row ssl">
            <span class="fa-stack fa-stack-thumb fa-2x">
              <i class="fa fa-stack-2x fa-lock" aria-hidden="true"></i>
              <i class="fa fa-stack-1x fa-thumbs-up" aria-hidden="true"></i>
            </span>
            <span class="ssl-text">Comodo<br /> Secure</span>
            </div>
        </div>


        <div class="col-sm-2 col-xs-6">
          <span class="footer-payment">
            {{>components/common/payment-icons}}
          </span>
        </div>

        <div class="col-xs-12">
          <p class="footer-copyright">
            Copyright <i class="fa fa-copyright" aria-hidden="true"></i>2016 Vitality Depot
          </p>
        </div>
      </div>
    </div>
  </footer>
