<h3>Useful Links</h3>
<li><a href="{{base_url}}/faq/"><span>FAQ</span></a></li>
<li><a href="{{base_url}}/tracking/"><span>Tracking</span></a></li>
<li><a href="{{base_url}}/sitemap/"><span>Sitemap</span></a></li>
<li><a href="{{base_url}}/where-to-buy-map"><span>Clinic Map</span></a></li>
<li><a href="{{base_url}}/returns/"><span>Returns &amp; Service</span></a></li>
<li><a href="{{base_url}}/opening-a-new-clinic/"><span>Opening a New Clinic</span></a></li>
