    <h3>Contact Us</h3>
      <li>
        <address>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <a target ="_blank" href="https://goo.gl/maps/o8VB2AwvoWU2">    
              {{nl2br settings.address}}</a>
        </address>
      </li>
      <li>
          
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <a href="mailto:info@vitalitydepot.ca">info@vitalitydepot.ca</a>
</li><br>
                  <li> 
        <i class="fa fa-phone" aria-hidden="true"></i>
          {{#if settings.phone_number}}
            <a href="tel:1-800-461-0100">1.800.461.0100</a>
          {{/if}}
 </li>
    

