<div class="row container topheader">
<center>
{{#if template_file '===' 'pages/home'}}
    <div>
        <h1 class="header-logo col-md-3 img-responsive">
            {{> components/common/store-logo}}
        </h1>
    </div>
{{else}}
    <center>
        <h1 class="header-logo col-md-3 img-responsive">
            {{> components/common/store-logo}}
        </h1>
    </center>
{{/if}}
    <div class="dropdown dropdown--quickSearch col-md-offset-1 col-md-4" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
        {{> components/common/quick-search}}
    </div>
    <div class="col-md-4">
        {{> components/common/toplogin}}
    </div>
</center>
</div>
<header class="header container-fluid" role="banner">

    {{!-- {{> components/common/navigation}} --}}


    <div class="navPages-container row" id="menu" data-menu>

        {{> components/common/navigation-menu}}
    </div>

</header>
