<div class="col-sm-4 col-xs-12">
  <a href="/vitality-rewards">
    <img src="{{cdn "https://www.vitalitydepot.ca/content/img/Vitality-Rewards.jpg"}}" class="img-responsive" />
  </a>
</div>
<div class="col-sm-4 col-xs-12">
  <a href="/spend-credits/">
    <img src="{{cdn "https://www.vitalitydepot.ca/content/img/Spend-Credits-Pig.jpg"}}" class="img-responsive" />
  </a>
</div>
<div class="col-sm-4 col-xs-12">
  <a href="/catalogue/">
    <img src="{{cdn "https://www.vitalitydepot.ca/content/img/Catalogue-nov-2016.jpg"}}" class="img-responsive" />
  </a>
</div>
