<div id="modal" class="modal fade what-is-love-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn btn-primary pull-right" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-contents"></div>
      <div class="loadingOverlay">
        <div>
          <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
          <p>loading...</p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
