<div class="container">
<div class="row">
<div class="col-md-12">
<nav class="main-nav">
  <!-- div class="navPages-quickSearch">
    {> components/common/quick-search}}
  </div -->
    <button class="mobile-button">
      Menu
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ul class="main-nav-menu">
      <li class="first-menu-option category-group">
        <a class="category-link main-nav-a" href="">Browse by category <i class="fa fa-angle-down" aria-hidden="true"></i></a>

        <ul class="category-dropdown">
        {{#each categories}}
          <li class="second-menu-option">
            {{!> components/common/navigation-list}}


              <a class="main-nav-a has-submenu" href="{{url}}">
                {{name}} <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a> <!-- end a.main-nav-item -->

              <ul class="main-nav-submenu-list" aria-hidden="true">

                <li class="third-menu-option">
                  <a class="main-nav-a" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
                </li>

                {{#each children}}

                  <li class="main-nav-submenu-item">

                    <a class="main-nav-submenu-action main-nav-a has-submenu" href="{{url}}">
                      {{name}}
                    </a>

                    <ul class="sub-sub-menu">
                      {{#each children}}
                        <li class="main-nav-childList-item">
                          <a class="main-nav-childList-action main-nav-a" href="{{url}}">{{name}}</a>
                        </li>
                      {{/each}}
                    </ul>

                    </li>
                {{/each}}
                </ul> <!-- end main-nav-submenu-list -->
          </li>
        {{/each}} {{!-- end eeach categories--}}
        </ul>
      </li>
    {{!--
      faq
      Brands
      shipping and returns
      tracking
      sales
    --}}

    <div class="left">
        <li class="first-menu-option">
          <a class="main-nav-a" href="/sale">
            <span class="sale"></span>
            Sale
          </a>
        </li>
      {{#each pages as |page|}}
        {{#if page.name "FAQ"}}
          <li class="first-menu-option">
            <a class="main-nav-a" href="{{page.url}}">
              <!--<i class="icon fa fa-question-circle-o" aria-hidden="true"></i>-->
              <span class="faq"></span>
              {{page.name}}
            </a>
          </li>
        {{/if}}
         <!--Tracking  Shipping & Returns -->
      {{/each}}
        <li class="first-menu-option">
          <a class="main-nav-a" href="/brands">
            <span class="brands"></span>
            Brands
          </a>
        </li>
      {{#each pages as |page|}}
        {{#if page.name "Shipping and Returns"}}
          <li class="first-menu-option">
            <a class="main-nav-a" href="{{baseurl}}/shipping-returns-credit/">
              <span class="shipping-and-returns"></span>
              {{page.name}}
            </a>
          </li>
        {{/if}}
         <!--Tracking  Shipping & Returns -->
      {{/each}}
        <li class="first-menu-option">
          <a class="main-nav-a" href="/tracking">
            <span class="tracking"></span>
            Tracking
          </a>
        </li>
    </div>

  </ul>
  </div>

  {{!--
  <ul class="navPages-list navPages-list--user">
    {{#if currency_selector.currencies.length '>' 1}}
        <li class="navPages-item">
            <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
            </a>
            <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    {{#each currency_selector.currencies}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                            {{#if is_active}}
                                <strong>{{name}}</strong>
                            {{else}}
                                {{name}}
                            {{/if}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
    {{/if}}
    <li class="navPages-item">
        <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
    </li>
    {{#if customer.store_credit.value '>' 0}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--storeCredit">
                {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
            </a>
        </li>
    {{/if}}
    {{#if theme_settings.product_list_display_mode '==' 'list'}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
    {{/if}}
    {{#if customer}}
        <li class="navPages-item">
            <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
            </a>
            <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                    </li>
                    {{#if settings.returns_enabled}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                        </li>
                    {{/if}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</span></a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
        </li>
    {{else}}
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
        </li>
    {{/if}}
  </ul>
  --}}
</nav>
</div>
</div>
</div>
