<div>
  <ul class="pagination">
    {{#if previous}}
      <li class="page-item">
        <a class="page-link" href="{{previous}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    {{/if}}
    {{#each links}}
      {{#if this.number '==' ../current}}
        <li class="page-item active">
          <a class="page-link" href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}</a>
        </li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}</a>
        </li>
      {{/if}}
    {{/each}}
    {{#if next}}
      <li class="page-item">
        <a class="page-link" href="{{next}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {{/if}}
  </ul>
</div>
