<div>
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field row">
                <div class="col-md-12 searchLabels searchLabel1">
                  <a href="{{baseurl}}/spend-credits/">SPEND CREDIT AT $250 ORDER VALUE!</a>
                </div>
                {{!-- <label class="u-hiddenVisually" for="search_query">{{lang "search.quick_search.input_label"}}</label> --}}
                <input class="form-input form-control input-lg" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                <button type="submit" class="btn btn-primary btn-lg search-btn" deluminate_imagetype="png">
                </button>
                <div class="clearfix"></div>
                <div class="col-md-12 searchLabels searchLabel2">
                    <a href="/where-to-buy-map/">DIRECT TO CONSUMER ACCESS POINT! </a>
                </div>
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults" data-bind="html: results">
    </section>
</div>
