{{#if settings.add_this.buttons}}
    <div class="addthis_toolbox addthis_32x32_style" addthis:url="{{url}}"
         addthis:title="{{title}}">
        <ul class="socialLinks row">
            {{#each settings.add_this.buttons}}
                <li class="socialLinks-item socialLinks-item--{{service}} col-xs-1">
                    <a class="addthis_button_{{service}} icon icon--{{service}}" {{{annotation}}}>
                        {{#if service '===' 'google_plusone'}}
                            <!-- No custom icons allowed with g+ -->
                            {{!-- <i class="fa fa-2x fa-google-plus-square" aria-hidden="true"></i> --}}
                        {{/if}}

                        {{#if service '===' 'facebook'}}
                            <svg>
                                <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                            </svg>
                        {{/if}}

                        {{#if service '===' 'email'}}
                            <svg>
                                <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
                            </svg>
                        {{/if}}

                        {{#if service '===' 'print'}}
                            <svg>
                                <i class="fa fa-2x fa-print" aria-hidden="true"></i>
                            </svg>
                        {{/if}}

                        {{#if service '===' 'twitter'}}
                            <svg>
                                <i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
                            </svg>
                        {{/if}}

                        {{#if service '===' 'linkedin'}}
                            <svg>
                                <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
                            </svg>
                        {{/if}}

                        {{#if service '===' 'google'}}
                            <svg>
                                <use xlink:href="#icon-google"/>
                            </svg>
                        {{/if}}

                        {{#if service '===' 'pinterest'}}
                            <svg>
                                <use xlink:href="#icon-pinterest"/>
                                <i class="fa fa-2x fa-pinterest-square" aria-hidden="true"></i>
                            </svg>
                        {{/if}}

                        {{!--  {{#if service '===' 'facebook_like'}}
                            <svg>
                                <use xlink:href="#icon-facebook_like"/>
                                <i class="fa fa-2x fa-pinterest-square" aria-hidden="true"></i>
                            </svg>
                        {{/if}} --}}
                    </a>
                </li>
            {{/each}}
        </ul>
        <script type="text/javascript"
                src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e94ed470ee51e32"></script>
        <script>
            if (typeof(addthis) === "object") {
                addthis.toolbox('.addthis_toolbox');
            }
        </script>
    </div>
{{/if}}
