<div>
  <ul class="pagination">
    {{#if previous}}
      <li class="page-item">
        <a class="page-link" href="{{previous}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    {{/if}}
    {{#if this.links.length}}
      <li class="page-item">{{lang 'common.paginator.page_of' current=this.current total=this.links.length}}</li>
    {{else}}
      <li class="page-item">{{lang 'common.paginator.page_of' current=1 total=1}}</li>
    {{/if}}

    {{#if next}}
      <li class="page-item">
        <a class="page-link" href="{{next}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {{/if}}
  </ul>
</div>
