  {{#if social_media}}
    {{#each social_media}}
      {{#if display_name '===' 'facebook'}}
        <div class="col-xs-4">
        <a href="{{url}}">
          <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
        </a>
        </div>
      {{/if}}
      {{#if display_name '===' 'twitter'}}
        <div class="col-xs-4">
        <a href="{{url}}">
          <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
        </a>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
