<div class="col-md-12 newsletter">
    <div class="clearfix">
      <h1><i class="fa fa-envelope-o" aria-hidden="true"></i></h1>
      <h1 class="text">Extra Savings With eNews</h1>
    </div>
    <p>{{lang 'newsletter.subscribe_intro'}}</p>
    <p><a href="/newsletter">CLICK HERE TO SIGN UP</a></p>
</div>
