{{#if theme_settings.hide_pricing}}
  <div class="col-md-12 coming-soon"><img class="img-responsive" src="{{cdn "webdav:img/coming-soon.jpg"}}" /></div>
{{else}}
  <ul class="row navPages-list navPages-list--user toploginlist text-center">
    {{#if currency_selector.currencies.length '>' 1}}
        <p>Hello</p>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
            </a>
            <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    {{#each currency_selector.currencies}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                            {{#if is_active}}
                                <strong>{{name}}</strong>
                            {{else}}
                                {{name}}
                            {{/if}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
    {{/if}}
    {{#if theme_settings.product_list_display_mode '==' 'list'}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
    {{/if}}

    {{#if customer}}
        <li class="navPages-item col-xs-3">
             <span class="image"><img src="{{cdn "webdav:img/account.svg"}}" /></span>
            <span class="text">
            <span class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{lang 'common.account'}}</span>
            <ul class="dropdown-menu">
                <li><a href="{{urls.account.index}}">Account Details</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{urls.auth.logout}}">Logout</a></li>
            </ul>
            </span>
        </li>
    {{else}}
        <li class="navPages-item col-xs-3">
            <a class="navPages-action login" href="{{urls.auth.login}}">
            <span class="image"><img src="{{cdn "webdav:img/login.svg"}}" /></span>
            <span class="text">{{lang 'common.login'}}</span>
            </a>
        </li>
    {{/if}}

    <li class="navPages-item col-xs-3">
    <a class="navPages-action" href="{{urls.cart}}">
         <span class="image"><img src="{{cdn "webdav:img/cart.svg"}}" /></span>
         <span class="text">{{lang 'Cart'}}</span>
        </a>
    </li>
    <li class="navPages-item col-xs-3">
    <a class="navPages-action" href="{{baseurl}}/redeem-rewards">
          <span class="image"><img src="{{cdn "webdav:img/rewards.svg"}}" /></span>
        <span class="text">{{lang 'Rewards'}}</span>
        </a>
    </li>
    <li class="navPages-item col-xs-3">
    <a class="navPages-action" href="{{baseurl}}/quick-cart">
         <span class="image"><img src="{{cdn "webdav:img/quickcart.svg"}}" /></span>
         <span class="text">{{lang 'Quick Cart'}}</span>
        </a>
    </li>
  </ul>
{{/if}}
