<article class="blog"> 
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    <img src="{{getImage post.thumbnail 'gallery'}}" alt="{{post.thumbnail.alt}}">
                </a>
            </figure>
        {{/if}}
    </div>
    <div class="blog-post-body">
        <header class="blog-header">
            <h3 class="blog-title">
                <a href="{{post.url}}">{{post.title}}</a>
            </h3>
            <p class="blog-date"><h6>{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</h6></p>
        </header>
        <hr>
        <div class="blog-post">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{post.summary}}
                {{#if post.show_read_more}}
                    &hellip; <a href="{{url}}">Read More <i class="fa fa-forward" aria-hidden="true"></i></a>
                {{/if}}
            {{/if}}
        </div>
        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}
    </div>
</article>
