<article class="blog">
  <div class="blog-post-body">
    <header class="blog-header">
      <h3 class="blog-title">
        <a href="{{post.url}}">{{post.title}}</a>
      </h3>
      <p class="blog-date"><h6>{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</h6></p>
    </header>

    <div class="blog-post">
      {{#if post.body}}
        {{{post.body}}}
      {{else}}
        {{post.summary}}
      {{#if post.show_read_more}}
        <a href="{{url}}">Read more&hellip;</a>
      {{/if}}
      {{/if}}
    </div>


    {{#if show_tags}}
    {{#if post.tags}}
    <ul class="tags">
      {{#each post.tags}}
      <li class="tag">
      <a href="{{url}}">#{{name}}</a>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    {{/if}}


    <br>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Share
      </button>
      <div class="dropdown-menu">
        {{>components/common/share}}
      </div>
    </div>
  </div>
</article>
