{{#if product_results.products}}
	<ul class="productGrid" id="quickSearchList">
		{{!-- RESULTS --}}
		{{#each product_results.products}}
			<li class="product">
				<article class="card card--alternate">
					<figure class="card-figure col-sm-3">
						<a href="{{url}}">
							<img class="card-image" src="{{getImage image 'product' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}">
						</a>
					</figure>
					<div class="card-body col-sm-offset-1 col-sm-8">
						<p class="card-title">
							<a href="{{url}}">{{name}}</a>
						</p>
					</div>
				</article>
			</li>
		{{/each}}
		{{!-- RESULTS END  --}}
	</ul>
{{else}}
	<p class="quickSearchMessage">
		{{lang 'search.results.quick_count' count=pagination.product_results.total search_query=forms.search.query}}
	</p>
{{/if}}
