{{#partial "page"}}

<main class="page">
    <section class="page-content page-content--centered">
        <h1 class="page-heading">{{lang 'forbidden.page_heading'}}</h1>
        <p class="u-textAlignCenter">
            {{lang 'forbidden.message'}}
            <br /><a href="login.php">Click Here to Login</a>
        </p>
    </section>
</main>

{{/partial}}
{{> layout/base}}
