&[data-visual*='color-light'] {

    $background-fill:rgba(255,255,255,.25);
    $progress:rgba(255,255,255,.85);

    .soon-ring-progress {
        background-color:$background-fill;
        color:$progress;
    }

}


&[data-visual*='color-dark'] {

    $background-fill:rgba(0,0,0,.15);
    $progress:rgba(0,0,0,.65);

    .soon-ring-progress {
        background-color:$background-fill;
        color:$progress;
    }

}
