&[data-visual*='shadow-hard-progress'] {

    .soon-ring-progress {
        padding:3px;
        text-shadow:0 3px 0 rgba(0,0,0,.15);
    }

}

&[data-visual*='shadow-soft-progress'] {

    .soon-ring-progress {
        padding:5px;
        text-shadow:0 3px 5px rgba(0,0,0,.333);
    }

}

&[data-visual*='glow-progress'] {

    .soon-ring-progress {
        padding:6px;
        text-shadow:0 0 6px rgba(255,255,255,1);
    }

}

&[data-visual*='shadow-hard-background'] {

    .soon-ring-progress {
        padding:3px;
        box-shadow:0 3px 0 rgba(0,0,0,.15);
    }

}

&[data-visual*='shadow-soft-background'] {

    .soon-ring-progress {
        padding:5px;
        box-shadow:0 3px 5px rgba(0,0,0,.333);
    }

}

&[data-visual*='glow-background'] {

    .soon-ring-progress {
        padding:6px;
        box-shadow:0 0 6px rgba(255,255,255,1);
    }
}
