.soon-ring-progress {
    border-width:5px;
}

&[data-visual*='width-thin'] {

    .soon-ring-progress {
        border-width:2px;
    }

}

&[data-visual*='width-thick'] {

    .soon-ring-progress {
        border-width:9px;
    }

}
