---
customer:
  orders:
    limit: 10
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="col-md-3">
  {{> components/account/sidebar account_page='orders'}}
</div>
<div class="col-md-9">
  <h1 class="page-heading">{{lang 'account.orders.heading' }}</h1>
  <main class="account account--fixed">
    <div class="account-head">
      {{#if customer.store_credit.value '>' 0}}
        <div class="alert alert-success" role="alert">
          {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
        </div>
      {{/if}}
    </div>
    <div class="account-body">
      <section class="account-content">
        {{#if customer.orders.length}}
          {{> components/account/orders-list orders=customer.orders}}
          {{> components/common/small-paginator pagination.orders}}
        {{else}}
          {{> components/common/alert-info (lang 'account.orders.none')}}
        {{/if}}
      </section>
    </div>
    {{{snippet 'account'}}}
  </main>
</div>

{{/partial}}
{{> layout/base}}
