---
customer:
  orders:
    limit: 3
---
{{#partial "page"}}
<div class="account">
  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
  <h2 class="account-heading title">{{lang 'account.orders.heading' }}</h2>
  <div class="col-md-3">
    {{> components/account/sidebar account_page='orders'}}
  </div>
  <div class="col-md-9">
    <div class="account-row orders-row">
      <section class="orders">
        {{> components/account/orders-list orders=customer.orders}}
        {{> components/common/small-paginator pagination.orders}}
      </section>
    </div>
  </div>
</div>
{{/partial}}
{{> layout/base}}
