{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="col-md-3">
  {{> components/account/sidebar account_page='orders'}}
</div>
<div class="account col-md-9">
  {{#each order.status_messages}}
    {{> components/common/alert-info message}}
  {{/each}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="account-heading">{{lang 'account.orders.details.heading' number=order.id}}</h4>
    </div>

    <ul class="list-group">
      {{> components/account/order-contents order=order}}

      <li class="list-group-item">
        <div class="row">
            <div class="col-md-3">
              <h4 class="list-group-item-heading account-heading">Order Totals<br /></h4>
              <p class="list-group-item-text">
                <dl>
                {{#each order.total_rows}}
                  {{#if value.value}}
                    <dt>{{label}}:</dt>
                    <dd>{{value.formatted}}</dd>
                    <dd></dd>
                  {{/if}}
                {{/each}}
                </dl>
              </p>
            </div>
            <div class="col-md-3">
              <h4 class="list-group-item-heading account-heading">{{lang 'account.orders.details.order_details'}}</h4>
              <p class="list-group-item-text">
                <dl class="definitionList">
                  <dt class="definitionList-key">{{lang 'account.orders.details.order_status'}}</dt>
                  <dd class="definitionList-value">{{order.status_text}}</dd>
                  <dt class="definitionList-key">{{lang 'account.orders.details.payment_date'}}</dt>
                  <dd class="definitionList-value">{{order.date}}</dd>
                  <dt class="definitionList-key">{{lang 'account.orders.details.order_total'}}</dt>
                  <dd class="definitionList-value">{{order.total.formatted}}</dd>
                  {{#if order.payment_method}}
                  <dt class="definitionList-key">{{lang 'account.orders.details.payment_method'}}</dt>
                  <dd class="definitionList-value">
                    {{order.payment_method}}
                    {{#if order.card_number_last_four}}
                    {{lang 'account.orders.details.card_ending' card=order.card_number_last_four}}
                    {{/if}}
                  </dd>
                  {{/if}}
                  {{#if order.order_instructions}}
                  <dt class="order-payments-description">{{lang 'account.orders.details.how_to_pay'}}</dt>
                  <dd class="order-payments-value order-payments-value--long">{{nl2br order.order_instructions}}</dd>
                  {{/if}}
                </dl>
              </p>


            </div>
            {{#if order.shipping_address}}
            <div class="col-md-2">
              <h4 class="list-group-item-heading account-heading">{{lang 'account.orders.details.ship_to'}}</h4>

              <p class="list-group-item-text">
                <dl class="account-order-address">
                  <dd>{{order.shipping_address.full_name}}</dd>
                  <dd>{{order.shipping_address.company}}</dd>
                  <dd>{{order.shipping_address.address_lines.[0]}}</dd>
                  <dd>{{order.shipping_address.address_lines.[1]}}</dd>
                  <dd>{{order.shipping_address.city}}, {{order.shipping_address.state}} {{order.shipping_address.zip}}</dd>
                  <dd>{{order.shipping_address.country}}</dd>
                </dl>
              </p>
            </div>
            {{else}}
            {{#if order.has_multiple_shipping_addresses}}
              <div class="col-md-2">
                <h4 class="list-group-item-heading account-heading">{{lang 'account.orders.details.ship_to'}}</h4>
                <p class="list-group-item-text">
                  {{lang 'account.orders.details.ship_to_multi_text'}}
                </div>
              </p>
            {{/if}}
          {{/if}}

          <div class="col-md-2">
            <h4 class="list-group-item-heading account-heading">{{lang 'account.orders.details.bill_to'}}</h4>
            <p>
              <dl class="account-order-address">
                <dd>{{order.billing_address.full_name}}</dd>
                <dd>{{order.billing_address.company}}</dd>
                <dd>{{order.billing_address.address_lines.[0]}}</dd>
                <dd>{{order.billing_address.address_lines.[1]}}</dd>
                <dd>{{order.billing_address.city}}, {{order.billing_address.state}} {{order.billing_address.zip}}</dd>
                <dd>{{order.billing_address.country}}</dd>
              </dl>
            </p>
          </div>
        </div>{{!-- end row --}}

      </li>
      {{#if shipments}}
        <li class="list-group-item">
            <h4 class="list-group-item-heading account-heading">{{lang 'account.orders.details.shipments.header'}}</h4>
            {{#each shipments}}
              <dl>
                <dt>{{lang 'account.orders.details.shipments.date'}}:</dt>
                <dd>{{date_shipped}}</dd>
                <dt>{{lang 'account.orders.details.shipments.method'}}:</dt>
                <dd>{{shipping_provider}}</dd>
                <dt>{{lang 'account.orders.details.shipments.link'}}:</dt>
                <dd>
                  {{#if shipping_track.url}}
                    <a href="{{shipping_track.url}}">
                  {{/if}}

                  {{#if show_shipping_method}}
                    {{shipping_track.number}} &mdash; {{shipping_method}}
                  {{else}}
                    {{shipping_track.number}}
                  {{/if}}

                  {{#if shipping_track.url}}
                    </a>
                  {{/if}}
                  </dd>
              </dl>
            {{/each}}
        </li>
      {{/if}}
      {{#if order.comments}}
        <li class="list-group-item">
            <h4 class="list-group-item-heading account-heading">{{lang 'account.orders.details.comments'}}</h4>
            <p class="list-group-item-text">{{order.comments}} </p>
        </li>
      {{/if}}

    </ul>{{!-- end listgroup --}}
  </div>{{!-- end panel --}}
</div>{{!-- end account page--}}
{{/partial}}
{{> layout/base}}
