<div class="container">
  <section class="row 12-reasons">
  <h3>12 More Reasons Vitality Depot is Honestly Different</h3>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="/supplying-clinics-for-over-2-decades">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-20-years-wreath.svg"}}" class="img-responsive"  alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>SUPPLYING CLINICS FOR OVER 20 YEARS</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="reliable-every-day-value">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Piggy-Bank-Reliable-Value.svg"}}"  class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>RELIABLE EVERYDAY VALUE</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="refer-a-friend">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Referrals-handshake.svg"}}"  class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>REFER A FRIEND PROGRAM</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="pricing-integrity">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-pricing-protected-tag.svg"}}"  class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>CLINIC PRICING PROTECTED</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="free-patient-support">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Free-support-gift.svg"}}" class="img-responsive"  alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>FREE PATIENT SUPPORT</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="promote-your-clinic-trade-show-support">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Event-Support.svg"}}" class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>SUPPORT FOR YOUR TRADE FAIRS AND CHARITY EVENTS</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="patient-product-innovator">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-product-innovator-lightbulb.svg"}}" class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>PATIENT PRODUCT INNOVATOR</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="where-to-buy-map">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Where-to-buy-maps.svg"}}"  class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>WHERE TO BUY MAPS</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="assuring-health-canada-and-legal-requirements">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Parliment-health-canada.svg"}}"  class="img-responsive"  alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>ASSURING HEALTH CANADA AND LEGAL REQUIREMENTS</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="seamless-real-time-ordering">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Seamless-ordering-puzzle.svg"}}"  class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>SEAMLESS REAL TIME ORDERING</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="not-a-product-broker">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-Not-broker-forklift.svg"}}" class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>NOT A PRODUCT BROKER</p>
      </span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="row">
      <a href="blog">
      <span class="col-xs-5">
        <img src="{{cdn "webdav:img/WH-blog.svg"}}" class="img-responsive" alt="">
      </span>
      <span class="col-xs-7 reason-text">
        <p>BLOG ON CLINIC TIPS AND HEALTH NEWS</p>
      </span>
      </a>
    </div>
  </div>

  </section>
</div>


