<div class="flipclock-button">
  <div class="clock-table">
    <table class="top">
      <tr>
        <td>F</td><td>A</td><td>L</td><td>L</td><td>&nbsp;</td><td>S</td><td>A</td><td>L</td><td>E</td>
      </tr>
      <tr>
        <td>B</td><td>I</td><td>O</td><td>F</td><td>R</td><td>E</td><td>E</td><td>Z</td><td>E</td>
      </tr>
      <tr>
        <td>A</td><td>N</td><td>D</td><td>&nbsp;</td><td>G</td><td>I</td><td>F</td><td>T</td><td>S</td>
      </tr>
    </table>
  </div>
  <img src="{{cdn "webdav:img/bgblack.svg"}}"/>
  <div class="clock">

    <style type="text/css">
      #my-soon-counter {padding-top:0rem;}
      #my-soon-counter {padding-right:0rem;}
      #my-soon-counter {padding-bottom:0rem;}
      #my-soon-counter {padding-left:0rem;}
      #my-soon-counter {background-color:#ffffff;}
      #my-soon-counter .soon-reflection {background-color:#ffffff;background-image:linear-gradient(#ffffff 25%,rgba(255,255,255,0));}
      #my-soon-counter {background-position:top;}
      #my-soon-counter {color:#929292;}
    </style>
    <div class="soon" id="my-soon-counter"
      data-due="2016-12-15T24:00:00"
      data-layout="group label-uppercase label-big label-above"
      data-format="d,h,m,s"
      data-face="flip color-dark shadow-soft corners-sharp"
      data-labels-hours="Hrs"
      data-labels-minutes="MIns"
      data-labels-seconds="Secs">
    </div>

  </div>

</div><!--new-products-box"-->

