{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading">{{lang 'create_account.heading' }}</h1>

      <div class="container-fluid account account--fixed">

        <div class="alert alert-info" role="alert">
          Vitality Depot is proud to sell its products <b>exclusively</b> to <b>Health Care Professionals</b>.
          Unlike some product brokers, who often compete with the customers they serve by selling direct to patients.
          We do not sell to the general public as part of our commitment to offer the best service and everyday reliable value
          to our members. Please allow up to two business days for our team to verify you clinic after which you will be able to
          shop online quickly and easily. If you have any questions or concerns you can contact our customer service team through
          the LiveChat feature on our site or toll free at <b>800-461-0100</b>
        </div>

        <script src="//www.powr.io/powr.js" external-type="html"></script>
        <div class="powr-form-builder" id="6046fddd_1473181742"></div>

      </div>
      <br>
{{/partial}}
{{> layout/base}}
