{{#partial "page"}}
  {{#if settings.account_creation_enabled}}

      {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

      {{#if forms.login.error}}
          {{> components/common/alert-error forms.login.error}}
      {{/if}}
      {{#if forms.login.success}}
          {{> components/common/alert-success forms.login.success}}
      {{/if}}

      <div class="container">
        <div class="col-md-6">
          <h4 class="page-heading"><i>ATTENTION</h4>
          <h4>If you already have a Vitality Depot account just enter your email address and click the <b>Forgot Password</b> button.</i></h4>
          <h4 class="page-heading">{{lang 'login.heading' }}</h4>
          <form action="{{urls.auth.check_login}}" method="post" class="form-horizontal login-form">
            <div class="form-group">
              <label class="col-sm-3" for="login_email">{{lang 'login.field_email'}}</label>
              <div class="col-sm-9">
                <input class="form-control" name="login_email" id="login_email" type="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3" for="login_pass">{{lang 'login.field_password'}}</label>
              <div class="col-sm-9">
                <input class="form-control" id="login_pass" type="password" name="login_pass">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group ">
                <input type="submit" class="btn btn-primary pull-right" value="{{lang 'login.submit_value' }}">
                <a class="forgot-password" href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password' }}</a>
              </div>
            </div>

          </form>
        </div> {{!-- end col-md-6 --}}

        <div class="col-md-6">
          <h4 class="page-heading">{{lang 'login.new_customer.heading' }}</h4>
          <p class="new-customer-intro">{{lang 'login.new_customer.intro' }}</p>
          <ul class="new-customer-fact-list">
              <li class="new-customer-fact">{{lang 'login.new_customer.fact1' }}</li>
              <li class="new-customer-fact">{{lang 'login.new_customer.fact2' }}</li>
              <li class="new-customer-fact">{{lang 'login.new_customer.fact3' }}</li>
              <li class="new-customer-fact">{{lang 'login.new_customer.fact4' }}</li>
              <li class="new-customer-fact">{{lang 'login.new_customer.fact5' }}</li>
          </ul>
          <a href="{{urls.auth.create_account}}"><button class="btn btn-default">{{lang 'login.new_customer.create_account' }}</button></a>
        </div>  {{!-- end col-md-6 --}}
    </div>

      <br><br><br>
  {{/if}}
{{/partial}}
{{> layout/base}}
