.soon[data-layout*='group'] {

    padding:1em 0;
    text-align:center;

    &[data-visual] {
        &[data-reflect='true'] {
            padding-bottom:1.5em;
        }
    }

    .soon-label {
        display:block;
        margin:.325rem 0 0 0;
        margin-right:-1em;
        margin-left:-1em;
    }

    .soon-separator {
        margin:0;
        vertical-align:top;
        min-width:0 !important;
    }

    .soon-separator+.soon-group {
        margin:0 !important;
    }

    .soon-placeholder {
        display:block;
        white-space:nowrap;
    }

    @import 'options/spacing';
    @import 'options/positions';
}
