.soon[data-layout*='line'] {

    text-align:center;
    padding:1em 0;

    &[data-initialized='true'] {
        .soon-placeholder {
            margin-left:-.25em;
        }
    }

    .soon-value,
    .soon-label {
        margin-left:.125em;
        margin-right:.125em;
    }

    .soon-flip {
        margin-top:-.1875em;
    }

}
