.soon {

    &[data-scale='xxl'] {
        font-size:4rem;
    }

    &[data-scale='xl'] {
        font-size:3.5rem;
    }

    &[data-scale='l'] {
        font-size:3rem;
    }

    &[data-scale='m'] {
        font-size:2.5rem;
    }

    &[data-scale='s'] {
        font-size:2rem;
    }

    &[data-scale='xs'] {
        font-size:1.5rem;
    }

    &[data-scale='xxs'] {
        font-size:1.25rem;
    }

}
