.header-tagline{
  text-align: center;
  color: $blue;
  font-size:2em;
}

.reasons{
  background-color: #337ab7;
  text-align:center;
  color:#fff;

  .row{
    height:132px;

    a:link, a:visited{
      color:#fff;
    }
    a:hover{
      color:$darkblue;
    }
    a:hover span{
      background-color:$lightblue;
    }

    img{
      display:inline-block;
      vertical-algin:middle;
      height:100%;
    }

    span{
      height:132px;
    }

    span.reason-text{
      line-height:137px;
      text-align:center;

      p{
        display:inline-block;
        vertical-align: middle;
        line-height:normal;
      }
    }
  }

}



@media screen and (max-width: 991px) {
  video.video-js{
    display:none !important;
  }
}
