@import "colours";
/* Account Addresses */

.account-heading {
  color: $blue;
}
.account-list {
  .label {
    margin-left: .5em;
  }
}
.account-orders-return { 
  background-color: #CCCCCC;
}
h4.address-title{
  margin-bottom:1em;
}

.address-details{
  li{ 
    margin-bottom:1em;
  }
}

ul.address-list {
  list-style:none;
  li.address{
    list-style:none;
  }
  .address-details{
    list-style: none;
    padding: 0;
  }
}

/* Account Settings */
.account-settings{
  .form-field{
    input{
      margin-bottom:1em;
    }
  }

  #FormField_1{
    label, small{
      font-weight:bold;
    }
  }
}

.account-btn-update{
  margin-bottom: 1em;
}

.account-body small{
  font-weight:bold;
}

.inbox-messages {
  p {
    padding-bottom: .5em;
  }
  .message-from-merchant {
    font-weight: bold;
    color: $blue;
  }
  .message-from-customer {
    font-weight: bold;
    color: $asbestos;
  }

}
.message-buttons {
  padding: .5em 0;
}
