.blog {
  .btn-group{
    padding-bottom:10px;
  }
  .dropdown-menu {
    min-width: 350px;
  }
  ul.socialLinks{
    padding-left: 0;
  }
  .addthis_toolbox li{
    width: initial;
  }
}

#sideShare{
  ul.socialLinks{
    padding-left: 0;
  }
  .addthis_toolbox li{
    width: initial;
  }
}
