@import "colours";
.brand-listing {
  height:4.5em;

  .brand-icon {
    padding: .3em .4em;
    color: $blue;
  }

  i{
    float: left;
  }

  a {
    vertical-align: -webkit-baseline-middle;
  }

}

#topBrandsImg{
margin-bottom:1.6em;
line-height:80px;
  img {
    width:15%;
    margin-left:2%;
    margin-right:2%;
    max-height:80px;
  }
}
