.banner-container {
  div.col-md-8{
    /* height: 360px; */
  }
  @media screen and (max-width: 992px){
    div.col-md-8{
      height: initial;
    }
  }
}
.banner {
  padding: 0;
  margin: 0;
  .youtube-video{
    width: 100%;
  }
  .card-figure {
    display: flex;
    align-items: center;

    a {
      width: 100%;
    }

    &:hover {
      .card-image {
        opacity: 0.7;
      }
      .card-figcaption-body {
        transition: 0.2s all;
        opacity: 1;
        top: 40%;
      }
    }

  }

  .card-image {
    position  : relative;
    margin    : auto;
    max-width : 100%;
    max-height: 150px;
    height    : auto;
    width     : auto;
  }

  .card {
    margin: auto;
  }

  .card-body {
    text-align: center;
  }

  .banner-button {
    transition  : all 0.2s;
    position    : absolute;
    display     : block;
    height      : 20px;
    width       : 20px;
    line-height : 0px;
    cursor      : pointer;
    background  : transparent;
    color       : #ccc;
    top         : 50%;
    margin-top  : -10px\9;
    transform   : translate(0, -50%);
    padding     : 0;
    border      : none;
    outline     : none;

    &:hover {
      transition: all 0.2s;
      color: #666;
    }
  }

  .banner-prev {
    @extend .banner-button;
    left: -20px;
  }

  .banner-next {
    @extend .banner-button;
    right: -20px;
  }
  .card-figcaption {
    position    : relative;
    width       : 100%;
    margin-left : -150px;
    height      : 100%;
    overflow    : hidden;
  }

  .card-figcaption-body {
    position  : absolute;
    left      : 0;
    right     : 0;
    opacity   : 0;
    top: 80%;
  }

}

.productCarousel{
  width: 100%;
  text-align: center;

  .slick-track{
    overflow-y: hidden;
  }

  .productCarousel-slide {
    display:inline-block;
  }
}

.youtube-carousel {
  margin-top: 1.2em;
  a {
    text-align: center;
  }
  .slick-track {
    margin: auto;
    transform: inherit;
  }
  .slick-slide {
    display: inline-block;
    text-align: center;
  }
  .banner-link {
    text-align: center;
    margin: auto;
    display: inline-block;
  }
}
