@import "colours";

.cart-right {
  text-align: right;
}

.cart-pricing {
  width: 100%;
  margin-top: 2em;
}

.cart-coupons {
  margin-top: 1em;
  button {
    margin-bottom: .5em;
  }
  .u-hiddenVisually {
    display:none;
  }
}
.cart-actions {
  margin: 1em 0;
  text-align: left;
}
.cart-form {
  input {
    display:block;
  }
}

.coupon-code-cancel, .gift-certificate-cancel, .shipping-estimate-hide{
  background-color:$red;
  border:$red;
}

.coupon-code-cancel:hover, .gift-certificate-cancel:hover, .shipping-estimate-hide:hover{
  background-color:$lightred;
  border:$lightred;
}

.coupon-form .btn, .cart-gift-certificate-form .btn, .shipping-estimate-submit{
margin:2% 0 5% 0;
}

.shipping-estimator .form-label{
  margin-top:2%;
}

.cart-coupons h5{
  font-weight:bold;
  font-size:1.1em;
}

.cart-actions .btn{
    float: right;
    font-size: 1.2em;
    margin:2% 0 5% 0;
    padding: 10px 0;
    width: 250px;
}

@media(max-width :500px) {
  .cart-actions .btn{
    width:100%;
  }
}

.cart-header{
  text-align:left;
  font-weight:bold;
  border-bottom:2px solid #ccc;
  margin-bottom:2%;
}

.cart-content{
  margin-bottom:2em;

  .form-increment{
    .btn{
      height:30px;
      float:left;
    }

    input{
      height:30px;
      float:left;
      box-shadow:0px;
      border:1px solid #ccc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
    }

  }
}

@media(max-width :995px) {
  .cart-content{
    text-align:center;
    .form-increment{
      margin:0 auto;
    }
    .cart-item-name a{
      font-size:1.3em;
    }
    .form-increment{
      margin-top:0.8em;
    }
  }
}

@media(max-width :400px) {
  .cart-content{
    font-size:1em;
    .cart-item-name a{
      font-size:0.9em;
    }
  }
}

p.cart-message{
  a {
    font-size: 1.2em;
    color: $red;
    padding: .4em;
    border: 1px solid red;
    border-radius: 0.2em;
  }
}

.fa-star, .fa-star-o{
  /*color:#2980b9;*/
}
