@import "colours";

.productGrid {
  list-style: none;
  .card-figure{
    position: relative;
    height: 150px;
  }
  li{
    max-height: 35em;
  }
  .card {
    display: inline-block;
  }
  .rating--small {
    padding: 0;
    margin: 0;
    height: 1em;
    overflow: auto;
    text-align: center;
  }
  .card-text, .card-rating{
    margin: 0;
    padding: 0;
  }
  .card-figcaption {
    display: none;
  }
  .card-image {
    border: 0;
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .card-body {
    min-height: 10em;
  }
}

#faceted-search-container {
  li {
    list-style: none;
  }
  h5 {
    font-weight: bold;
  }
  ul {
    padding: 0;
  }
  .formNumber {
    width: 43%;
  }
  .formNumberUpdate {
    margin-top: 1em;
    width:100%;
    background-color: $blue;
    color: $clouds;
  }
  .form-minMaxRow {
    display: inline;
  }
  .form-field {
    display: inline;
  }
  .inlineList--labels li {
   margin-bottom: .5em;
   padding: 0;
   width: 100%;
   :hover a{
    background:red;
   }
  }

  .chevron .fa, .brandAdd, .brandRemove {
    float: right;
    font-weight: lighter;
  }
  a.is-selected {
    .brandAdd {
      display: none;
    }
  }
  a:not(.is-selected) {
    .brandRemove {
      display: none;
    }
  }
  .toggleFilters[aria-expanded="true"] .showMore{
    display: none;
  }
  .toggleFilters[aria-expanded="false"] .showLess{
    display: none;
  }
  .toggleFilters .fa{
    float:right;
  }
  .filtersSelected {
    padding: 8px;
  }
  .clearBtn {
    color: $red;
    background-color: white;
    border-color: $red;
  }

  .toggleLink.is-open .toggleLink-text--off{
    display: none;
  }
  .toggleLink:not(.is-open) .toggleLink-text--on{
    display:none;
  }
   .chevron[aria-expanded="true"] h5 .fa-chevron-down{
      display: none;
    }
    .chevron[aria-expanded="false"] h5 .fa-chevron-up{
      display: none;
    }
}
