// =============================================================================
// Colours (CSS)
// =============================================================================

// Usage
// -----------------------------------------------------------------------------
//
// This file imports all colours from <theme_path>/config.json into scss variables
// use @import "colours"; to use in your scss files
// -----------------------------------------------------------------------------

$textBase                       : stencilColor("color-textBase");
$clouds                         : stencilColor("color-clouds");
$silver                         : stencilColor("color-silver");
$concrete                       : stencilColor("color-concrete");
$asbestos                       : stencilColor("color-asbestos");
$blue                           : stencilColor("color-blue");
$lightblue                      : stencilColor("color-lightblue");
$babyblue                       : stencilColor("color-babyblue");
$darkblue                       : stencilColor("color-darkblue");
$red                            : stencilColor("color-red");
$lightred                       : stencilColor("color-lightred");
$yellow                         : stencilColor("color-yellow");
$green                          : stencilColor("color-green");
$orange                         : stencilColor("color-orange");
