// =============================================================================
// FOOTER (CSS)
// =============================================================================

@import "colours";
// =============================================================================
// NEWSLETTER (CSS)
// =============================================================================
.newsletter {
  color:#fff;
  background-color: $blue;
  -webkit-border-radius: 1.4em;
  -moz-border-radius: 1.4em;
  border-radius: 1.4em;
  padding:0.5em 1.2em;
  margin:1em 0;

  h1{
    font-size: 1.8em;
    color:#fff;
    font-weight:normal;
    margin: 0.5em 0;
    float:left;
  }

  .text{
    padding-top:0.4em;
    padding-left:0.2em;
  }

  .fa-envelope-o{
    font-size:1.8em;
  }

  p{
    font-size: 1em;
    color:#fff;
    font-weight:normal;
  }

  a{
   padding: 0.5em;
    -webkit-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    border-radius: 1.2em;
    margin-top: 2em;
    font-size: 0.8em;
    font-weight:bold;
    color:#fff;
  }

  a:link, a:visited{
    background-color:$lightblue;
  }

  a:hover{
    background-color:$babyblue;
  }
}

@media screen and (max-width: 500px) {
  .newsletter-container{
    padding-left:0;
    padding-right:0;
  }

  .newsletter{
    h1{
      font-size: 1.5em;
      text-align:center;
      float:none;
    }
    p{
      font-size: 0.9em;
      text-align:center;
    }
    .fa-envelope-o{
      display:none;
    }
    .text{
      padding-left:0px;
    }
    a{
      width:100% !important;
      text-align:center;
      display:block;
    }
  }
}

@media screen and (max-width: 400px) {
  .newsletter{
    h1{
      font-size: 1.2em;
    }
    p{
      font-size: 0.9em;
    }
    .fa-envelope-o{
      display:none;
    }
  }
}

// =============================================================================
// FOOTER BOTTOM (CSS)
// =============================================================================
.footer-core{
  list-style: none;
  background-color: #fff;
}

.footer-bottom {
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #337ab7;
  color: #fff;

  div {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  a {
    color: white !important;
    :hover {
      color: whitesmoke;
    }
  }

  .hclicence {
    display: inline-block;
    font-size: 1em;
    text-align: left;
    margin-top:1.2em;
    img {
      float: left;
      padding-right: 0.4em;
    }
    p {
      padding-left: 0.3em;
      line-height:1.4em;
      font-size:0.8em;
      padding-top:0.2em;
    }
  }

  .ssl {
    .fa-stack-thumb{
      float:left;
    }
    .ssl-text {
      padding: 0;
      font-size:0.8em;
      float:left;
      margin-top:1.2em;
    }
  }

  .fa-thumbs-up {
    color: #337ab7 !important;
    margin-top: .3em;
    font-size: .7em;
  }

  .footer-copyright {
    font-size: 0.9em;
  }

  .footer-payment i{
    margin-top:0.35em;
  }

}


@media screen and (min-width:992px) and (max-width: 1198px) {
  .footer-core .contact-us{
    .fa{
      display:none;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer-core .contact-us{
    background-color: $blue;
    font-size: 1.2em;
    padding-bottom: 1em;
    text-align: center;

    h3{
      color:#fff;
      font-weight:normal;
    }

    .fa{
      color: $babyblue;
    }

    a:link, a:visited, a:hover{
      color:#fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer-payment{
    .fa-3x{
      font-size: 2.7em;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-payment{
    margin:0 13% 0;
    .fa-3x{
      font-size: 2.4em;
      text-align:center !important;
    }
  }

  .footer-bottom .hclicence{
    display:block !important;
    margin-top:0px;
    width:100%;
  }

  .footer-bottom .hclicence img{
    width:100%;
    padding-right:0px;
  }

  .footer-bottom .hclicence p{
    text-align:center;
    padding-top:3.5em;
  }

  .ssl{
    padding-left:7px;
  }

  .footer-copyright{
    text-align:center;
  }

}
