@import "colours";

.topheader {
max-width:1150px;
margin: 5px auto;
  .toploginlist {
    list-style-type: none;
  }
  .dropdown.dropdown--quickSearch.col-md-4{
    padding-top: 12px;
  }
  div > ul.row.navPages-list {
    padding-top: 21px;
  }
  li.navPages-item {
  display: inline;

    i.fa{
      font-size: 2.9em;
    }
  }

  #search_query {
    border: 1px solid $blue;
    display: inline;
    width: 85%;
    font-size: 14px;
    height: 45px;

    -moz-border-radius: 9px 0px 0px 9px;
  border-radius: 9px 0px 0px 9px;
  border-right:0px;
  float:left;
  }

.searchLabels{
  border: solid $blue;
  border-width: 1px 0;
  margin:0;
  padding:0;
  a{
    color: $asbestos;
  }
}

.searchLabel1{
margin-bottom:10px;
}

.searchLabel2{
margin-top:10px;
}

}

.search-btn {
    background: #f4f4f4 url("../img/Search.svg") no-repeat scroll center center / 34px auto !important;
    border: 1px solid #337ab7 !important;
    border-radius: 0 10px 10px 0 !important;
    height: 45px;
    width: 15%;
    margin-left:0px;
    padding:0;
    float:left;
}
