.banner-container {
  margin-top:10px;

  .new-products-button{
    width:48%;
    margin-right:2%;
    float:left;
    @media(max-width :991px){
      margin-top:1%;
    }
    @media(max-width :540px){
      margin-top:2%;
    }
    @media(max-width :335px){
      margin-top:3%;
    }
  }

  .promo-button{
    width:48%;
    margin-left:2%;
    float:right;
    @media(max-width :991px){
      margin-top:1%;
    }
    @media(max-width :540px){
      margin-top:2%;
    }
    @media(max-width :335px){
      margin-top:3%;
    }
  }

  .flipclock-button{
    background:#28272a;
    width:171px;
    height:151px;
    margin-left:2%;
    float:left;
    position:relative;
    @media(max-width :1199px) {
      width:140px !important;
      height:123px !important;
    }
    @media(max-width :991px) {
      margin-top:1%;
      width:300px !important;
      height:263px !important;
      float:right !important;
    }
    @media(max-width :669px) {
      margin-top:1%;
      width:48% !important;
      height:20% !important;
    }
      @media(max-width :540px){
      margin-top:2%;
    }
    @media(max-width :335px) {
      margin-top:3%;
    }

    img{
      width:100%;
      height:100%;
    }

    .clock-table{
      height:70%;
      width:100%;
      position:absolute;
      top:0;
      font-size:0.8em;
      @media(max-width :1199px) {
        height:63% !important;
      }
      @media(max-width :991px) {
        height:72% !important;
        font-size:1.3em !important;
      }
      @media(max-width :735px) {
        height:75% !important;
        font-size:1em !important;
      }
      @media(max-width :540px) {
        height:70% !important;
        font-size:1em !important;
      }
      @media(max-width :389px) {
        height:65% !important;
        font-size:0.8em !important;
      }
      @media(max-width :335px) {
        height:60% !important;
        font-size:0.7em !important;
      }

      table.top{
        width:100%;
        height:100%;

        td{
          color:#fff;
          background-color: #343434;
          text-align: center;
          border:3px solid #000;
          height:25%;
        }
      }
    }

    .clock{
      height:30%;
      width:100%;
      position:absolute;
      bottom:0;
      border:4px solid #000;

      @media(max-width :1199px) {
        height:37% !important;
      }
      @media(max-width :991px) {
        height:28% !important;
      }
      @media(max-width :735px) {
        height:25% !important;
      }
      @media(max-width :540px) {
        height:30% !important;
      }
      @media(max-width :389px) {
        height:35% !important;
      }
      @media(max-width :335px) {
        height:40% !important;
      }

    }
  }
}

/* MIDDLE BUTTONS */
.middle-buttons{
  div{
    @media(max-width :991px) {
      margin-top:1%;
    }
    @media(max-width :540px) {
      margin-top:2%;
    }

    img{
      margin:0 auto;
      @media(max-width :767px) {
        width:50%;
      }
      @media(max-width :500px) {
        width:70%;
      }
      @media(max-width :450px) {
        width:100%;
      }
    }
  }
}

@media(max-width :389px) {
  /* disable chat in mobile */
  #livechat-compact-container{
    display:none !important;
  }
  #livechat-eye-catcher{
    display:none !important;
  }
}

.section-header{
  @media(max-width :991px) {
    font-size:2em;
  }
  @media(max-width :991px) {
    font-size:1.3em;
  }
}

hr.divider-line {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(1, 3, 7, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color: #337ab7;
}

.btn-vd{
  background-color: #357bb7;
  border:0px;
}

.btn-vd:hover{
    background-color:#92c5ea;
}
