.modal-content {
  transition: 0.5s all;
  border-radius: 0;
  .modal-body {
    transition: 0.5s all;
    overflow-y: scroll;
  }
}

.loadingOverlay {
  transition: 0.5s all;
  min-height: 200px;
  position: relative;
  color: $blue;

  & > div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  i {
    margin: auto;
    font-size: 40px;
  }
}
