.main-nav {
  transition        : all 0.2s;
  position          : relative;
  background        : $blue;
  color             : white;
  max-width         : 1150px;
  margin            : 0 auto;
  z-index: 9;
  //white-space       : nowrap;
  .mobile-button {
    display: none;
  }
  .left {
    float: right;
  }
  ul, li {
    padding : 0;
    margin  : 0;
  }

  //first li elements in the menu.
  .main-nav-menu > li > .main-nav-a, .left > li > .main-nav-a {
    &:hover {
      transition        : all 0.2s;
      background        : $darkblue;
    }
  }
  .left .first-menu-option {
    position: relative;
    .main-nav-a {
    }

    .icon {
      position: absolute;
      left: 14px;
      top: 20px;
      font-size: 19px;
    }
  }

  .main-nav-a {
    color           : inherit;
    text-decoration : none;
    font-size       : 14px;
    width           : 100%;
    display         : block;
    padding         : 20px 30px 40px;
    height          : 40px;
    display:block;
    position:relative;

    span {
      margin-right:10px;
      display:block;
      float:left;
      background-repeat: no-repeat;
    }

    span.sale {
      width:37px;
      height:35px;
      margin-top:-6px;
      background-image:url("../img/Megaphone.svg");
    }

    span.faq {
      width:27px;
      height:43px;
      margin-top:-10px;
      background-image:url("../img/QuestionMark.svg");
    }

    span.brands {
      width:40px;
      height:36px;
      margin-top:-8px;
      background-image:url("../img/Brands.svg");
    }

    span.shipping-and-returns {
      width:60px;
      height:25px;
      background-image:url("../img/RaceCar.svg");
    }

    span.tracking {
      width:40px;
      height:26px;
      background-image:url("../img/Helicopter.svg");
    }
  }

  .main-nav-a:hover {
    color:$babyblue;

    span.sale {
      background-image:url("../img/Megaphone-Hover.svg");
    }

    span.faq {
      background-image:url("../img/QuestionMark-Hover.svg");
    }

    span.brands {
      background-image:url("../img/Brands-Hover.svg");
    }

    span.shipping-and-returns {
      background-image:url("../img/RaceCar-Hover.svg");
    }

    span.tracking {
      background-image:url("../img/Helicopter-Hover.svg");
    }

  }


  li {
    background    : $blue;
    display       : inline-block;

    .category-dropdown {

      display   : none;

      li {

        i {
          margin-top: 3px;
          margin-left: 5px;
        }

        display: block;

      }
    }

    &:hover > ul {
      display: block;
    }
  }

  .second-menu-option {
    height: 1.8em;
  }

  .second-menu-option > a {
    padding: 0 2em 0;
  }

  .second-menu-option:hover {
    transition  : all 0.2s;
    background  : $blue;
  }

  .main-nav-submenu-list {
    display     : none;
    background  : white;
    min-width   : 330px;
    color       : #666;
    position    : absolute;
    left        : 100%;
    width       : 100%;
    height      : 100%;
    top         : 0;

    li {
      font-size: 14px;
      background: white;

      a {font-size: 14px;}

    }
  }
}

@media(max-width :1200px) and (min-width: 995px) {
  .main-nav .main-nav-a {
    padding: 20px 15px 40px;
  }
}

@media(max-width :995px) {
  .second-menu-option {
    height: 3.5em !important;
  }

  .second-menu-option > a {
    padding: 3.5em 2em;
  }

  .main-nav-menu {
    transition      : all 0.5s;
    display         : flex;
    display         : none;
    position        : absolute;
    flex-direction  : column-reverse;
  }

  .category-dropdown {
    position: relative;
  }

  .mobile-button {
    transition: all 0.2s;
    display: block !important;
    width: 100%;
    background: $blue;
    border: none;
    height: 55px;
    font-size: 15px;
    border-bottom: solid 1px white;

    &:hover {
      transition: all 0.2s;
      background : $darkblue;
    }
  }

  .left {
    width: 100%;
    //position: absolute;
    display: block;

  }
  .first-menu-option {
    width: 100%;
  }

  .main-nav-submenu-list {
    display: none !important;
    width: 100%;
  }
}


.navPages-container {
  background-color:$blue;
}

.main-nav-menu {
  height:50px;
}

@media(min-width :995px) {
  .main-nav-menu {
    display: block !important;
  }
  .category-dropdown {
    position: absolute;
  }
  .main-nav {
    display: block;
  }

  .main-nav-submenu-list {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);

    a:hover {
      transition        : all 0.2s;
      background: #eee;
    }
  }
}

@media(max-width :500px) {
  .main-nav .main-nav-a span{
    display:none;
  }
}
