.product-slider {

}

.slick-next {}

.slick-arrow {
  background: black;
}

ul.banner, section.banner {
  button.slick-arrow {
    height: 3em;
  }
}
.card-figure {
  height: 150px;
}

a {
  margin: 0 auto;
}

.card {
  padding: 5px;
  max-width: 150px;
}

.card-image {
  height: 100%;
  width: auto;
}

.card-text {
  font-size: 13px;
  padding: 0;
  margin: 0;

  &:after {
    content: ":";
  }
}

.card-title {
  a {
    text-decoration: none;
  }
}
