@import "colours";

.productView-thumbnails{
  padding:0;
  margin:0;

  .productView-thumbnail {
    display: inline;
    margin-bottom:10px;
  }

  a{
    background-color:fff;
    width:100%;
    height:120px;
    float:left;
    border: solid 1px $silver;
    position: relative;
  }

  a:hover {
    text-decoration: none;
    border: solid 1px $blue;
  }
  div > a > img {
    transition  : border 0.35s;
    display:block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


    &:hover {
      transition  : border 0.35s;
    }
  }
}

.productView-image {
  margin-bottom: 10px;
  height:auto;
  img{
    margin  : auto auto;
    display : block;
    width: 100%;
  }
}

.form-increment{
  .btn {
    transition    : all 0.2s;
    height        : 32px;
    padding-right : 20px;
    float:left;


    &:hover {
      transition: all 0.2s;
    }
  }

  input {
    width           : 90px;
    height          : 32px;
    padding-bottom  : 3px;
    margin-bottom   : 8px;
    text-align      : center;
    border-radius   : 3px;
          float:left;
      box-shadow:0px;
      border:1px solid #ccc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
  }
}

.productView-details {
  .category-btn{
    margin-bottom: 4px;
  }
}

.addthis_toolbox {
  ul {
    list-style-type: none;
  }
  li {
    display : inline;
    height : 29px;
    line-height: 29px;
    width  : 7%;
  }
}

@media(max-width :600px) {
.addthis_toolbox {
  width:80%;
  li {
    width  : 33%;
    margin-bottom: 0.5em;
  }
}
}

svg {
  display:none;
}

.socialLinks {
  padding:0;
  margin:0;
	iframe{
		// display:none;
	}
	span.at_PinItButton {
		display:none;
	}
}

.productView-info{
  dt {
    float: left;
  }
  dd {
    padding-bottom: 4px;
  }
}

.productView-description{
  ul.nav-tabs, .nav-tabs > li > a:hover {
    border-bottom:0;
  }
  .nav-tabs > li > a {
    transition: background-color 0.30s, color 0.25s;

    &:hover{
      transition: background-color 0.30s, color 0.25s;
    }
  }

  img{
    display: block;
    max-width: 100%;
    height: auto;
    margin:1%;
  }

@media(max-width :995px) {
  iframe{
    max-width: 100%;
    height: auto;
  }
}
}

.videoGallery{
  iframe{
    margin: 10px auto;
    display: block;
  }
  ul {
    text-align: center;
  }
  li{
    display: inline-block;
  }
}

.tabs-contents {
  li{
    list-style-type: none;
  }
}

.swatches {
  input.form-radio{
    display: none;
  }
  input.form-radio:checked + label{
    border-color: $asbestos;
    transition: all 0.25s;
  }
  span.form-option-variant {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid $clouds;
  }
  label.form-option{
    border: 1px solid $clouds;
    padding: 4px;
    vertical-align: middle;
    height: 35px;
    transition: all 0.25s;
  }
}

#product-reviews {
  a.product-reviews-toggle[aria-expanded="false"] {
    span.product-reviews-hide {
      display: none;
    }
    span.product-reviews-show {
      display: inline;
    }
  }

  a.product-reviews-toggle[aria-expanded="true"] {
    span.product-reviews-hide {
      display: inline;
    }
    span.product-reviews-show {
      display: none;
    }
  }
}

@media(max-width :600px) {
  .product-desc-container{
    margin:0;
    padding:0;

    h2{
      font-size:1.8em;
    }
  }
}

.videoGallery-list{
  margin: 0;
  padding: 0;
}

.productView-reviewLink{
  margin: 10px 0;
}

.sale-price{
color:$red;
}
