#quickSearchList{
  margin-top: -35px;
}
.quickSearchResults{
  &:hover, &:focus{
    display: block !important;
  }
  i{
    color: #BFBFBF;
    float: left;
  }

  .productGrid {
    position: absolute;
    z-index: 10;
    max-height: 250%;
    width: 131%;
    margin-left:-21%;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    border: solid 1px #CECECE;
    padding-left: 0;
      li{
        list-style-type: none;
        transition: background-color 0.30s;
        min-height: 100px;
          &:nth-child(even) {
            background-color: rgba(243,243,243,0.76);
          }
          &:hover {
            background-color: rgba(221, 255, 250, 0.81);
            transition: background-color 0.30s;
          }
        }
    .card {
      display:block;
    }
  }
  .card{
    max-width:none;

  }
  .card-text{
    display:none;
  }
  div.card-body{
    min-height: 0;
    margin-top: 34px;
  }
  img.card-image {
    height: 90%;
  }
  .card-figcaption-body{
    display:none;
  }
  .card-figure {
     max-height: 95px;
  }
}
