.quick-cart {
  table {
    padding: 0;
    margin: 0;
  }
  .quick-cart-quantity {
    width: 50%;
  }
  .quick-cart-titles span {
    font-size: 1.2em;
  }
  .quick-cart-pricing{
    padding-top: 1.8em;
  }
  img {
    width: 64px;
    margin: auto;
  }
  .quick-cart-product:nth-child(even) {
    background-color: rgb(248,248,248);
  }
  .quick-cart-product-thumb {
    padding: 1em 0;
  }
  .quick-cart-element {
    display: inline-block;
  }
  button {
    margin-top: 1.8em;
    display: inline-block;
  }
  #quick-cart-remove-button {
    display: inline-block;
  }
}
.quick-cart-help {
  margin: 0 .5em;
}
.quick-cart-preview-product {
  margin: .8em 0;
}
