#shipping-returns-credit {
  .shipping-returns-credit-title {
    margin-top: 0;
  }
  .fa-chevron-up {
    display: none;
  }
  a[aria-expanded="true"] {
    .fa-chevron-up {
      display: inline;
    }
    .fa-chevron-down {
      display: none;
    }
  }
  a[aria-expanded="false"] {
    .fa-chevron-up {
      display: none;
    }
    .fa-chevron-down {
      display: inline;
    }
  }
}

table.shipping{
  width:100%;

  tr.border-top{
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
  }
  tr.border-bottom{
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
  }
  tr.border-full{
    border: 3px solid #58b64e;
  }
  tr.blue{
    border-color:#064579;
  }
  tr.red{
    border-color:#bb242c;
  }
  tr.yellow{
    border-color:#f7ea48;
  }

  td{
    padding:1%;
    text-align:center;
    font-weight:bold;
    h4{
      font-weight:normal;
    }
  }

  td.right-text{
    text-align:right;
  }

  td.green{
    color: #58b64e;
  }
}

