.social-links {
  ul {
      overflow: auto;
  }
   
  ul li {
      list-style-type: none;
      float: left;
  }
   
  ul li a i {
      background: #337ab7;
      color: #fff;
      width: 40px;
      height: 60px;
      border-radius: 11px;
      text-align: center;
      margin-right: 10px;
      font-size: 40px;
      padding-top: 10%;
      transition: all 0.2s ease-in-out;
  }
  .fa-facebook {
      background:#337ab7
  } 
  .fa-linkedin {
      background:#007bb6
  }
  .fa-twitter {
      background:#337ab7
  }
  .google-plus {
      background:#fff
  }
  ul li a i:hover {
      opacity: .7;
  }
}

