
.toploginlist{
  margin:0;
  padding:0;
  .navPages-item{
    width:25%;
    padding:0;

    .navPages-action{
      width:100%;
      display:block;
    }

    span{
      width:100%;
      display:block;
      float:left;
      background-repeat: no-repeat;
    }

    span.image{
      height:45px;
    }

    span.text{
      clear:both;
    }

  }
}

.navPages-item{
  color: #337ab7;
  .dropdown{
    cursor: pointer;
  }
}

@media(min-width :990px) {
  .coming-soon{
  }
}
