.pace {
  pointer-events: none;
  user-select: none;

  .pace-progress {
    background:  #666;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
}

.pace-inactive {
  display: none;
}
