.vd-inner{
  .well{
    background-color:#E7F5FD;
    border: 0px solid;
    border-radius: 0px;
    min-height: 439px;
  }
}

@media(max-width :1187px) {
  .vd-inner{
    .well{
      min-height: 380px;
    }
  }
}
