/**
  Where to buy map.
*/
.wtb-map-text {
  h3, h4 {
    color: #337ab7;
  }
}
.wtb-map {
  a.action {
    margin-right: 7px;
  }
  .hours table{
    font-size: 11px;
  }

  #map-canvas, #panel { height: 500px; }


  #panel {
    width: 300px;
    float: left;
    margin-right: 10px;
  }

  #panel .feature-filter label {
    width: 130px;
  }

  p.attribution, p.attribution a {
    color: #666;
  }

  .store {
    .features {
      margin-top: 7px;
      margin-bottom: 7px;
      text-align: center;

      li img{
        width: 60px;
      }
    }

    a.action {
      color: #2980b9;
      text-decoration: none;
    }
  }

  #feature-selector-panel {
    img {
      max-height: 60px;
      max-width: 145px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    label{
      width: 160px;
      height: 70px;
      border: 2px solid #d6d4d4;
      position: relative;
      -moz-border-radius: 15px;
      border-radius: 15px;
      background: #fff;
      background: -webkit-linear-gradient(#fff, #eee);
      background: -o-linear-gradient(#fff, #eee);
      background: -moz-linear-gradient(#fff, #eee);
      background: linear-gradient(#fff, #eee);
    }
    input{
      display: inline-block;
      visibility: hidden;
    }
  }


  @media (max-width: 800px) {

  #feature-selector-panel {
      img {
        width:100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      label{
        width: 23%;
        margin-left: 1%;
        padding-left: 3%;
        padding-right: 3%;
      }

      input{
        display:none;
      }
    }
  }

  @media (max-width: 500px) {

  #feature-selector-panel {
      img {
        width:100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      label{
        width: 48%;
        margin-left: 1%;
        padding-left: 2%;
        padding-right: 2%;
      }

      input{
        display:none;
      }
    }
  }

  input[type="checkbox"]:checked + label, #feature-selector-panel .active {
    z-index: 999;
  }

#feature-selector-panel label.active {
  border: 2px solid #337ab7;
}
#feature-selector-panel a {
  display: inline-block;
  background: rgba(0, 0, 0, 0) linear-gradient(#fff, #eee) repeat scroll 0 0;
  border: 2px solid #d6d4d4;
  border-radius: 15px;
  height: 70px;
  position: relative;
  width: 160px;
  margin-bottom: 5px;
}

  .storelocator-panel {
    border: 1px solid #ccc;
    overflow: auto;
  }

  .storelocator-panel .store-list {
    margin: 0;
    padding: 0;
  }

  .storelocator-panel .store-list li,
  .storelocator-panel .directions-panel {
    padding: 5px;
  }
  .storelocator-panel .directions-panel {
    font-size: 0.8em;
  }

  .storelocator-panel .store-list li.store:hover {
    cursor: pointer;
    background: #eee;
  }

  .storelocator-panel .store-list li.highlighted,
  .storelocator-panel .store-list li.highlighted:hover {
    background: #ddd;
  }

  .storelocator-panel .directions {
    display: none;
  }

  .storelocator-panel .location-search {
    padding: 5px;
  }

  .storelocator-panel .location-search input {
    width: 95%;
  }

  .storelocator-panel .location-search h4 {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }

  .storelocator-panel .store-list .no-stores {
    color: grey;
  }

  .storelocator-panel .store .features {
    display: none;
  }

  .storelocator-panel .feature-filter {
    overflow: hidden;
  }

  .storelocator-panel .feature-filter label {
    display: block;
    font-size: 0.8em;
    margin: 0 0.4em;
    float: left;
  }

  .store .title {
    font-weight: bold;
  }

  .store .address,
  .store .phone,
  .store .web,
  .store .misc {
    font-size: 80%;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    display: block;
  }

  .store .features {
    overflow  : hidden;
    color     : grey;
    margin    : 0;
    padding   : 0;
    font-size : 70%;
    max-width : 250px;
    li {
      display       : inline;
      float         : left;
      padding-right : 0.8em;

      img{
        width: 60px;
      }
    }
  }


  .store .web a {
    color: green
  }

  .store .action {
    font-size: 0.8em;
    color: green;
    margin-top: 5px;
    margin-right: 0.5em;
  }
}

 @media (max-width: 700px) {
 .wtb-map{
  height:1200px;
  position:relative;
}

      #map-canvas, #panel {
        width: 100% !important;
        position:absolute;
      }

    #panel {
      width: 100% important;
      position:absolute;
      top:580px;
    }

  }

   @media (max-width: 500px) {
 .wtb-map{
  height:1200px !important;
  position:relative;
}

      #map-canvas, #panel {
        width: 100% !important;
        position:absolute;
      }

    #panel {
      width: 100% important;
      position:absolute;
      top:665px;
    }

  }


