@import "colours";

.youtube-modal {
  width: 868px;
  text-align: center !important;
  h2 {
    color: $blue;
  }
}

#myCarousel .carousel-control i.fa-caret-left, #myCarousel .carousel-control i.fa-caret-right {
 font-size: 2.3em;
 margin-top: 130%;
}

#myCarousel .carousel-indicators{
  bottom: 0px;
}

#homeSlider .carousel-control i.fa-caret-left, #homeSlider .carousel-control i.fa-caret-right {
 font-size: 2.3em;
 margin-top: 140%;
}

#homeSlider .carousel-indicators{
  bottom: 0px;
}

@media(max-width :989px) {
  #myCarousel .carousel-control, #homeSlider .carousel-control{
    width:10% !important;
  }

  #myCarousel{
    width:400px;
    margin:0 auto;
  }

  #homeSlider .carousel-control i.fa-caret-left, #homeSlider .carousel-control i.fa-caret-right {
   margin-top: 205%;
  }

  #myCarousel .carousel-control i.fa-caret-left, #myCarousel .carousel-control i.fa-caret-right {
   margin-top: 220%;
  }
}

@media(max-width :500px) {
  #myCarousel{
    width:100%;
  }
}
