{{#if items}}
<div class="accordion-block">
      <div href="#facetedSearch-content--{{ facet }}" role="button" class="chevron" aria-controls="#facetedSearch-navList--{{ facet }}" aria-expanded="false" data-toggle="collapse">
        <h5 class="accordion-title">
            {{ title }} <i class="fa fa-chevron-up" aria-hidden="true"></i><i class="fa fa-chevron-down" aria-hidden="true"></i>
        </h5>

        <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}
        </div>
    </div>

    <div id="facetedSearch-content--{{ facet }}" class="accordion-content {{#unless ../start_collapsed }} collapse in {{/unless}}">
        <ul class="navList">
            {{#each items}}
                <li class="navList-item">
                    <a
                        href="{{url}}"
                        class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}} {{#if has_sub_categories }} has-children {{/if}}"
                        data-id="{{ id }}"
                        data-faceted-search-facet>
                        {{ title }}
                        {{#if ../show_product_counts}}
                            {{#if count}}
                                <span>({{ count }})</span>
                            {{/if}}
                        {{/if}}
                    </a>
                    {{#if children}}
                        {{> components/faceted-search/facets/hierarchy-children children}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{ facet }}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--on">{{lang 'search.faceted.show-less'}}</span>
                <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
    </div>
</div>
{{/if}}
