{{#if items}}
<div class="accordion-block">
  
          <div href="#facetedSearch-content--{{ facet }}" role="button" class="chevron" aria-controls="#facetedSearch-navList--{{ facet }}" aria-expanded="true" data-toggle="collapse">
        <h5 class="accordion-title">
            {{ title }} <i class="fa fa-chevron-up" aria-hidden="true"></i><i class="fa fa-chevron-down" aria-hidden="true"></i>
        </h5>

        <!-- <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink btn btn-sm btn-primary clearBtn" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}           
        </div> -->
    </div>

    <div id="facetedSearch-content--{{ facet }}" class="accordion-content collapse in" aria-expanded="">
        <ul id="facetedSearch-navList--{{ facet }}" class="navList" data-count="{{ items_count }}">
            {{#each items}}
                <li class="navList-item">
                    <a
                        href="{{ url }}"
                        class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}"
                        data-faceted-search-facet>
                        {{ title }}
                        {{#if ../show_product_counts}}
                            <span>({{ count }})</span>
                        {{/if}}

                        <span class="brandAdd" aria-hidden="true">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </span>
                        <span class="brandRemove" aria-hidden="true">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            {{/each}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{ facet }}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--on">{{lang 'search.faceted.show-less'}}</span>
                <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
    </div>
</div>
{{/if}}
