<div class="accordion-block">
  <div href="#facetedSearch-content--{{ facet }}" role="button" class="chevron" aria-controls="#facetedSearch-navList--{{ facet }}" aria-expanded="true" data-toggle="collapse">
  <h5 class="accordion-title">
    {{ title }}  <i class="fa fa-chevron-up" aria-hidden="true"></i><i class="fa fa-chevron-down" aria-hidden="true"></i>

  </h5>
  </div>
</div>

<div id="facetedSearch-content--{{ facet }}" class="accordion-content {{#unless ../start_collapsed }} collapse in {{/unless}}">
  <form id="facet-range-form" class="form" method="get" data-faceted-search-range novalidate>
    {{#each current_selected_items}}
      <input type="hidden" name="{{ param_name }}[]" value="{{ param_value }}"/>
    {{/each}}
    <input type="hidden" name="search_query" value="{{search_query}}">
    {{#if sort}}
      <input type="hidden" name="sort" value="{{sort}}">
    {{/if}}
    <fieldset class="form-fieldset">
      <div class="form-minMaxRow">
          <div class="form-field">
              <input
                  name="min_price"
                  placeholder="{{lang 'search.faceted.range.min-placeholder'}}"
                  min="0"
                  class="formNumber"
                  required
                  type="number"
                  value="{{ min_price }}"
              />
          </div>
          to
          <div class="form-field">
              <input
              name="max_price"
                placeholder="{{lang 'search.faceted.range.max-placeholder'}}"
                min="0"
                class="formNumber"
                required
                type="number"
                value="{{ max_price }}"
              />
                    </div>

                    <div class="form-field">
                        <button class="btn btn-sm formNumberUpdate" type="submit">
                            {{lang 'search.faceted.range.update'}}
                        </button>
                    </div>
                </div>

                <div class="form-inlineMessage"></div>
            </fieldset>
        </form>
    </div>
</div>
