{{#if items}}
<div class="accordion-block">
      <div href="#facetedSearch-content--{{ facet }}" role="button" class="chevron" aria-controls="#facetedSearch-navList--{{ facet }}" aria-expanded="false" data-toggle="collapse">
        <h5 class="accordion-title">
            {{ title }} <i class="fa fa-chevron-up" aria-hidden="true"></i><i class="fa fa-chevron-down" aria-hidden="true"></i>
        </h5>

        <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}
        </div>
    </div>

    <div id="facetedSearch-content--{{ facet }}" class="accordion-content {{#unless ../start_collapsed }} collapse in {{/unless}}">
        <ul class="navList">
            {{#each items}}
                <li class="navList-item">
                    <a href="{{ url }}" class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}" data-faceted-search-facet>
                        <span class="rating--small">
                            {{> components/products/ratings rating=title}}
                        </span>
                        {{lang 'search.faceted.rating.and-up'}}
                        {{#if ../show_product_counts}}
                            <span>({{ count }})</span>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
