{{!--
  This is modal content.
--}}

<div class="quick-cart-add">
  <header class="wishlist-header">
    <h1>{{lang 'Create new Wishlist'}}</h1>
  </header>

  <form class="form" id="quick-cart-create-form">

    <div class="form-group">
      <label class="form-label" for="wishlistname">
        Name:
      </label>
      <input class="form-control" name="name" id="quick-cart-name">
    </div>

    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="{{lang 'Create Quick Cart'}}">
    </div>

  </form>
</div>
