{{#if customer}}
  {{#if customer.customer_group_id "==" "1"}}
    <div class="text-center catalog">
      <h2>
        <a href="/content/2016 Spring Catalog WEB.pdf" target="_blank">
          <i class="fa fa-2x fa-file-text-o" aria-hidden="true"></i>
          View Catalog
        </a>
      </h2>
    </div>
  {{else}}
  <p> The PDF version of the catalog is available for clinics only. </p> 
  {{/if}}
{{else}}
  <p>If you are a clinic account, please <a href="{{urls.auth.login}}">login</a> to view the catalog.</p>
{{/if}}

