<div class="wishlist-add">
  <header class="wishlist-header">
    <h1>Edit Quick Cart</h1>
    {{#if forms.wishlist.errors}}
      {{> components/common/alert-error forms.wishlist.errors}}
    {{/if}}
  </header>
  <form
    action  = "{{urls.account.wishlists.edit}}"
    class   = "form wishlist-form"
    id      = "wishlist-edit-form"
    method  = "post">
    <input type="hidden" name="submit">

    <div class="form-field">
      <label class="form-label" for="wishlistname">
        Quick Cart name:
        <small>{{lang 'common.required' }}</small>
      </label>
      <input class="form-input" name="wishlistname" id="wishlistname" value="{{forms.wishlist.name}}">
    </div>
    <div class="form-field hidden">
      <input type="checkbox" class="form-checkbox" name="publicwishlist" id="publicwishlist" checked> 
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary"
      value="Save Changes">
    </div>
  </form>

</div>
