<div class="row">
  <div class="col-md-6">
    <p><img class="img-responsive" src="https://vitalitydepot.ca/product_images/uploaded_images/robot.jpg" alt="robot.jpg" /></p>
  </div>
  <div class="col-md-6 wtb-map-text">
    <h3>Thank you very much for your interest in our products.</h3>
    <h4>Vitality Depot sells exclusively to healthcare professionals.</h4>
    <p>Vitality Depot only sells directly to healthcare professionals, however we want to help you find these excellent products at your most convenient&nbsp;healthcare supplier. &nbsp;Enter you postal code on the map below to find any of these products near you.</p>
    <p>If you looking for something else call our customer service team at 1.800.461.0100 and we will find the closest clinic retailing that product.</p>
    <h4>Again thank you for your interest in our products.</h4>
  </div>
  <p>Soon, you'll be able to add yourself to the map!</p>
<!--<p style="float: left; margin-top: 10%; margin-left: 5%;"><a href="http://vitalitydepot.ca/add-map-location/"><button style="font-size: 16px; height: 100px; width: 220px; color: #fff; background-color: #337ab7; border: 1px solid; border-color: #fff; border-radius: 7px; line-height: 1.3em;"> Want to be added<br />to the map? <br /> need to wait till login</button></a></p>-->
</div>
<hr>
<div class="wtb-map row">
  <div id="feature-selector-panel"></div>
  <div id="panel"></div>
  <div id="map-canvas"></div>
</div>

{{#partial "endscripts"}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyBiNhx6zfIBximPx76kRrs2g4MaoU-ohCQ"></script>
  <script src="{{cdn 'assets/libs/js/store-locator.min.js'}}"></script>
  <script src="{{cdn 'assets/libs/js/location-client.js'}}"></script>
{{/partial}}
