{{#if cart.items}}
  {{#each cart.items}} 
    <div class="col-md-6 quick-cart-preview-product">
      {{#if name}}
        <div class="col-md-3">
          <img class="cart-item-image" src="{{getImage image 'preview' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}">
        </div>
        <div class="col-md-9">
          <p>
            <strong>{{quantity}}</strong> <a href="{{url}}">{{name}}</a>
          </p>
          <p>
            {{#each options}}
              {{value}}
            {{/each}}
          </p>
        </div>
      {{/if}}
    </div>

  {{/each}}
{{else}}
  <div class="col-md-12">
    Your cart is empty.
  </div>
{{/if}}

