<div class="quick-cart-product row"
  data-product-has-options="{{has_options}}"
  data-product-id="{{id}}">

  <form class="quick-cart-add-to-cart" id="{{id}}" action="">
    <div class="quick-cart-image quick-cart-element col-md-7 col-xs-12">
      <div class="media quick-cart-product-thumb">
        <div class="media-left">
          <img 
          class="media-object"
          src="{{getImage image 'product' (cdn theme_settings.default_image_product)}}"
          alt="{{image.alt}}"
          >
        </div>
        <div class="media-body">
          <h5 class="media-heading">
            <a href="{{url}}" target="_blank">{{name}}</a>
          </h5>
          <div class="{{#if has_options}}quick-cart-options{{/if}} input-group"></div>
        </div>
      </div>

    </div>

    <div class="quick-cart-pricing quick-cart-element col-md-3 col-xs-12">
      <input class="quick-cart-quantity" type="number" name="quantity" min="0" value="0"></input>
      <strong>{{price.without_tax.formatted}}</strong>/ea
    </div>

    <div class="quick-cart-element col-md-2 col-xs-12">
      <button type="submit" form="{{id}}" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Add to cart">
        <i class="fa fa-cart-plus" aria-hidden="true"></i>
      </button>
      </form>
      <form action="{{remove_url}}" class="form" method="post" id="quick-cart-remove-button">
        <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Remove from quick cart">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>

      </form>

    </div>

</div>
