{{#each product.options}}
  {{#if type "===" "Configurable_Entry_Checkbox"}}
  <strong>{{display_name}}</strong>
  <input type="checkbox" name="{{id}}" checked="" value="{{type}}">
  {{/if}}

  {{#if type "===" "Configurable_PickList_Set"}}
  <select name="{{id}}" class="form-control">
    {{#each values}}
    <option value="{{id}}">{{label}}</option>
    {{/each}}
  </select>
  {{/if}}

  {{#if type "===" "Configurable_PickList_Swatch"}}
   <select name="{{id}}" class="form-control">
     {{#each values}}
     <option value="{{id}}">{{label}}</option>
     {{/each}} 
   </select>
  {{/if}}
{{/each}}

