{{#if customer}}
  <div class="row">
    <div class="col-md-3">
      {{> components/account/sidebar account_page='quickcart'}}
    </div>
    <div class="col-md-9">
      <h2 class="page-heading">Quick Cart</h2>
      <button id="" class="btn btn-primary quick-cart-create">Create Quick Cart</button>
      <table class="table">
        <tbody class="table-tbody" id="quick-cart-select">
          {{> components/custom/quick-cart-select }}
        </tbody>
      </table>
    </div>
{{else}}
  <h4>Please <a href="{{urls.auth.login}}">login</a> to view your Quick Carts.</h4>
{{/if}}
