<tr>
  <th>Name</th>
  <th># of items</th>
  <th>actions</th>
</tr>
{{#each customer.wishlists}}
  {{#if is_public}}
    <tr>
      <td><a href="{{view_url}}" id="{{id}}">{{name}}</a></td>
      <td>{{num_items}}</td>
      <td class="table-actions">
        <form method="post" action="{{delete_url}}" class="form">
          <fieldset class="form-fieldset">
            <a href="#" class="btn btn-default btn-sm quick-cart-edit" id="{{id}}" data-wishlist>{{lang 'common.edit'}}</a>
            <input type="submit" value="{{lang 'common.delete'}}" class="btn btn-sm btn-danger" data-wishlist-delete>
          </fieldset>
        </form>
      </td>
    </tr>
  {{/if}}
{{/each}}

