
{{#if customer}}
  {{#if customer.customer_group_id "!=" "2"}}
    <h4>*Please note it can take up to 24 hours after your order is shipped for your points to become available for use.</h4>
    <div style="border: 2px solid #2980b9; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; padding:2%; margin:2% 0 150px; background-color:#f4f4f4;">
      <h3 style="color:#2980b9; margin:0;">Click on the points below for more details about the program.</h3>
      <div class="sloyalty-loyaltyprogram-points" data-font-family="Arial" data-font-size="20px" data-color="#337ab7" data-font-style="bold" data-font-weight="normal" data-text-decoration="none" data-text-align="left">&nbsp;</div>
    </div>
  {{/if}}
{{else}}
  <h4>Please <a href="{{urls.auth.login}}">login</a> to view your rewards.</h4>
{{/if}}

