<div class="container" id="shipping-returns-credit">
  {{> components/custom/shipping-table}}
  <div class="row">
    <!-- shipping times starts -->
    <div class="panel panel-default">
      <a href="#shipping-times" data-toggle="collapse">
        <div class="panel-heading">
          SHIPPING TIMES
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="shipping-times" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-7">
                <div class="well">
                <h4 class="shipping-returns-credit-title">Shipping Times</h4>
                  <p>The time it takes your shipment to arrive will vary based on your location. Typical shipping times are as follows:</p>

                  <p>Ontario 1-3 business days<br />
                  Maritimes 5-7 business days<br />
                  Manitoba, Saskatchewan, &amp; Alberta 3-5 business days<br />
                  British Columbia 5-7 business days</p>

                  <p>Vitality Normally ships the same day your order is placed.</p>
                </div>
              </div>
              <div class="col-md-5">
                <img class="img-responsive" src="{{cdn "https://www.vitalitydepot.ca/content/img/shipping-times.png"}}" alt="shipping times" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- shipping times end -->
    <!-- shipping tracking and delivery starts  -->
    <div class="panel panel-default">
      <a href="#shipping-tracking-and-delivery" data-toggle="collapse">
        <div class="panel-heading">
          SHIPPING TRACKING AND DELIVERY
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="shipping-tracking-and-delivery" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-7">
                <div class="well">
                  <h4 class="shipping-returns-credit-title">Shipping Tracking and Delivery</h4>
                  <p>A tracking number is emailed to you once the shipment has left our warehouse. If you are wondering where your order is, just visit our website and click the Track My Order button, then enter your tracking number and get real time information about your order. If you need to get a shipment urgently, please let us know and we can make special arrangements, like flying out the order instead of ground shipment, but keep in mind this can get expensive. If you receive a package and it has been damaged, you <strong>must</strong> indicate on the waybill that the package is damaged. This makes the damage claim a breeze to process.</p>
                </div>
              </div>
              <div class="col-md-5"><img class="img-responsive" src="{{cdn "https://www.vitalitydepot.ca/content/img/shipping-tracking.png"}}" alt="shipping tracking" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- shipping tracking and delivery ends  -->

    <!-- returns starts-->
    <div class="panel panel-default">
      <a href="#returns" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          RETURNS
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="returns" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-7">
                <div class="well">
                  <h4 class="shipping-returns-credit-title">Returns</h4>
                  <p>You may return most new, unopened items within 30 days of delivery for a full refund:</p>
                  <p>You should expect to receive your refund within 3 weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your credit card company to process the credit. We will forward you the refund confirmation the day we do it, then the time it takes to get the credit leaves our control.</p>
                  <p>We are happy to offer 3 ways to process a return for you.</p>
                  <p>You can click the returns button on the right, and a form will pop up from somewhere and ask you a few quick questions, then the mostly painless process will begin.</p>
                  <p>You can click the Live Chat button on our site, and we would be happy to start the process that way.</p>
                  <p>As a 3rd option, you can call us, and we can fill out the form together on the phone.</p>
                  <p>We are happy to assist you in anyway you wish, and will do our best to keep returns stress free.</p>
                </div>
              </div>
              <div class="col-md-5">
                <a href="{{baseurl}}/return-authorization">
                  <img class="img-responsive" src="{{cdn "https://www.vitalitydepot.ca/content/img/returns.png"}}" alt="returns" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- returns ends -->
    <!-- spend credits starts -->
    <div class="panel panel-default">
      <a href="#spend-credits" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          SPEND CREDIT AT $250 ORDER VALUE!
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="spend-credits" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-7">
                <div class="well">
                  <h4 class="shipping-returns-credit-title">Spend Credits</h4>
                  <p>The term SPEND CREDITS is likely a term you're not familiar with in our market.</p>
                  <p>Vitality has introduced the term Spend Credits in place of Free Shipping. Everyone is familiar with free shipping, and Vitality as a company wanted to address this free shipping trend.</p>
                  <p>We all know shipping is not free. Trucks, drivers, insurance, gas etc. all come at quite a heavy price. Vitality spends 100s of thousands of dollars a year on shipping.</p>
                  <p>Our foundation was built on creating Everyday Reliable Value for our clients. The concept of free shipping underpins our ability to maintain that foundation. Shipping costs are real, and Vitality would either have to charge you directly on invoice, or add the cost to the product.</p>
                  <p>A free shipping model would increase our overall product selling price to you across the entire line and all regions of Canada. Therein lies the problem with free shipping. Products need to have shipping cost built in, but the cost to ship around the corner is one rate, and the cost to ship to our friends out in Yellowknife is 2, even 3 times higher for the same box. Our team really tried, but in the end, a free shipping model would create a geographically unfair pricing model. The only way around this, would be to blend the shipping cost into product cost, and have some clinics over paying and other clinics underpaying, which is not fair.</p>
                </div>
                <div class="well">
                  <h4 class="shipping-returns-credit-title">The Solution</h4>
                  <p>Vitality understands that as your order value increases so does our ability to save you some money. The fairest way we could do this was not by offering free shipping, but by creating a clear percentage reduction over certain order amount thresholds.</p>
                  <p>This allows Vitality to understand the real cost of the Spend Credit incentive, and also allows us to not have to inflate pricing across the entire product line.</p>
                  <p>When you spend $250 on a order, before shipping and taxes, Vitality will issue you a $12.50 Spend credit. This works out to a 5% reduction at $250. Keep in mind you also earn another 1.5% cash back through the Vitality Rewards Program. The $12.50 could be less than your shipping cost, but remember we did not inflate the product cost. Vitality sends thousands of orders a year with shipping costs well under $12.50. When this happens, you would get free shipping plus cash off your order instantly.</p>
                  <p>Thank you for your support and Enjoy Every Day.</p>
                </div>
              </div>
              <div class="col-md-5">
                <img class="img-responsive img-rounded" src="{{cdn "https://www.vitalitydepot.ca/content/img/shipping-credits.png"}}" alt="shipping credits" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- spend credits ends -->
  </div> <!-- end row -->
</div> <!-- end container -->
