<div class="row">
    <div class="col-md-6 col-xs-12">
        <h3>Vitality Flat Rate Shipping for Clinics Across Canada</h3>
        <img title="flat rate shipping" class="img-responsive" src="{{cdn "https://www.vitalitydepot.ca/content/img/flat-rate-shipping.jpg"}}"  alt="flat rate shipping" width="800" height="595" />
        <p>* Rates do not apply for treatment tables or other large capital equipment items.<br />Volume weights apply to bulky items such as pillows and seat rests. We reserve the right to use the carrier of our choice for the above rates. Call for quote on shipments over 200 lbs (90 kg).</p>
        <p>* Rates shown are for Commercial addresses only. Residential addresses may have a surcharge applied at final Invoice.</p>
    </div>
    <div class="col-md-6 col-xs-12">
        <table class="shipping">
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>0 - 19 lbs</td>
              <td>20 - 49 lbs</td>
              <td>50 -100 lbs</td>
              <td>101-150 lbs</td>
              <td>151-200 lbs</td>
            </tr>
            <tr class="blue border-top">
            <td rowspan="2"><h4>Ontario &amp;<br /> Quebec</h4></td>
            <td class="text-right">Without<br />Spend Credit</td>
            <td>$10.80</td>
            <td>$12.45</td>
            <td>$19.95</td>
            <td>$36.00</td>
            <td>$62.00</td>
            </tr>
            <tr class="blue border-bottom">
            <td class="text-right">Net With<br />Spend Credit</td>
            <td class="green">-$1.70</td>
            <td class="green">-$0.05</td>
            <td class="green">$7.45</td>
            <td class="green">$23.50</td>
            <td class="green">$49.50</td>
            </tr>
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr class="red border-top">
            <td rowspan="2">
            <h4>British Columbia,<br />Alberta, Saskatchewan,<br />Manitoba, Nova Scotia, <br />New Brunswick, PEI</h4>
            </td>
            <td class="text-right">Without<br />Spend Credit</td>
            <td>$14.95</td>
            <td>$22.95</td>
            <td>$34.95</td>
            <td>$54.95</td>
            <td>$64.95</td>
            </tr>
            <tr class="red border-bottom">
            <td class="text-right">Net With<br />Spend Credit</td>
            <td class="green">$2.45</td>
            <td class="green">$10.45</td>
            <td class="green">$22.45</td>
            <td class="green">$42.45</td>
            <td class="green">$52.45</td>
            </tr>
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr class="yellow border-top">
            <td rowspan="2">
            <h4>Newfoundland &amp;<br /> Labrador</h4>
            </td>
            <td class="text-right">Without<br />Spend Credit</td>
            <td>$29.95</td>
            <td>$44.95</td>
            <td>$89</td>
            <td rowspan="2" colspan="2" class="green">Call for quote</td>
            </tr>
            <tr class="yellow border-bottom">
            <td class="text-right">Net With<br />Spend Credit</td>
            <td class="green">$17.45</td>
            <td class="green">$32.45</td>
            <td class="green">$76.50</td>
            </tr>
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr class="green border-full">
            <td>
            <h4>Yukon, Nunavut,<br />Northwest Territories</h4>
            </td>
            <td class="green" colspan="6">Call for quote</td>
            </tr>
          </tbody>
        </table>
        <p><br /></p>
    </div>
</div>
