<div class="container" id="shipping-returns-credit">

  <div class="row">
    <!-- SUPPLYING CLINICS FOR OVER 2 DECADES starts -->
    <div class="panel panel-default">
      <a href="#supplying-clinics" data-toggle="collapse">
        <div class="panel-heading">
          SUPPLYING CLINICS FOR OVER 2 DECADES
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="supplying-clinics" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="col-lg-12">

            <!--SUPPLYING CLINICS FOR OVER 2 DECADES-->
            <div class="row vd-inner">
              <div class="col-md-4">
                <img class="img-responsive" title="innovative meeting" src="{{cdn 'webdav:img/innovative-meeting.jpg'}}" alt="innovative meeting" />
                <div class="12reasons-video">
                  <video id="business-professionals" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" autoplay="autoplay" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/business-icons.mp4" type="video/mp4" /><object id="business-professionals" width="100%" height="240" data="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" /><param name="flashvars" value="url=https%3A//s3-us-west-2.amazonaws.com/vitalitydepot-videos/business-icons.mp4" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="true" /></object><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
                </div><!--video-->
              </div><!--col-->
              <div class="col-md-8">
                <div class="well">
                  <p>We have been supplying clinics across Canada for over 20 years. We supply thousands of clinics across Canada and carry the leading brands available in our market. Our team is well-seasoned and multicultural. We are not a product broker. We carry our own inventory and ship out of our own warehouse.</p>
                  <p>Vitality has always been known as an innovator and continues to introduce best in class products for your clinic. Vitality continues to improve patient products while still maintaining brand value.<br /> <br />Our updated patient packaging is something you will never be embarrassed to hand to a patient. Vitality reacts to changing times and your needs quickly. Please return to the homepage to learn how Vitality is different and can make a difference.</p>
                </div><!--well-->
              </div><!--col-->
            </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- SUPPLYING CLINICS FOR OVER 2 DECADES end -->

    <!-- RELIABLE EVERY DAY VALUE starts -->
    <div class="panel panel-default">
      <a href="#reliable-every-day" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          RELIABLE EVERY DAY VALUE
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="reliable-every-day" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- RELIABLE EVERY DAY VALUE -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="reliable everyday value" src="{{cdn 'webdav:img/reliable-everyday-value-home.jpg'}}" alt="reliable everyday value" />
              <div class="12reasons-video">
                <video id="piggy-bank" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" autoplay="autoplay"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/piggy-bank.mp4" type="video/mp4" /><object id="piggy-bank" width="100%" height="240" data="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" /><param name="flashvars" value="url=https%3A//s3-us-west-2.amazonaws.com/vitalitydepot-videos/piggy-bank.mp4" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="true" /></object><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video></div>
              </div><!--video-->
            <div class="col-md-8"><!--col-->
              <div class="well">
                <p>We have been supplying clinics across Canada for over 20 years. We supply thousands of clinics across Canada and carry the leading brands available in our market. Our team is well-seasoned and multicultural. We are not a product broker. We carry our own inventory and ship out of our own warehouse. <br /> <br />Vitality has always been known as an innovator and continues to introduce best in class products for your clinic. Vitality continues to improve patient products while still maintaining brand value.</p>
                <p>Our updated patient packaging is something you will never be embarrassed to hand to a patient. Vitality reacts to changing times and your needs quickly. Please return to the homepage to learn how Vitality is different and can make a difference.</p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- RELIABLE EVERY DAY VALUE ends -->

    <!-- REFER A FRIEND starts -->
    <div class="panel panel-default">
      <a href="#refer-a-friend" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          REFER A FRIEND
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="refer-a-friend" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- REFER A FRIEND VALUE -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="refer a friend" src="{{cdn 'webdav:img/ReferAFriend.png'}}" alt="refer a friend" />
              <div class="12reasons-video">
                <video id="girls-laughing" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" autoplay="autoplay" loop="loop""><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/little-girls-laughing.mp4" type="video/mp4" /><object id="girls-laughing" width="100%" height="240" data="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" /><param name="flashvars" value="url=https%3A//s3-us-west-2.amazonaws.com/vitalitydepot-videos/little-girls-laughing.mp4" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="true" /></object><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->
            <div class="col-md-8">
              <div class="well refer-friend-text">
                <p>Refer a friend programs have been a part of our lives for years now.</p>
                <p>Vitality tries every day to improve and create a better experience for our very valued clients.</p>
                <p>The greatest compliment someone can give us is the poke to a friend saying "you should check Vitality Depot out." When this happens, our team is informed, and basically, a high five goes around our place. When you Refer a Friend, it means what we are doing matters, and you're happy to the point you want others to know about Vitality and what makes us different.</p>
                <p>Every time you Refer a Friend who is not already a client, they will be given a 10% off coupon code they can apply to their first purchase.</p>
                <p>For every friend who ends up placing an order, you will receive 25,000 reward points. That works out to be 25 loonies. On top of that, we will also send you a cool gift as a thank you. We would give you a hug too, but the travel costs would get a little crazy.</p>
                <p>Thank you so much for your support.</p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- REFER A FRIEND ends -->

    <!-- HEALTHCARE PRICING INTEGRITY starts -->
    <div class="panel panel-default">
      <a href="#pricing-integrity" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          HEALTHCARE PRICING INTEGRITY
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="pricing-integrity" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- HEALTHCARE PRICING INTEGRITY -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="pricing integrity lock" src="{{cdn 'webdav:img/price-integrity-lock.jpg'}}" alt="pricing integrity lock" />
              <div class="12reasons-video">
                <video id="bank-vault" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" loop="loop" autoplay="autoplay"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/bank-vault-opening.mp4" type="video/mp4" /><object id="bank-vault" width="100%" height="240" data="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" /><param name="flashvars" value="url=https%3A//s3-us-west-2.amazonaws.com/vitalitydepot-videos/bank-vault-opening.mp4" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="true" /></object><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->
            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot was a pioneer in this area. We constantly got feedback from clinics on how they wished patient pricing was private, so we did something about it. For over a decade, we have had our pricing behind a secured login. The public cannot get access to what clinics pay.</p>
                <p>All inquires to get access to pricing on our site must get approved by a team member from Vitality Depot. If your current supplier has open pricing to the public, or sells to the public, or even worse, open pricing and sells to the public, ask yourself why. Then ask yourself why not support a company that maintains healthcare pricing integrity.</p>
                <p>We would really appreciate the chance to earn your business.</p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- HEALTHCARE PRICING INTEGRITY ends -->

    <!-- FREE PATIENT SUPPORT starts -->
    <div class="panel panel-default">
      <a href="#patient-support" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          FREE PATIENT SUPPORT
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="patient-support" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- FREE PATIENT SUPPORT -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="free patient support" src="{{cdn 'webdav:img/free-patient-support-home.jpg'}}" alt="free patient support" />
              <div class="12reasons-video">
                <video id="man-running" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" autoplay="autoplay" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/health-science-man-running.mp4" type="video/mp4" /><object id="man-running" width="100%" height="240" data="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" /><param name="flashvars" value="url=https%3A//s3-us-west-2.amazonaws.com/vitalitydepot-videos/health-science-man-running.mp4" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="true" /></object><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->

            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot offers free patient support materials. A lot of time is spent explaining to patients what has happened to them and what to expect during the rehabilitation process. Next, you try and explain the equipment you will use and how the science works with the hopes the patient will understand and be able to explain what is going on to family and friends.</p>
                <p>Vitality tries to ease the process of patient education by providing guides and visual aids that can be taken home.</p>
                <p>These manuals are written at a Grade 8 reading level. Our goal is to not intimidate or embarrass any of your patients with big medical terms. We want to help you assist your patients through the medical process. We are always open to hearing from you on how we can improve or create new tools to assist you.</p>
                <p>Click below to access lots of great stuff to promote your clinic.</p>
                <p><a class="btn btn-success btn-vd primary-lg" href="https://vitalitydepot.ca/clinic-builders/">Clinic Builders!</a></p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- FREE PATIENT SUPPORT ends -->

    <!-- SUPPORT FOR CHARITY EVENT starts -->
    <div class="panel panel-default">
      <a href="#charity-event" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          SUPPORT FOR YOUR CHARITY EVENT
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="charity-event" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- SUPPORT FOR YOUR CHARITY EVENT -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="charity event support" src="{{cdn 'webdav:img/charity-event-support-home.jpg'}}" alt="charity event support" />
              <div class="12reasons-video">
                <video id="runners" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" autoplay="autoplay" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/marathon-runners.mp4" type="video/mp4" /><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->
            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot loves helping clinics support charity events in your community. We understand the importance of connecting with your local community. <br /> <br />The goodwill you create when you assist those in need or for a great cause takes plenty of time and energy. You promote your clinic and you also feel great by doing. The earlier you forward the Event Support form, the easier it is on us all. We are proud of what you do!</p>
                <p><a class="btn btn-success btn-vd primary-lg" href="https://vitalitydepot.ca/event-support-request1/">Charity Event Form</a></p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- SUPPORT FOR YOUR CHARITY EVENT ends -->

    <!-- TRADESHOW SUPPORT starts -->
    <div class="panel panel-default">
      <a href="#trade-fairs" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          PROMOTE YOUR CLINIC - TRADESHOW SUPPORT
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="trade-fairs" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- TRADESHOW SUPPORT -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="tradeshow support" src="{{cdn 'webdav:img/wecanhelp.jpg'}}" alt="tradeshow support" width="724" height="454" />
              <div class="12reasons-video">
                <video id="plane" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" autoplay="autoplay" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/Tradeshow-support.mp4" type="video/mp4" /><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->
            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot is always happy to help support your tradeshow efforts.</p>
                <p>We understand the importance of building community awareness of your clinic through tradeshows and local events. Vitality is fully prepared to assist your team.</p>
                <p>We have free marketing materials to assist you (i.e. posters, countertop displays, videos and product education booklets). You can review what is available in our <a class="btn btn-success btn-vd primary-lg" href="https://vitalitydepot.ca/clinic-builders/">Clinic Builders!</a> section.</p>
                <p>Vitality can also support your clinic's tradeshow initiatives with free demos and giveaways to draw attendees to your booth.</p>
                <p>Whenever you need our support for a tradeshow, fill out the form and we will send you a free tradeshow care package that best suits the venue you are entering. You are not required to send an order form with the Tradeshow Support form. <a class="btn btn-success btn-vd primary-lg" href="https://vitalitydepot.ca/trade-show-support-form/">Trade Show Support Form</a></p>
                <p>Please share a few pictures with us! We are always happy to post your event pictures and promote you online.</p>
                <p>Have Fun and Enjoy Every Day</p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- TRADESHOW SUPPORT ends -->

    <!-- PATIENT PRODUCT INNOVATOR starts -->
    <div class="panel panel-default">
      <a href="#product-innovator" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          PATIENT PRODUCT INNOVATOR
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="product-innovator" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- PATIENT PRODUCT INNOVATOR -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="patient product innovator" src="{{cdn 'webdav:img/patient-product-innovator-home.jpg'}}" alt="patient product innovator" />
              <div class="12reasons-video">
                <video id="idea-concepts" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" loop="loop" autoplay="autoplay"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/idea-concept-chalkboard.mp4" type="video/mp4" /><object id="idea-concepts" width="100%" height="240" data="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" /><param name="flashvars" value="url=https%3A//s3-us-west-2.amazonaws.com/vitalitydepot-videos/idea-concept-chalkboard.mp4" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="true" /></object><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->

            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot has been the leading patient product innovator for well over a decade. Vitality has retooled many old but proven therapy products by making size, shape and material changes, along with updating packaging, with a more modern and appealing design. How many times have you handed a product to a patient that was so out of date packaging-wise, you actually felt kind of embarrassed handing it to them? You never have to worry about that with any of the lines introduced by Vitality Depot. Vitality constantly introduces and leads the market in product innovation.</p>
                <p>Our StimTec line of products, some with Human Targeting technology, come with packaging that you can be proud to hand to a patient. Some come with rechargeable lithium batteries, and all come with Canadian language law requirements on not only the full color, beautiful box, but also user guides.</p>
                <p>Vitality is also the company that is trying to maintain brand value, so you can maintain a reasonable return on your efforts. Vitality introduced the evolutionary Tricot backing on electrodes. We lead the market in bringing higher quality Silver level electrodes to the patient level to create more comfort, and in turn, better compliance to treatments from your patients. Vitality is the exclusive distributor in Canada for Zimmer.</p>
                <p>Vitality works with Zimmer because they are a global leader in the innovation and manufacturing of clinical treatment equipment. Zimmer has a team of engineers, and manufactures their equipment in Germany to ensure strict quality control measures.<br /><br /> We introduced Biofreeze to Canada. &nbsp;It continues to be the leader nationally, through lots of hard work and loyalty to you, by promising not to sell through retail. If you do not purchase Biofreeze from us, does the company you buy from sell to general public? Online? To anyone who asks, anywhere, any time? Biofreeze and Vitality protect your interests, and greatly appreciate your support, and show it with policies like this.</p>
                <p>Vitality will continue to introduce products like the Posture Medic, ErgoBack, Pain Gone, iTENS, CryoBlaze, Health Medic Rehab kits, Pillowthotic, Neckthotic, Seatthotic, the list goes on. Vitality welcomes all ideas, and sometimes even partners with inventors or idea people to assist in introducing great products or ideas. We love the win-win world :)</p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- PATIENT PRODUCT INNOVATOR ends -->

    <!-- WHERE TO BUY MAPS starts -->
    <div class="panel panel-default">
      <a href="#buy-map" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          WHERE TO BUY MAPS
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="buy-map" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- WHERE TO BUY MAPS -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="where to buy maps" src="{{cdn 'webdav:img/robot.jpg'}}" alt="where to buy maps" />
            </div><!--col-->
            <div class="col-md-8">
              <div class="well">
                <p class="12reasons-header" style="color: #357bb7; font-size: 25px; font-weight: normal;">Vitality Depot sells exclusively to healthcare professionals.</p>
                <p>Vitality Depot only sells directly to healthcare professionals, however we want to help you find these excellent products at your most convenient healthcare supplier.  Enter you postal code on the map below to find any of these products near you.</p>
                <p>If you looking for something else call our customer service team at 1.800.461.0100 and we will find the closest clinic retailing that product.</p>
                 <p><a class="btn btn-success btn-vd primary-lg" href="https://vitalitydepot.ca/where-to-buy-map">VIEW WHERE TO BUY MAP</a></p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- WHERE TO BUY MAPS ends -->

    <!-- HEALTH CANADA AND LEGAL REQUIREMENTS starts -->
    <div class="panel panel-default">
      <a href="#health-canada" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          ASSURING HEALTH CANADA AND LEGAL REQUIREMENTS
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="health-canada" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- HEALTH CANADA AND LEGAL REQUIREMENTS MAPS -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="canadian flag" src="{{cdn 'webdav:img/assuring-health-canada.jpg'}}" alt="canadian flag" /><br />
              <img class="img-responsive" title="parliament buliding" src="{{cdn 'webdav:img/assuring-health-canada-parliament-buliding.jpg'}}" alt="parliament buliding" />
            </div><!--col-->
            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot has in-house staff devoted to meeting the ever changing requirements from Health Canada and other government agencies. Because we stock our goods, you can be assured that every product we sell has been properly inspected and deemed suitable for sale to you AND by you to your patients. We would never want to jeopardize your faith in us by brokering products that do not meet Canadian regulations or are not legal for sale within Canada.</p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- HEALTH CANADA AND LEGAL REQUIREMENTS ends -->

    <!-- SEAMLESS REAL-TIME ORDERING starts -->
    <div class="panel panel-default">
      <a href="#seamless-ordering" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          SEAMLESS REAL-TIME ORDERING
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="seamless-ordering" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- SEAMLESS REAL-TIME ORDERING -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="seamless real time ordering" src="{{cdn 'webdav:img/customer-service-agents.jpg'}}" alt="seamless real time ordering" />
              <div class="12reasons-video">
                <video id="businessman-surfing" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" loop="loop" autoplay="autoplay"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/businessman-surfing.mp4" type="video/mp4" /><object id="businessman-surfing" width="100%" height="240" data="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://vitalitydepot.ca/javascript/tinymce/plugins/media/moxieplayer.swf" /><param name="flashvars" value="url=https%3A//s3-us-west-2.amazonaws.com/vitalitydepot-videos/businessman-surfing.mp4" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="true" /></object><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->
            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot's order processing speed and real-time communication is second to none. We try and help free up your time so you can get back to doing what you enjoy.</p>
                <p>Vitality Depot's operating system is modern and state of the art.&nbsp;We have live inventory when you order; only accurate information on stock will be reported to clients.</p>
                <p>Vitality developed the Quick Shop feature to create a better online experience for our clients. You can save products you commonly purchase into Quick Shop; when you return to vitalitydepot.ca, Quick Shop can be used to locate your frequently ordered products, saving time on searching.</p>
                <ul>
                  <li>Vitality emails a tracking number once your order has shipped</li>
                  <li>Vitality emails a confirmation once an order is shipped with a tracking number(s)</li>
                  <li>Shipments can be tracked on vitalitydepot.ca</li>
                  <li>Delivery confirmation emails are sent when your order arrives to the clinic</li>
                  <li><a href="https://vitalitydepot.ca/vitality-depot-spend-credits/">Spend Credits</a> on orders over $250</li>
                  <li>Our team is multicultural and can assist you in many languages</li>
                  <li>We have a Live Chat button on our site to answer simple questions quickly</li>
                  <li>We ship orders within 24 hours, if not on the same day that you ordered</li>
                  <li>We ship in recycled boxes whenever possible</li>
                  <li>The Related Products function recommends products that are commonly ordered/used together</li>
                </ul>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- SEAMLESS REAL-TIME ORDERING ends -->

    <!-- WE ARE NOT A PRODUCT BROKER starts -->
    <div class="panel panel-default">
      <a href="#product-broker" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
          WE ARE NOT A PRODUCT BROKER
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </a>
      <div id="product-broker" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-lg-12">

          <!-- WE ARE NOT A PRODUCT BROKER -->
          <div class="row vd-inner">
            <div class="col-md-4">
              <img class="img-responsive" title="not a product broker" src="{{cdn 'webdav:img/not-a-product-broker-home.jpg'}}" alt="not a product broker" width="724" height="454" />
              <div class="12reasons-video">
                <video id="no-stock" width="100%" height="240" class="video-js vjs-default-skin" controls="controls" preload="auto" autoplay="autoplay" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/vitalitydepot-videos/no-stock.mp4" type="video/mp4" /><p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>
              </div><!--video-->
            </div><!--col-->
            <div class="col-md-8">
              <div class="well">
                <p>Vitality Depot is a full service medical supplier. We stock what we sell, unlike product brokers that have websites full of product they expect other companies to inventory and ship. Vitality doesn't sell caramels, toilet paper, soft drinks, snacks, etc., we sell medical supplies and equipment.</p>
                <p>Product brokers claim to save you time by allowing you to purchase everything from one source. This so-called luxury can come with quite a premium when you compare product to product and price to price. Vitality Depot was built on the platform of "Everyday Reliable Value." It might be a good idea to fill one shopping cart of products from a product broker and another shopping cart from our website, and see the true cost of <br />one-stop shopping.</p>
                <p>Brokers claim the time it takes to pay extra invoices is not worth your time, and to get everything from one supplier. We respectfully disagree. It takes maybe 2 minutes to pay an invoice with online banking. You can also pay online instantly with Vitality when you place the order; it takes no extra time at all, and you earn rewards, likely with your own card, and with Vitality Rewards.</p>
                <p>If you save, for example, just $30 on an order from Vitality in comparison to ordering through a broker (it can be way more than this), and it takes 2 minutes to post the extra bill, the extra time it takes to pay the bill works out to be $900 PER HOUR ($30 x 30 bills paid an hour at 2 minutes a bill). We think that is well worth your effort.</p>
              </div><!--well-->
            </div><!--col-->
          </div><!--vd-inner-->

          </div>
        </div>
      </div>
    </div>
    <!-- WE ARE NOT A PRODUCT BROKER ends -->

  </div> <!-- end row -->
</div> <!-- end container -->
