<div class="youtube-modal">
  <iframe id="ytplayer" type="text/html" width="850" height="480"
    src="https://www.youtube.com/embed/{{video}}?autoplay=1&fs=1&modestbranding=1"
    frameborder="0"
    allowfullscreen="allowfullscreen">
  </iframe>
  {{#if product "===" "posturemedic"}}
  <a class="btn btn-primary btn-block btn-lg" href="/posture-medic/">View Product</a>
  {{/if}}
  {{#if product "===" "paingone"}}
  <a class="btn btn-primary btn-block btn-lg" href="/paingone/">View Product</a>
  {{/if}}
  {{#if product "===" "ezmend"}} 
  <a class="btn btn-primary btn-block btn-lg" href="/ezmend-knee-hip-rehabilation-device/">View Product</a>
  {{/if}}
  {{#if product "===" "ergoback"}}
  <a class="btn btn-primary btn-block btn-lg" href="/ergoback-backrest/">View Product</a>
  {{/if}}
</div>
