<div id="modal-review-form" class="modal" data-reveal>
  <div class="modal-header">
    <h2 class="modal-header-title">{{lang 'products.reviews.write_a_review'}}</h2>
  </div>
  <div class="modal-body">
    <div class="writeReview-productDetails">
      <img src="{{getImage product.main_image 'product' (cdn theme_settings.default_image_product)}}" alt="{{product.title}}">
      <h4 class="product-brand">{{ product.brand.name }}</h4>
      <h2 class="product-title">{{ product.title }}</h2>
    </div>
    <form class="form writeReview-form" action="{{ urls.product.post_review }}" method="post">
      <fieldset class="form-fieldset">
        <div class="form-field">
          <label class="form-label" for="rating-rate">{{lang 'products.reviews.rating_label'}}
            <small>{{lang 'common.required' }}</small>
          </label>
          <!-- Stars -->
          <!-- TODO: Review Stars need to be componentised, both for display and input -->
          <select id="rating-rate" class="form-select" name="revrating">
            <option value="">{{lang 'products.reviews.select_rating'}}</option>
            {{#for 1 5}}
            <option value="{{$index}}">{{lang (concat 'products.reviews.rating.' $index) }}</option>
            {{/for}}
          </select>
        </div>

        <!-- Name -->
        {{> components/common/forms/text name="revfromname" label=(lang 'products.reviews.form_write.name') value=customer.name}}

        {{#if product.reviews.show_review_email}}
        <!-- Email -->
        {{> components/common/forms/text name="email" required="false" label=(lang 'products.reviews.form_write.email') value=customer.email}}
        {{/if}}

        <!-- Review Subject -->
        {{> components/common/forms/text name="revtitle" required="true" label=(lang 'products.reviews.form_write.subject')}}

        <!-- Comments -->
        {{> components/common/forms/text name="revtext" required="true" label=(lang 'products.reviews.form_write.comments')}}

        {{#if product.reviews.captcha}}
        <header class="panel-header">
          <h3 class="panel-title">{{lang 'products.reviews.captcha_heading' }}</h3>
        </header>
        <div class="panel-body">
          <script type="text/javascript"
            src="https://www.google.com/recaptcha/api/challenge?k={{product.reviews.captcha}}">
          </script>
          <noscript>
            <iframe src="https://www.google.com/recaptcha/api/noscript?k={{product.reviews.captcha}}"
              height="300" width="500" frameborder="0"></iframe>
            <br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
          </noscript>
        </div>
        {{/if}}

        <div class="form-field">
          <input type="submit" class="button button--primary"
          value="{{lang 'products.reviews.form_write.submit_value' }}">
        </div>
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="action" value="post_review">
        {{#if product.reviews.throttleToken}}<input type="hidden" name="throttleToken" value="{{product.reviews.throttleToken}}">{{/if}}
      </fieldset>
    </form>
  </div>
</div>
