<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <link href="{{cdn '/assets/libs/css/bootstrap.min.css'}}" rel="stylesheet">
        <link href="{{cdn '/assets/libs/css/md-snackbars.css'}}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn '/assets/modernizr-custom.js'}}"></script>

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeImageSizes' theme_settings._images}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        {{{snippet 'header'}}}
        {{!-- <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div> --}}

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}


        <script src="{{cdn '/assets/js/bundle.js'}}"></script>
        <script>
            // Exported in app.js

            window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
        <script type="text/javascript" src="{{cdn '/assets/libs/js/bootstrap.min.js'}}"></script>
        <script type="text/javascript" src="{{cdn '/assets/libs/js/md-snackbars.js'}}"></script>
        <script type="text/javascript" src="{{cdn '/assets/libs/js/LiveChat.js'}}"></script>
        {{#block "endscripts"}}{{/block}}
    </body>
</html>
