.soon-fill,
.soon-fill-inner,
.soon-fill-progress {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    transform:translateZ(0);
}

.soon-fill-inner {
    overflow:hidden;
    background-color:rgba(0,0,0,.15);
}

.soon-fill-progress {
    transition:all 500ms ease-in-out;
    transform:scale(0) rotateZ(0deg) translateX(0) translateY(0);
    background:rgba(255,255,255,.6);
}

.soon[data-format*='ms'] {
    .soon-fill-progress {
        transition:none;
    }
}

.soon {
    @import 'fill/color';
    @import 'fill/corners';
    @import 'fill/reflected';
}
