.soon-flip {

    position:relative;
    text-align:center;
    vertical-align:top !important; // removes white space below element
    margin:0 -.03125em;

    transform:translateZ(0);

    &:only-child {
        margin:0;
    }
}

.soon-flip-inner {

    display:block !important;
    overflow:hidden;

    // padding, for possible shadows
    padding:.25em .125em;

    // fixed height, a flipper is never multiline
    height:1.5em;

    // width property is set from javascript
}

.soon-flip-card {
	display:block !important;
	position:relative;
}

.soon-flip-bounding {
    visibility:hidden;
    padding:0 .25em;
}

.soon-flip-fallback,
.soon-flip-face {
    color:#fff;
    background-color:#333;
}

.soon-flip-face {

    // prevent blocks from clipping
    backface-visibility:hidden;

	// fix jagged edges in Firefox
	outline:1px solid transparent;
}

.soon-flip-fallback,
.soon-flip-face {
    position:absolute;
    left:0;
    right:0;
    overflow:hidden;
}

.soon-flip-front {
    transform:perspective(300px) rotateX(0deg);
    top:0;
    bottom:50%;
    transform-origin:center bottom;
    z-index:5;
}

.soon-flip-back {
    transform:perspective(300px) rotateX(180deg);
    top:50%;
    bottom:0;
    transform-origin:center top;
    z-index:4;
}

.soon-flip-back,
.soon-flip-bottom {
    line-height:0;
}

.soon-flip-top,
.soon-flip-bottom {
    overflow:hidden;
}

.soon-flip-top {
    top:0;
    bottom:50%;
}

.soon-flip-bottom {
    top:50%;
    bottom:0;
}

.soon-flip-fallback {
    top:0;
    bottom:0;
}






// center line
.soon-flip-fallback,
.soon-flip-face {

    &::before {
		position:absolute;
        left:0;
        right:0;
        height:1px;
        content:'';
    }

}

.soon-flip-top,
.soon-flip-front {

    &::before {
		bottom:0;
        background-color:rgba(0,0,0,.25);
    }

}

.soon-flip-bottom,
.soon-flip-back {

    &::before {
		top:0;
        background-color:rgba(0,0,0,.06125);
    }

}

.soon-flip-fallback::before {
    top:50%;
    background-color:rgba(0,0,0,.25);
}



// animations
@keyframes flip-front {

    0% {
        transform:perspective(300px) rotateX(0deg);
    }

    100% {
        transform:perspective(300px) rotateX(-180deg);
    }

}

@keyframes flip-back {

    0% {
        transform:perspective(300px) rotateX(180deg);
    }

    100% {
        transform:perspective(300px) rotateX(0deg);
    }

}

@keyframes flip-shadow-in {

    20% {
        opacity:0;
    }

    65% {
        opacity:1;
    }
    
    100% {
        opacity:1;
    }

}

@keyframes flip-shadow-in-direct {

    10% {
        opacity:0;
    }

    50% {
        opacity:.25;
    }

    50.1% {
        opacity:0;
    }

    100% {
        opacity:0;
    }

}

@keyframes flip-shadow-out {

    15% {
        opacity:1;
    }

    70% {
        opacity:0;
    }

    100% {
        opacity:0;
    }

}

// shadow
.soon-flip-front,
.soon-flip-bottom,
.soon-flip-top {

    &::after {
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        content:'';
    }

}

.soon-flip-top::after {
    background:linear-gradient(to top,
            #000 0%,
            transparent 100%);
}

.soon-flip-bottom::after {
    opacity:0;
    background:linear-gradient(to bottom,
            #000 25%,
            rgba(0,0,0,.4) 100%);
}

.soon-flip-front::after {
    opacity:0;
    background:linear-gradient(to top,
            #000 25%,
            rgba(0,0,0,.4) 100%);
}

// animation setup
.soon-flip-animate {

    .soon-flip-front {
        animation-name:flip-front;
    }

    .soon-flip-back {
        animation-name:flip-back;
    }

    .soon-flip-top::after {
		animation-name:flip-shadow-out;
	}

	.soon-flip-bottom::after {
		animation-name:flip-shadow-in;
	}

	.soon-flip-front::after {
		animation-name:flip-shadow-in-direct;
	}

}

.soon-flip-front,
.soon-flip-back,
.soon-flip-front::after,
.soon-flip-bottom::after,
.soon-flip-top::after {
    animation-iteration-count:1;
    animation-duration:750ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
}

.soon-milliseconds {

    .soon-flip-front,
    .soon-flip-back,
    .soon-flip-front::after,
    .soon-flip-bottom::after,
    .soon-flip-top::after {
        animation-duration:100ms;
    }

}

// styles
.soon {
    @import 'flip/speed';
    @import 'flip/corners';
    @import 'flip/color';
    @import 'flip/shadow';
    @import 'flip/reflected';
}
