.soon-matrix {

    $size:.125em;

    $charSpacing:.125em;

    $ledSpacing:.125rem;

    vertical-align:top !important;


    .soon-matrix-inner {
        display:table !important;
        border-collapse: separate;
        border-spacing: $ledSpacing;
        margin:0 $charSpacing;
    }

    .soon-matrix-row {
        display:table-row !important;
    }

    .soon-matrix-dot {
        display:table-cell !important;
        width:$size;
        height:$size;
        border-radius:.0625em;
        transition:transform .5s ease-in-out,opacity .5s ease-in-out,background-color .5s ease-in-out;
    }

    .soon-matrix-dot[data-state='1'] {
        background-color:rgba(0,0,0,.8);
    }

}

.soon {
    @import 'matrix/shape';
    @import 'matrix/shadow';
    @import 'matrix/color';
    @import 'matrix/spacing';
    @import 'matrix/animations';
}
