/**
 * Base Ring Styles
 */
.soon-ring {

    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;

    canvas {
        vertical-align:top;
        position:absolute;
        left:0;
        right:0;
    }

    // default styles
    .soon-ring-progress {

        // controls progress color
        color:inherit;

        // controls progress width
        border:2px solid transparent;

        // controls cap style
        border-radius:0; // 1px is round

        // controls progress shadow
        // text-shadow:;

        // controls ring shadow
        // box-shadow:;

        // controls canvas padding
        // padding:2px;

    }

}

.soon {
    @import 'ring/color';
    @import 'ring/cap';
    @import 'ring/shadow';
    @import 'ring/thickness';
    @import 'ring/reflected';
}
