
$soon-slot-spacing:.125em;

.soon-slot {

    position:relative;
    display:inline-block;
    text-align:center;
    vertical-align:top !important;  // removes white space below element
    letter-spacing:$soon-slot-spacing;
    text-indent:$soon-slot-spacing;

    &:first-child {
        margin-left:-$soon-slot-spacing;
    }

    &:last-child {
        margin-right:-$soon-slot-spacing;
    }

    + .soon-slot {
        margin-left:-$soon-slot-spacing * 2;
    }

    .soon-slot-inner {

		display:block;
		transform:perspective(100px);
		transform-style:preserve-3d;
		overflow: hidden;

		// fixed height, a slot is never multiline
		height:1.5em;

		// width is set from javascript
	}

}

.soon-slot-bounding {
    padding:0 ($soon-slot-spacing * .5);
    visibility:hidden;
}

.soon-slot-new,
.soon-slot-old {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:3;
    backface-visibility:hidden;
}

.soon-slot-new,
.soon-slot-old,
.soon-slot-bounding {
    text-align:center;
}

.soon-slot-animate {

    .soon-slot-new,
    .soon-slot-old {
        transition:
            transform 800ms,
            opacity 700ms,
            color 400ms,
            filter 400ms;
    }

}

.soon-milliseconds {

    .soon-slot-animate {

        .soon-slot-new,
        .soon-slot-old {
            transition:
                transform 100ms,
                opacity 100ms,
                color 50ms,
                filter 50ms;
        }

    }

}

.soon-slot {

    .soon-slot-new {
        opacity:0;
        z-index:2;
    }

    .soon-slot-old {
        opacity:1;
        z-index:1;
    }

}

.soon-slot-animate {

    .soon-slot-new {
        opacity:1;
    }

    .soon-slot-old {
        opacity:0;
    }

}

.soon {
    @import 'slot/doctor';
    @import 'slot/slide';
    @import 'slot/roll';
    @import 'slot/rotate';
    @import 'slot/shadow';
    @import 'slot/reflected';
    @import 'slot/speed';
}
