{{#partial "page"}}
<div class="account">
  {{#if settings.show_wishlist}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">
      {{#if forms.wishlist.id}}
        {{lang 'account.wishlists.edit'}}
      {{else}}
        {{#if forms.wishlist.action}}
          {{lang 'account.wishlists.new'}}
        {{else}}
          {{lang 'account.wishlists.heading'}}
        {{/if}}
      {{/if}}
    </h2>
    <div class="col-md-3">
      {{> components/account/sidebar account_page='wishlists'}}
    </div>
    <div class="col-md-9">
      {{> components/account/add-wishlist}}
    </div>
  {{/if}}
</div>
{{/partial}}
{{> layout/base}}
