{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="col-md-3">
  {{> components/account/sidebar account_page='addresses'}}
</div>

<div class="col-md-9">
  <h1 class="page-heading">{{lang 'account.addresses.heading' }}</h1>
  <div class="account account--fixedLarge">
    <div class="account-body">
      {{> components/account/address-list }}
    </div>
  </div>
</div>
{{/partial}}
{{> layout/base}}
