{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<div class="account account--fixed">
  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
  <div class="col-md-3">
    {{> components/account/sidebar account_page='settings'}}
  </div>
  <div class="col-md-9">
  <h1 class="page-heading">{{lang 'account.settings.heading' }}</h1>
    {{#if forms.edit_account.error}}
      {{> components/common/alert-error forms.edit_account.error}}
    {{/if}}
    {{#if forms.edit_account.success}}
      {{> components/common/alert-success forms.edit_account.success}}
    {{/if}}
    {{> components/account/edit-account}}
  </div>
</div>
{{/partial}}
{{> layout/base}}
