{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="col-md-3">
  {{> components/account/sidebar account_page='messages'}}
</div>

<div class="col-md-9">

    {{#if forms.inbox.error}}

    {{/if}}
    {{#if forms.inbox.success}}

    {{/if}}

</div>
{{/partial}}
{{> layout/base}}
