{{#partial "page"}}
<div class="account">
  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
  <div class="col-md-3">
    {{> components/account/sidebar account_page='recent_items'}}
  </div>
  <div class="col-md-9">
  <h1 class="page-heading">{{lang 'account.recent_items.heading' }}</h1>
    {{#unless customer.recently_viewed_products.items}}
      {{> components/common/alert-info (lang 'account.recent_items.no_items')}}
    {{/unless}}
    <form action="{{urls.compare}}" method="post">
      {{> components/products/grid products=customer.recently_viewed_products.items show_compare=customer.recently_viewed_products.show_compare}}
    </form>
  </div>
</div>
{{/partial}}
{{> layout/base}}
