{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'account.returns.heading' }}</h1>
<div class="col-md-3">
  {{> components/account/sidebar account_page='returns'}}
</div>

<div class="col-md-9">
  <main class="account account--fixed">
    <div class="account-body">
      <section class="account-content">
      {{#if customer.returns}}
        {{> components/account/returns-list returns=customer.returns}}
      {{else}}
        {{> components/common/alert-info (lang 'account.returns.none')}}
      {{/if}}
      </section>
    </div>
  </main>
</div>

{{/partial}}
{{> layout/base}}
