{{#partial "page"}}
<div class="account">
  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
  <h2 class="page-heading">{{lang 'account.returns.heading' }}</h2>
  <div class="col-md-3">
    {{> components/account/sidebar account_page='returns'}}
  </div>
  <div class="col-md-9">
    <div class="account-row">
      <p>
        {{lang 'account.returns.successful'}}
      </p>
    </div>
  </div>
</div>
{{/partial}}
{{> layout/base}}
