{{#partial "page"}}
<div class="account">

  {{#if wishlist.is_editable}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
  {{/if}}

  {{!-- overriding wishlist page for quick carts, quick carts are
  just a wishlist with "is_public" set to true--}}
  {{#if wishlist.is_public}}
  <h2 class="page-heading row">Quick Cart: {{wishlist.name}}
    <a 
      tabindex="0"
      role="button" 
      class="btn btn-default pull-right quick-cart-help" 
      data-container="body" 
      data-toggle="popover" 
      data-trigger="focus"
      data-placement="left" 
      title='Adding new items' 
      data-content='To add an item to your quick cart, visit any product page, select the quick cart you want, and then click the add to quick cart button. ' 
    >
    <i class="fa fa-info-circle" aria-hidden="true"></i> Adding new items
  </a>
  <a 
    tabindex="0"
    role="button" 
    class="btn btn-default pull-right quick-cart-help" 
    data-container="body" 
    data-toggle="popover" 
    data-trigger="focus"
    data-placement="left" 
    title="Using quick cart" 
    data-content='For each product you wish to purchase, select any applicable options, and then select a quantity. Click add to cart to add those products to your cart. If you need multiple options of a product, just select another option, update the quantity, and hit add to cart again. '> 
    <i class="fa fa-info-circle" aria-hidden="true"></i> Quick Cart Usage
  </a>
</h2>
  {{else}}
  <h2 class="page-heading">{{lang 'account.wishlists.view_heading' name=wishlist.name}}</h2>
  {{/if}}
  <div class="row">
    <div class="col-md-3">
      {{#if wishlist.is_editable}}
        {{> components/account/sidebar account_page='quickcart'}}
      {{/if}}
    </div>

    <div class="col-md-9">
      {{#if wishlist.items}}
        {{> components/account/wishlist-item-list show_remove=wishlist.is_editable}}
      {{else}}
        {{> components/common/alert-info (lang 'account.wishlists.empty_wishlist')}}
      {{/if}}

    </div>
  </div>
</div>
{{/partial}}
{{> layout/base}}
