{{#partial "page"}}
{{#if settings.show_wishlist}}
  <div class="account account--fixedLarge">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="col-md-3">
      {{> components/account/sidebar account_page='wishlists'}}
    </div>
    <div class="col-md-9">
    <h1 class="page-heading">{{lang 'account.wishlists.heading' }}</h2>
      {{> components/account/wishlist-list}}
    </div>
  </div>
{{/if}}
{{/partial}}
{{> layout/base}}
