<div class="container">

  <div class="row cart-header">
    <div class="col-md-6 hidden-sm hidden-xs cart-header-item"><p>{{lang 'cart.checkout.item'}}</p></div>
    <div class="col-md-1 hidden-sm hidden-xs cart-header-item"><p>{{lang 'cart.checkout.price'}}</p></div>
    <div class="col-md-3 hidden-sm hidden-xs cart-header-item cart-header-quantity"><p>{{lang 'cart.checkout.quantity'}}</p></div>
    <div class="col-md-2 hidden-sm hidden-xs cart-header-item"><p>{{lang 'cart.checkout.total'}}</p></div>
  </div>

  {{#each cart.items}}
  <div class="row cart-content">
      <div class="col-md-6 col-xs-12">
        <div class="row">

          <div class="col-md-3 col-xs-12">
            {{#if type '==' 'GiftCertificate'}}
              <img class="cart-item-image" src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate">
            {{else}}
              <img class="cart-item-image" src="{{getImage image 'thumb' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}">
            {{/if}}
          </div>

          <div class="col-md-9 col-xs-12">
            {{#if brand.name}}
              <p class="cart-item-brand">{{brand.name}}</p>
            {{/if}}
            <h4 class="cart-item-name"><a href="{{url}}">{{name}}</a></h4>
            {{#if release_date}}
              <p>({{release_date}})</p>
            {{/if}}
            {{#if options}}
              <dl class="definitionList">
                {{#each configurable_fields}}
                  <dd class="definitionList-value">
                    {{#if is_file}}
                      <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                    {{else}}
                      {{{value}}}
                    {{/if}}
                  </dd>
                {{/each}}
                {{#each options}}
                  <dd class="definitionList-value">
                    {{#if is_file}}
                      <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                    {{else}}
                      {{{value}}}
                    {{/if}}
                  </dd>
                {{/each}}
              </dl>
              <a href="#" data-item-edit="{{id}}">{{lang 'cart.checkout.change'}}</a>
            {{/if}}
            {{#if type '==' 'GiftCertificate'}}
              <a href="{{edit_url}}">{{lang 'cart.checkout.change'}}</a>
            {{/if}}
            {{> components/cart/item-giftwrap this}}
            {{#if event_date}}
              <dl class="cart-item-options">
                <dt class="cart-item-option-title">
                  {{event_date.name}}
                </dt>
                <dd class="cart-item-option-description">
                  {{event_date.date}}
                </dd>
              </dl>
            {{/if}}
          </div>

        </div>
      </div>

      <div class="col-md-1 col-xs-12">
            <span class="cart-item-label"><b>{{lang 'cart.checkout.price'}}</b></span>
            <span class="cart-item-value {{#if price_discounted}}price--discounted{{/if}}">{{price.formatted}}</span>
            {{#if price_discounted}}
              <p></p>
              <span class="cart-item-label"><b>Sale Price</b></span>
              <span class="cart-item-value">{{price_discounted.formatted}}</span>
            {{/if}}
      </div>

      <div class="col-md-3  col-xs-12">
        <div class="form-increment input-group">
          {{# if can_modify}}
            <button class="btn btn-info button button--icon input-group-addon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          {{/if}}
            <input class="form-input form-input--incrementTotal"
              id="qty-{{id}}"
              name="qty-{{id}}"
              type="tel"
              value="{{quantity}}"
              data-quantity-min="{{min_purchase_quantity}}"
              data-quantity-max="{{max_purchase_quantity}}"
              data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
              data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
              min="1"
              pattern="[0-9]*"
              aria-live="polite" {{#unless can_modify}} disabled{{/unless}}>
          {{# if can_modify}}
            <button class="btn btn-info button button--icon input-group-addon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-info button button--icon input-group-addon" data-cart-update data-cart-itemid="{{id}}" data-action="upd8">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          {{/if}}
        </div><!--form-increment-->
      </div>

      <div class="col-md-2  col-xs-12">
        <span class="cart-item-label"><b>{{lang 'cart.checkout.total'}}</b></span>
        {{#if total_discounted}}
          <span class="cart-item-value">{{total_discounted.formatted}}</span>
        {{else}}
          <span class="cart-item-value {{#if total_discounted}}price--discounted{{/if}}">{{total.formatted}}</span>
        {{/if}}
        {{# if can_modify}}
          <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        {{else}}
          {{#if type '==' 'GiftCertificate'}}
            <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          {{/if}}
          <span class="cart-remove cart-remove--spacer"></span>
        {{/if}}
      </div>

  </div><!--row-->
  {{/each}}

</div><!--container-->
