<div class="cart-total-value">

    <button class="btn coupon-code-add">{{lang 'cart.coupons.add_coupon'}}</button>

    <button class="btn btn-danger coupon-code-cancel pull-right" style="display: none;">{{lang 'cart.coupons.cancel'}}</button>
</div>

<div class="cart-form coupon-code" style="display: none;">
    <form class="form form--hiddenLabels coupon-form" method="post" action="{{urls.cart}}">
        <label class="form-label" for="couponcode">{{lang 'cart.coupons.coupon_code'}}</label>
        <input class="form-input" data-error="{{lang 'cart.coupons.empty_error'}}"  id="couponcode" type="text" name="couponcode" value="" placeholder="{{lang 'cart.coupons.coupon_code'}}">
        <input class="btn btn-sm btn-primary" type="submit" value="{{lang 'cart.coupons.button'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
