<div class="cart-total-value">

    <button class="btn gift-certificate-add">Add {{lang 'cart.gift_certificates.gift_certificate'}}</button>

    <button class="btn btn-danger gift-certificate-cancel pull-right" style="display: none;">{{lang 'cart.coupons.cancel'}}</button>
</div>

<div class="cart-form gift-certificate-code" style="display: none;">
    <form class="form form--hiddenLabels cart-gift-certificate-form" method="post" action="{{urls.cart}}">
        <label class="form-label" for="couponcode">{{lang 'cart.gift_certificates.cert_code'}}</label>
        <input class="form-input" data-error="{{lang 'cart.gift_certificates.empty_error'}}"  id="couponcode" type="text" name="certcode" value="" placeholder="{{lang 'cart.gift_certificates.add_cert_code'}}">
        <input class="btn btn-sm btn-primary" type="submit" value="{{lang 'cart.coupons.button'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
