<div class="cart-bottom">
  <div class="container">
    <div class="row">
    <div class="col-md-6 cart-coupons">
      <h5>Coupon:</h5>
      {{> components/cart/coupon-input}}
      <h5>Gift Certificate:</h5>
      {{> components/cart/gift-certificate-input}}
      {{#if cart.shipping_handling.show_estimator}}
        <h5>{{lang 'cart.checkout.shipping'}}:</h5>
        {{> components/cart/shipping-estimator cart.shipping_handling}}
      {{/if}}
    </div>

    <div class="col-md-5">
    <table class="table cart-pricing">
      <colgroup>
        <col class="col-md-4">
        <col class="col-md-2">
      </colgroup>
      <th></th>
      <th class="cart-right">Price</th>

      <tr>
        <td>{{lang 'cart.checkout.subtotal'}}:</td>
        <td class="cart-right">{{cart.sub_total.formatted}}</td>
      </tr>

      {{#if cart.gift_wrapping_cost.amount}}
      <tr>
          <td>{{lang 'cart.checkout.gift_wrapping'}}:</td>
          <td class="cart-right"> {{cart.gift_wrapping_cost.formatted}}</td>
      </tr>
      {{/if}}

      {{#each cart.taxes}}
      <tr>
        <td>{{name}}:</td>
        <td class="cart-right">{{cost.formatted}}</td>
      </tr>
      {{/each}}
      {{#if cart.coupons}}
        {{#each cart.coupons}}
        <tr>
          <td>{{lang 'cart.coupons.code_label' code=code}}<a href="{{remove_url}}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
          <td class="cart-right">{{discount.formatted}}</td>
        </tr>
        {{/each}}
      {{/if}}
      {{#if cart.discount}}
      <tr>
        <td>{{lang 'cart.discount'}}:</td>
        <td class="cart-right">{{cart.discount.formatted}}</td>
      </tr>
      {{/if}}
      {{#if cart.shipping_handling}}
      <tr>
        <td>Shipping:</td>
        <td class="cart-right">{{cart.shipping_handling.shipping_cost.formatted}}</td>
      </tr>
      {{/if}}
{{!-- {{#each cart.gift_certificates}}
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.gift_certificates.code_label' code=code}}</strong>
                <span>
                    {{remaining.formatted}} | <a href="{{remove_url}}">{{lang 'cart.gift_certificates.remove'}}</a>
                </span>
            </div>
            <div class="cart-total-value">
                {{used.formatted}}
            </div>
        </li>
    {{/each}} --}}
      <tr class="success">
        <td>{{lang 'cart.checkout.grand_total'}}:</td>
        <td class="cart-right"><strong>{{cart.grand_total.formatted}}</strong></td>
      </tr>
    </table>
  </div>
  </div>
  </div>

</div>
