&[data-visual*='color-light'] {

    $background-fill:rgba(255,255,255,.15);
    $progress:rgba(255,255,255,.6);

    .soon-fill-inner {
        background-color:$background-fill;
    }

    .soon-fill-progress {
        background:$progress;
    }

}


&[data-visual*='color-dark'] {

    $background-fill:rgba(0,0,0,.1);
    $progress:rgba(0,0,0,.25);

    .soon-fill-inner {
        background-color:$background-fill;
    }

    .soon-fill-progress {
        background:$progress;
    }

}
