&[data-visual*='corners-sharp'] {

    .soon-fill-inner {
        overflow:hidden;
    }

    .soon-fill-progress,
    .soon-fill-inner {
        border-radius:.125rem;
    }

}

&[data-visual*='corners-round'] {

    .soon-fill-inner {
        overflow:hidden;
    }

    .soon-fill-progress,
    .soon-fill-inner {
        border-radius:.5rem;
    }

}
