&[data-layout*='label-above'] {

    .soon-separator,
    .soon-group-sub {
        padding-top:1em;
    }

    .soon-label {
        position:absolute;
        margin-top:.25rem !important;
        top:0;
        left:0;
        right:0;
    }

    .soon-separator.soon-reflection {
        top:2.5em;
    }

}
