.soon-group-sub>.soon-group-inner {
    margin:0 .3125em;
}

&[data-layout*='overlap'] {

    >.soon-group {
        padding:0 .3125em;
    }

    .soon-group-sub>.soon-group-inner {
        margin:0 -.25em;
    }

    &[data-visual] {

        .soon-group-sub>.soon-group-inner {
            margin:0 -.3125em;
        }

    }

}

&[data-layout*='adjacent'] {

    .soon-group-sub>.soon-group-inner {
        margin:0;
    }

}

&[data-layout*='tight'] {

    .soon-group-sub>.soon-group-inner {
        margin:0 .15em;
    }

}

&[data-layout*='spacey'] {

    .soon-group-sub>.soon-group-inner {
        margin:0 .5em;
    }

}

@media (max-width:40rem) {

    &[data-layout*='spacey'] {

        .soon-group-sub>.soon-group-inner {
            margin:0 .3125em;
        }

    }

}

@media (max-width:30rem) {


    &[data-layout*='spacey'] {

        .soon-group-sub>.soon-group-inner {
            margin:0 .25em;
        }

    }

}
