<div class="wishlist-add">
    <header class="wishlist-header">
        {{#if forms.wishlist.id}}
          {{#if forms.wishlist.is_public}}
            <h1>Edit Quick Cart</h1>
          {{else}}
            <h1>{{lang 'account.wishlists.edit'}}</h1>
          {{/if}}
        {{else}}
            <h1>{{lang 'account.wishlists.new'}}</h1>
            <p>{{lang 'account.wishlists.tag_line'}}</p>
        {{/if}}
        {{#if forms.wishlist.errors}}
            {{> components/common/alert-error forms.wishlist.errors}}
        {{/if}}
    </header>
    <form
        action  = "{{#if forms.wishlist.id}}{{urls.account.wishlists.edit}}{{else}}{{urls.account.wishlists.add}}{{/if}}"
        class   = "form wishlist-form"
        id      = "wishlist-create-form"
        method  = "post">
        <input type="hidden" name="submit">

        <div class="form-field">
            <label class="form-label" for="wishlistname">
                {{lang 'forms.wishlist.name'}}
                <small>{{lang 'common.required' }}</small>
            </label>
            <input class="form-input" name="wishlistname" id="wishlistname" value="{{forms.wishlist.name}}">
        </div>
        <div class="form-field hidden">
            <input type="checkbox" class="form-checkbox" name="publicwishlist" id="publicwishlist" {{#if forms.wishlist.is_public}}checked{{/if}}>
        </div>
        <div class="form-actions">
            {{#if forms.wishlist.id}}
                <input type="submit" class="btn btn-primary" value="{{lang 'account.wishlists.save'}}">
                <input type="hidden" name="wishlistid" value="{{forms.wishlist.id}}">
            {{else}}
                <input type="submit" class="btn btn-primary"
                       value="{{lang 'account.wishlists.create'}}">
            {{/if}}
        </div>
    </form>

</div>
