{{#unless customer.addresses}}
  {{> components/common/alert-info (lang 'account.addresses.no_addresses')}}
{{/unless}}

{{#each customer.addresses}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="account-heading">{{first_name}} {{last_name}}</span>
    </div>
    <div class="panel-body">
      <div class="col-md-10">
        <ul class="address-details address-list">
          <li><b>Company: </b>{{company}}</li>
          <li><b>Address: </b> {{address1}}, {{address2}}</li>
          <li><b>City:</b> {{city}}{{#if state}}, {{state}}{{/if}} {{zip}}</li>
          <li><b>Country:</b> {{country}}</li>

          {{#if phone}}
          <li><b>{{lang 'account.addresses.phone' }}</b> {{phone}}</li>
          {{/if}}
        </ul>

      </div>
      <div class="col-md-2">
        <form action="{{delete_url}}" method="post" data-delete-address="{{lang 'forms.address.confirm_delete'}}">
          <div class="form-actions">
            <a class="btn btn-primary btn-block" href="{{edit_url}}">{{lang 'common.edit' }}</a>
            <button type="submit" class="btn btn-danger btn-block">{{lang 'common.delete' }}</button>
          </div>
        </form>

      </div>
    </div>
  </div>
{{/each}}
<a class="btn btn-default" href="{{urls.account.add_address}}">
  <span class="address-addNew">
    <h5 class="address-title"><i class="fa fa-plus" aria-hidden="true"></i>{{lang 'account.addresses.new_address' }}</h5>
  </span>
</a>
<p class="well">Please note that updates to your account information that are submitted online, including address, only take affect after you submit an order through our online ordering system. Please contact our customer service staff if you require immediate assistance at 1.800.461.0100.</p>
