<form class="account-settings form" action="{{urls.account.update_action}}" data-edit-account-form method="post">
    <fieldset class="form-fieldset">
        <div class="form-row form-row--half">
            <div class="form-field">
                <label class="form-label" for="account_firstname">
                    {{lang 'account.settings.first_name' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input form-control" name="account_firstname" id="account_firstname" value="{{forms.edit_account.first_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="account_lastname">
                    {{lang 'account.settings.last_name' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input form-control" name="account_lastname" id="account_lastname" value="{{forms.edit_account.last_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="account_companyname">
                    {{lang 'account.settings.company' }}
                </label>
                <input type="text" class="form-input form-control" name="account_companyname" id="account_companyname" value="{{forms.edit_account.company_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="account_phone">
                    {{lang 'account.settings.phone' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="text" class="form-input form-control" name="account_phone" id="account_phone" value="{{forms.edit_account.phone}}">
            </div>
            {{#each forms.edit_account.fields}}
                {{{dynamicComponent 'components/common/forms'}}}
            {{/each}}
        </div>
    </fieldset>
    <div class="form-actions account-btn-update">
        <p>
          Please note that updates to your account information that are submitted online, including address, only take affect after you submit an order through our online ordering system. Please contact our customer service staff if you require immediate assistance at 1.800.461.0100.
        </p>
        <button class="btn btn-primary button button--primary">{{lang 'account.settings.update_details'}}</button>
    </div>
</form>
