<div class="well inbox-messages">
  {{#each messages}}
    <p>
      <h5 class="account-product-title {{#unless unread}}is-read{{/unless}}">
        <strong>{{subject}}</strong>
        <small>{{date}}</small>
      </h5>
    {{#if is_reply}}
      <span class="message-from-merchant">
        {{lang 'account.messages.merchant_said' store_name=../../settings.store_name}}
      </span>
    {{else}}
      <span class="message-from-customer">
        {{lang 'account.messages.customer_said'}}
      </span>
    {{/if}}
        {{message}}
    </p>
  {{/each}}
</div>
