{{#if customer.inbox.orders}}
  <h3 class="account-heading">{{lang 'forms.inbox.send_message'}}</h3>
  <form class="form" data-inbox-form action="{{urls.account.send_message}}" method="post">
    <div class="form-field">
      <label class="form-label" for="message_order_id">
        {{lang 'forms.inbox.order' }}
        <small>{{lang 'common.required' }}</small>
      </label>
      <select class="form-control" name="message_order_id" id="message_order_id">
        {{#each customer.inbox.orders}}
        <option value="{{id}}">{{lang 'forms.inbox.order_display' id=id date=date total=amount.formatted}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-field">
      <label class="form-label" for="message_subject">
        {{lang 'forms.inbox.subject' }}
        <small>{{lang 'common.required' }}</small>
      </label>
      <input type="text" class="form-control" name="message_subject" id="message_subject">
    </div>
    <div class="form-field">
      <label class="form-label" for="message_content">
        {{lang 'forms.inbox.message' }}
        <small>{{lang 'common.required' }}</small>
      </label>

      <textarea class="form-control" name="message_content" id="message_content" rows="7" ></textarea>
    </div>
    <div class="message-buttons">
      <input class="btn btn-primary" type="submit" value="{{lang 'forms.inbox.submit_value' }}">
      <input class="btn btn-default" type="reset" value="{{lang 'forms.inbox.clear_value' }}">
    </div>
  </form>
  {{else}}
    {{> components/common/alert-info (lang 'forms.inbox.no_orders')}}
{{/if}}
