{{#each order.items}}
  {{#if shipping_rows.length}}
    {{#each shipping_rows}}
      <li class="list-group-item">
        <p class="list-group-item-text">
          {{lang 'account.orders.details.ship_to_multi' street=address city=city state=state zip=zip country=country}}
        </p>
      </li>
    {{/each}}
  {{/if}}

  <li class="list-group-item">
    <div class="row">
            <div class="col-md-2">
        {{#if type '===' 'giftcertificate'}}
          <img class="cart-item-image" src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate">
        {{else}}
          <img src="{{getImage image 'thumb' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}">
        {{/if}}
      </div>
      <div class="col-md-10">
        <p>
          <strong>{{quantity}} &#215; {{name}}</strong>

          {{!-- dunno why this is repeated for refunded and refunded_qty
          but this is how the BC stencil team did it so i'm keeping it --}}
          {{#if refunded}}
            {{lang 'account.orders.refunded_quantity' qty=refunded_qty}}
          {{else}}
            {{#if refunded_qty}}
              {{lang 'account.orders.refunded_quantity' qty=refunded_qty}}
            {{/if}}
          {{/if}}
        </p>
        <p>
           {{#if options}}
             {{#each options}}
               {{value}}
             {{/each}}
           {{/if}}
        </p>
        <p>
          {{price.formatted}}
        </p>
        {{#if reorder_message}}
        <p>{{{reorder_message}}}</p>
        {{/if}}

      </div>
    </div>
  </li>
{{/each}}
