<div class="account-list">
  {{#each orders}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>
        <a class="account-heading" href="{{this.details_url}}">{{lang 'account.orders.list.order_number' number=this.id}}</a>
        {{#if this.status '===' 'Completed'}}
        <span class="label label-success">{{this.status}}</span>
        {{else if this.status '===' 'Shipped'}} 
        <span class="label label-success">{{this.status}}</span>
        {{else if this.status '===' 'Refunded'}}
        <span class="label label-success">{{this.status}}</span>
        {{else if this.status '===' 'Partially Shipped'}}
        <span class="label label-danger">{{this.status}}</span>
        {{else if this.status '===' 'Cancelled'}}
        <span class="label label-danger">{{this.status}}</span>
        {{else if this.status '===' 'Declined'}}
        <span class="label label-danger">{{this.status}}</span>
        {{else if this.status '===' 'Disputed'}}
        <span class="label label-danger">{{this.status}}</span>
        {{else if this.status '===' 'Manual Verification Required'}}
        <span class="label label-danger">{{this.status}}</span>
        {{else}}
        <span class="label label-default">{{this.status}}</span>
        {{/if}}
      </span>

    </div>
    <div class="panel-body">
      <div class="col-md-2">
        {{#if items.0.type '===' 'giftcertificate'}}
        <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate">
        {{else}}
        <img src="{{getImage image 'thumb' (cdn ../theme_settings.default_image_product)}}" alt="{{image.alt}}">
        {{/if}}

      </div>
      <div class="col-md-8">
        {{#each items}}
          <p>
            {{quantity}} {{name}}
          </p>
        {{/each}}
        <hr>
        {{lang 'account.orders.list.product_details' num_products=this.items.length cost=this.total.formatted}}
      </div>
      <div class="account-orders-actions col-md-2">
        <div class="well well-sm">
          <h6>{{lang 'account.orders.order_placed' }}</h6>
          <span>{{this.date}}</span>
          <h6>{{lang 'account.orders.last_update' }}</h6>
          <span>{{this.last_update_date}}</span>
        </div>
        <a class="btn btn-primary btn-block" href="{{this.details_url}}">View Order</a>
        {{#if ../settings.returns_enabled}}
          {{#if this.return_url}}
            <a class="btn btn-default btn-block" href="{{this.return_url}}">
              {{lang 'account.orders.return_items' }}
            </a>
          {{/if}}
        {{/if}}
      </div>

    </div> 
  </div>

  {{/each}}
</div>
