<div class="panel panel-default">
  <div class="panel-heading">Account</div>
  <div class="list-group">

    {{#if account_page '===' 'orders'}}
      <a class="list-group-item active"  href="{{urls.account.orders.all}}">
        <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.orders'}}
      </a>
    {{else}}
      <a class="list-group-item"  href="{{urls.account.orders.all}}">
        <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.orders'}}
      </a>
    {{/if}}

    {{#if settings.returns_enabled}}
      {{#if account_page '===' 'returns'}}
        <div class="list-group-item active">
          <i class="fa fa-medkit fa-fw" aria-hidden="true"></i>
          {{lang 'account.nav.returns'}}
        </div>
      {{else}}
        <a class="list-group-item"  href="{{urls.account.returns}}">
          <i class="fa fa-medkit fa-fw" aria-hidden="true"></i>
          {{lang 'account.nav.returns'}}
        </a>
      {{/if}}
    {{/if}}

    {{#if account_page '===' 'addresses'}}
      <div class="list-group-item active">
        <i class="fa fa-map-signs fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.addresses'}}
      </div>
    {{else}}
      <a class="list-group-item"  href="{{urls.account.addresses}}">
        <i class="fa fa-map-signs fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.addresses'}}
      </a>
    {{/if}}

    {{#if settings.show_wishlist}}
      {{#if account_page '===' 'wishlists'}}
        <div class="list-group-item active">
          <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
          {{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}
        </div>
      {{else}}
        <a class="list-group-item"  href="{{urls.account.wishlists.all}}">
          <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
          {{lang 'account.nav.wishlists'}}
        </a>
      {{/if}}
      {{#if account_page '===' 'quickcart'}}
        <a class="list-group-item active"  href="/quick-cart">
            <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
            Quick Cart
        </a>

      {{else}}
        <a class="list-group-item"  href="/quick-cart">
          <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
          Quick Cart
        </a>
      {{/if}}
    {{/if}}



    {{#if account_page '===' 'recent_items'}}
      <div class="list-group-item active">
        <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.recently_viewed'}}
      </div>
    {{else}}
      <a class="list-group-item"  href="{{urls.account.recent_items}}">
        <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.recently_viewed'}}
      </a>
    {{/if}}

    {{#if account_page '===' 'settings'}}
      <div class="list-group-item active">
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.settings'}}
      </div>
    {{else}}
      <a class="list-group-item"  href="{{urls.account.details}}">
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        {{lang 'account.nav.settings'}}
      </a>
    {{/if}}


  </div>
</div>

