{{#if wishlist.is_public}}
<div class="quick-cart">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="quick-cart-preview-loading">
        <i class="fa fa-spinner fa-pulse"></i>
        <span class="sr-only">Loading...</span>
      </span>
      <i class="fa fa-shopping-cart quick-cart-preview-loaded hidden" aria-hidden="true"></i>
      Realtime Cart <a href="/cart.php">(view)</a>

    </div>
    <div class="panel-body row quick-cart-preview">
      
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{wishlist.name}} Quick Cart
    </div>
    <div class="panel-body">
      {{#each wishlist.items}}
        {{> components/custom/quick-cart-list id=product_id}}
      {{/each}}
    </div>
  </div>

</div>
  {{else}}
  <ul class="productGrid">

    {{#each wishlist.items}}

    <li class="product col-md-3">
      {{> components/products/card id=product_id theme_settings=../theme_settings}}

      <!-- {{#if ../show_remove}}
      <form action="{{remove_url}}" class="form" method="post">
        <input type="submit" class="btn btn-sm btn-danger" value="x" />
      </form>
      {{/if}} -->
    </li>
    {{/each}}
  </ul>
{{/if}}
