&[data-face*='color-light'] {

    $fill:#f7f7f7;
    $text:#464646;

    .soon-flip-fallback,
    .soon-flip-face {
        background-color:$fill;
        color:$text;
    }

    // face styles
    .soon-flip-top,
    .soon-flip-front {
        box-shadow:inset 0 .0625rem 0 #fff;
    }

    .soon-flip-bottom,
    .soon-flip-back {
        box-shadow:inset 0 -.0625rem 0 rgba(0,0,0,.125);
        background:linear-gradient(to top,
                #fff 0%,
                #f0f0f0 100%);
    }

    .soon-flip-fallback {
        box-shadow:inset 0 .0625rem 0 #fff,inset 0 -.0625rem 0 rgba(0,0,0,.125);
    }

    // middle shadow line
    .soon-flip-top,
    .soon-flip-front {
        &::before {
            background-color:rgba(255,255,255,.125);
            box-shadow:0 -.0625rem 0 rgba(255,255,255,.06125);
        }
    }

    .soon-flip-bottom,
    .soon-flip-back {
        color:rgba($text,.95);
        &::before {
            background-color:rgba(0,0,0,.125);
            box-shadow:0 .0625rem 0 rgba(0,0,0,.06125);
        }
    }

    .soon-flip-fallback {
        &::before {
            background-color:rgba(0,0,0,.125);
            box-shadow:0 .0625rem 0 rgba(0,0,0,.06125);
        }
    }

    // shadow overlay
    .soon-flip-top::after {
        background:linear-gradient(to top,
                rgba(0,0,0,.6) 0%,
                rgba(0,0,0,0) 100%);
    }

    .soon-flip-bottom::after {
        background:linear-gradient(to bottom,
                rgba(0,0,0,.6) 25%,
                rgba(0,0,0,.2) 100%);
    }

}


&[data-face*='color-dark'] {

    $fill:#2e2e2e;
    $text:#ededed;

    .soon-flip-face {
        background-color:$fill;
        color:$text;
    }

    // face styles
    .soon-flip-top,
    .soon-flip-front {
        box-shadow:inset 0 .0625rem 0 rgba(255,255,255,.05);
    }

    .soon-flip-bottom,
    .soon-flip-back {
        color:rgba($text,.95);
        box-shadow:inset 0 -.0625rem 0 rgba(255,255,255,.05);
    }

}
