
&[data-face*='corners-sharp'] {

    $radius:.0625em;

    .soon-flip-fallback,
    .soon-flip-card {
        border-radius:$radius;
    }

    // face styles
    .soon-flip-top,
    .soon-flip-front {
        border-radius:$radius $radius 0 0;
    }

    .soon-flip-bottom,
    .soon-flip-back {
        border-radius:0 0 $radius $radius;
    }

    .soon-flip-bottom::after {
        border-radius:0 0 $radius $radius;
    }

    .soon-flip-front::after {
        border-radius:$radius $radius 0 0;
    }
}

&[data-face*='corners-round'] {

    $radius:.175em;

    .soon-flip-fallback,
    .soon-flip-card {
        border-radius:$radius;
    }

    // face styles
    .soon-flip-top,
    .soon-flip-front {
        border-radius:$radius $radius 0 0;
    }

    .soon-flip-bottom,
    .soon-flip-back {
        border-radius:0 0 $radius $radius;
    }

    .soon-flip-bottom::after {
        border-radius:0 0 $radius $radius;
    }

    .soon-flip-front::after {
        border-radius:$radius $radius 0 0;
    }
}
