&[data-face*='shadow-soft'] {

    $shadow-direct:0 .0625em .0625em rgba(0,0,0,.1);

    .soon-flip-card {
        box-shadow:$shadow-direct,0 .03125em .125em rgba(0,0,0,.5);
    }

    &[data-face*='color-light'] {

        .soon-flip-card {
            box-shadow:$shadow-direct,0 .03125em .125em rgba(0,0,0,.25);
        }

    }

}

&[data-face*='shadow-hard'] {

    $shadow-soft:0 0 .0625em rgba(0,0,0,.2);

    .soon-flip-card {
        box-shadow:0 .0625em 0 rgba(0,0,0,.2);
    }

    &[data-face*='color-light'] {

        .soon-flip-card {
            box-shadow:0 .0625em 0 rgba(0,0,0,.15),$shadow-soft;
        }

    }

}
