&[data-face*='fast'] {
    .soon-flip-front,
    .soon-flip-back,
    .soon-flip-front::after,
    .soon-flip-bottom::after,
    .soon-flip-top::after {
        animation-duration:500ms;
    }
}

&[data-face*='faster'] {
    .soon-flip-front,
    .soon-flip-back,
    .soon-flip-front::after,
    .soon-flip-bottom::after,
    .soon-flip-top::after {
        animation-duration:250ms;
    }
}
