<div class="form-field swatches" data-product-attribute="swatch">
    <label class="form-label form-label--alternate form-label--inlineSmall">
        {{this.display_name}}:
        <span data-option-value></span>

        {{#if required}}
            <small>{{lang 'products.select_one'}}</small>
        {{/if}}
    </label>

    {{#each this.values}}
        <input class="form-radio" type="radio" name="attribute[{{../id}}]" value="{{id}}" id="attribute_{{id}}" {{#if selected}}checked{{/if}} {{#if ../required}}required{{/if}}>
        <label class="form-option" for="attribute_{{id}}" data-product-attribute-value="{{id}}">
            {{#if image}}
                <span class="form-option-variant form-option-variant--pattern" title="{{this.label}}" style="background-image: url("{{getImage image "thumb"}}");"></span>
            {{/if}}
            {{#if data.[2]}}
                <span class="form-option-variant form-option-variant--color" title="{{this.label}}" style="background-color: #{{data.[0]}}"></span>
                <span class="form-option-variant form-option-variant--color" title="{{this.label}}" style="background-color: #{{data.[1]}}"></span>
                <span class="form-option-variant form-option-variant--color" title="{{this.label}}" style="background-color: #{{data.[2]}}"></span>
            {{else}}
                {{#if data.[1]}}
                    <span class="form-option-variant form-option-variant--color" title="{{this.label}}" style="background-color: #{{data.[0]}}"></span>
                    <span class="form-option-variant form-option-variant--color" title="{{this.label}}" style="background-color: #{{data.[1]}}"></span>
                {{else}}
                    {{#if data.[0]}}
                        <span class="form-option-variant form-option-variant--color" title="{{this.label}}" style="background-color: #{{data.[0]}}"></span>
                    {{/if}}
                {{/if}}
            {{/if}}
        </label>
    {{/each}}
</div>
