&[data-face*='animate-color'] {

    .soon-matrix-dot {
        opacity:1;
    }

}

&[data-face*='slide'] {

    &[data-face*='up'] {

        .soon-matrix-dot[data-state='0'] {
            transform:translateY(100%);
        }

    }

    &[data-face*='down'] {

        .soon-matrix-dot[data-state='0'] {
            transform:translateY(-100%);
        }

    }

    &[data-face*='left'] {

        .soon-matrix-dot[data-state='0'] {
            transform:translateX(-100%);
        }

    }

    &[data-face*='right'] {

        .soon-matrix-dot[data-state='0'] {
            transform:translateX(100%);
        }

    }

    .soon-matrix-dot[data-state='1'] {
        transform:translateY(0);
    }

}
/*
&[data-face*='flip'] {

    &[data-face*='left'] {

        .soon-matrix-dot[data-state='0'] {
            transform:rotateY(-90deg);
        }

    }

}
*/
