&[data-face*='color-light'] {
    .soon-matrix-dot[data-state='1'] {
        background:#fff;
    }
}


&[data-face*='color-dark'] {
    .soon-matrix-dot[data-state='1'] {
        background:#333;
    }
}
