&[data-face*='shadow-soft'] {

    .soon-matrix-dot {
        transform:translateY(0);
        box-shadow:inset 0 .0625rem .0625rem rgba(0,0,0,.05),0 0 0 transparent;
    }

    .soon-matrix-dot[data-state='1'] {
        box-shadow:inset 0 0 0 transparent, 0 .0625rem .125rem rgba(0,0,0,.5);
        transform:translateY(-2px);
    }

}

&[data-face*='shadow-hard'] {

    .soon-matrix-dot {
        transform:translateY(0);
        box-shadow:inset 0 .0625rem 0 rgba(0,0,0,.05),0 0 0 transparent;
    }

    .soon-matrix-dot[data-state='1'] {
        box-shadow:inset 0 0 0 transparent, 0 .0625rem 0 rgba(0,0,0,.25);
        transform:translateY(-2px);
    }


}

&[data-face*='glow'] {

    .soon-matrix-dot[data-state='1'] {
        box-shadow:0 0 .25rem .125rem rgba(255,255,255,.5);
    }

}
