&[data-face*='tight'] {

    .soon-matrix-char {
        border-spacing:0;
    }
}

&[data-face*='spacey'] {

    .soon-matrix-char {
        border-spacing:.125em;
    }

}

// scale related
&[data-scale='xs'] {

    .soon-matrix-char {
        border-spacing:0.0625em;
    }

}

&[data-scale='xxs'] {

    .soon-matrix-char {
        border-spacing:0.0625em;
    }

    .soon-matrix-inner {
        margin-right:0;
        margin-left:0;
    }

}
