<article class="card {{#if alternate}}card--alternate{{/if}}">
  <figure class="card-figure">
    <a href="{{url}}">
      <img class="card-image" src="{{getImage image 'product' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}">
    </a>
    <figcaption class="card-figcaption">
      <div class="card-figcaption-body">
        {{#unless hide_product_quick_view}}
          {{#if theme_settings.show_product_quick_view}}
            <a href="#" class="btn btn-default btn-sm card-figcaption-button quickview" data-product-id="{{id}}">
              <i class="fa fa-bolt" aria-hidden="true"></i>
              {{lang 'products.quick_view'}}
            </a>
          {{/if}}
        {{/unless}}
      </div>
    </figcaption>
  </figure>

  <div class="card-body">
    {{#if brand.name}}
      {{!-- <p class="card-text">{{brand.name}}</p>  disabled as brand names currently redundant --}}
    {{/if}}
      <p class="card-title">
        <a href="{{url}}">{{name}}</a>
      </p>
    {{#if show_rating}}
      <p class="card-rating" data-test-info-type="productRating">
        <span class="rating--small">
          {{> components/products/ratings rating=rating}}
        </span>
      </p>
    {{/if}}
  </div>
</article>



