<section  class="banner productCarousel"
          data-slick-options='{
            "arrows": true,
            "slidesToShow": 6,
            "slidesToScroll": 6,
            "speed": 500,
            "infinite": true,
            "responsive": [{
              "breakpoint": 1024,
              "settings": {
                "slidesToShow"    : 4,
                "slidesToScroll"  : 4
              }
            },{
              "breakpoint": 600,
              "settings": {
                "slidesToShow": 3,
                "slidesToScroll": 3
              }
            },{
              "breakpoint": 480,
              "settings": {
                "slidesToShow": 2,
                "slidesToScroll": 2
              }
            }]
          }'>

    {{#each products}}
        <div class="productCarousel-slide">
          {{> components/products/card theme_settings=../theme_settings}}
        </div>
    {{/each}}
</section>
