<h2 class="page-heading"><a href="/feature-products/">{{lang 'products.featured' }}</a></h2>
{{> components/products/carousel products=products}}

{{!--
<div class="product-slider row">
  {{#each products}}
    <div class="product col-xs-3 col-md-2">
      {{>components/products/card theme_settings=../theme_settings}}
    </div>
  {{/each}}
</div>
--}}
