<ul class="productGrid">
    {{#each products}}
    <li class="product col-md-3 col-sm-6 col-xs-12">
        <center>
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings}}
        </center>
    </li>
    {{/each}}
</ul>
