
<h2 class="page-heading">{{lang 'products.new' }}</h2>
{{> components/products/carousel products=products}}

{{!--
<div class="product-slider row">
  {{#each products}}
    <div class="product col-xs-3 col-md-2">
      {{>components/products/card theme_settings=../theme_settings}}
    </div>
  {{/each}}
</div>
--}}


<!--

<h2 class="page-heading">{{lang 'products.new' }}</h2>
<li class="productGrid productGrid--maxCol{{ columns }}" data-product-type="whats-new">
        {{#each products}}
        <li class="product">
            {{>components/products/card theme_settings=../theme_settings}}
        </li>

    {{/each}}-->


