{{#if theme_settings.hide_pricing}}
  <p>Online ordering coming soon.</p>
{{else}}
  {{#if customer}}
    {{#if customer.customer_group_id "!=" "2"}}
      <div class="productView-options">
      {{#if product.release_date }}
      <p>{{product.release_date}}</p><!-- Button trigger modal -->
    {{/if}}

    <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
    <input type="hidden" name="action" value="add">
    <input type="hidden" name="product_id" value="{{product.id}}"/>

    {{#each product.customizations}}
      {{{dynamicComponent 'components/products/customizations'}}}
    {{/each}}

    <div data-product-option-change>
      {{#each product.options}}
        {{{dynamicComponent 'components/products/options'}}}
      {{/each}}
    </div>

    {{#if product.event_date}}
      <div class="form-group">
        <label class="form-label form-label--alternate form-label--inlineSmall">
        {{product.event_date.name}}:
        <small>{{lang 'common.required'}}</small>
        </label>
        <select class="form-control" name="EventDate[Mth]" required>
          <option value="">{{lang 'common.month'}}</option>
          {{#enumerate 1 12}}
          <option value="{{this}}">{{getShortMonth this}}</option>
          {{/enumerate}}
        </select>
        <select class="form-control" name="EventDate[Day]" required>
          <option value="">{{lang 'common.day'}}</option>
          {{#enumerate 1 31}}
          <option value="{{this}}">{{this}}</option>
          {{/enumerate}}
        </select>
        <select class="form-control" name="EventDate[Yr]" required>
        <option value="">{{lang 'common.year'}}</option>
          {{#enumerate product.event_date.earliest_year product.event_date.latest_year}}
          <option value="{{this}}" >{{this}}</option>
          {{/enumerate}}
        </select>
      </div>
    {{/if}}

    <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
      <label class="form-label form-label--alternate">
        {{#if product.current_stock}}
          {{lang 'products.current_stock'}}
          <span data-product-stock>{{product.stock_level}}</span>
        {{/if}}
      </label>
    </div>

    {{#if product.can_purchase}}
      <label class="form-label form-label--alternate">
      {{lang 'products.quantity'}}
      </label>
      <div class="form-increment input-group" data-quantity-change>
        <button class="btn btn-info button button--icon input-group-addon" data-action="dec">
        <i class="fa fa-minus" aria-hidden="true"></i>
        {{!-- {{lang 'products.quantity_decrease'}} --}}
        </button>
        <input class="form-input form-input--incrementTotal"
          id="qty[]"
          name="qty[]"
          type="tel"
          value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
          data-quantity-min="{{product.min_purchase_quantity}}"
          data-quantity-max="{{product.max_purchase_quantity}}"
          min="1"
          pattern="[0-9]*"
          aria-live="polite">
        <button class="btn btn-info button button--icon input-group-addon" data-action="inc">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{!-- {{lang 'products.quantity_increase'}} --}}
        </button>
      </div>
      </div>

      <div class="alertBox productAttributes-message hidden">
      <div class="alertBox-column alertBox-icon">
      <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      </div>
      <p class="alertBox-column alertBox-message"></p>
      </div>

      <div class="form-action">
        <button  id="form-action-addToCart"
          data-wait-message="{{lang 'products.adding_to_cart'}}"
          class="btn btn-success category-btn"
          type="submit">
        <i class="fa fa-fw fa-cart-plus" aria-hidden="true"></i>{{#if product.pre_order}}{{lang "products.pre_order"}}{{else}}{{lang "products.add_to_cart"}}{{/if}}
        </button>
      </div>

      {{{snippet 'product_addtocart'}}}
      {{/if}}

      {{#if product.out_of_stock}}
        {{#if product.out_of_stock_message}}
          {{>components/common/alert-error product.out_of_stock_message}}
        {{else}}
          {{>components/common/alert-error (lang 'products.sold_out')}}
        {{/if}}
      {{/if}}

      </form>

      {{#if settings.show_wishlist}}
      <form class="form" data-wishlist-add>
        <input type="hidden" name="variation_id" value="">
        {{!-- <input class="btn btn-info category-btn" id="wishlist-btn" type="submit" value="{{lang 'account.wishlists.add_item'}}"> --}}
      </form>

      <div class="btn-group category-btn">
      <button
        type            = "submit"
        form            = "wishlist-form"
        class           = "btn btn-info i-say-hello-from-the-other-side"
        id              = "add-to-wishlist"
        data-product-id = "{{product.id}}">
        <i class="fa fa-star" aria-hidden="true"></i>
        Add to <span id="wishlist-selected"></span> Wishlist
      </button>

      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>

      <ul class="dropdown-menu">
        {{#each customer.wishlists as |wl|}}
          {{#unless wl.is_public}} {{!-- is_public --}}
          <li>
            <a
              class="wishlist-select"
              data-product-id="{{product.id}}"
              data-wishlist-id="{{wl.id}}"
              data-wishlist-name="{{wl.name}}"
              data-wishlist-token="{{wl.token}} {{wl.num_items}}"
              href="#">
              {{wl.name}}
              <span class="badge">{{wl.num_items}}</span>
            </a>
          </li>
          {{/unless}}
        {{/each}}
        <li role="separator" class="divider"></li>
        <li><a class="wishlist-create" href="#">Create new wishlist</a></li>
      </ul>

      </div> <!-- end btn group -->

      <form class="form" id="quick-cart-form" data-quick-cart-add>
        <input type="hidden" id="quick-cart-product-title" name="product_title" value="{{product.title}}">
        <input type="hidden" name="variation_id" value="">
      </form>

      <div class="btn-group category-btn">
        <button
          type="submit"
          form="quick-cart-form"
          class="btn btn-success i-say-hello-from-the-other-side"
          id="add-to-quick-cart"
          data-product-id="{{product.id}}">
          <i class="fa fa-fw fa-bolt" aria-hidden="true"></i>
          Add to <span id="quick-cart-selected"></span> Quick Cart
        </button>
      <span>

      </span>

      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>

      <ul class="dropdown-menu">
        {{#each customer.wishlists as |wl|}}
        {{#if wl.is_public}} {{!-- is_public --}}
        <li>
          <a
            class="quick-cart-select"
            data-product-id="{{product.id}}"
            data-wishlist-id="{{wl.id}}"
            data-wishlist-name="{{wl.name}}"
            data-wishlist-token="{{wl.token}} {{wl.num_items}}"
            href="#">
            {{wl.name}}
            <span class="badge">{{wl.num_items}}</span>
          </a>
        </li>
        {{/if}}
        {{/each}}
        <li role="separator" class="divider"></li>
        <li><a class="quick-cart-create" href="#">Create new Quick Cart</a></li>
      </ul>
        <a
          tabindex="0"
          role="button"
          class="btn btn-default pull-right quick-cart-help"
          data-container="body"
          data-toggle="popover"
          data-trigger="focus"
          data-placement="left"
          title="What is a quick cart?"
          data-content='Quick carts let you create a list of commonly purchased products, enabling you to purchase multiple items without leaving the page.'>
          <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
        </a>

        </div> <!-- end btn group -->
      {{/if}}
      </div>
    {{/if}}
  {{else}}
    <p></p>
  {{/if}}
{{/if}}
