<div class="productView">
  {{#each product.reviews.messages}}
    {{#if error}}
      {{>components/common/alert-error error}}
    {{/if}}
    {{#if success}}
      {{>components/common/alert-success success}}
    {{/if}}
  {{/each}}

  <section class="productView-images col-md-6" data-image-gallery>
    <figure class="productView-image"
        data-image-gallery-main
        data-zoom-image="{{getImage product.main_image 'zoom' (cdn theme_settings.default_image_product)}}">
      <a href="{{getImage product.main_image 'zoom' (cdn theme_settings.default_image_product)}}">
        <img
          src="{{getImage product.main_image 'product' (cdn theme_settings.default_image_product)}}"
          alt="{{product.main_image.alt}}"
          data-main-image>
      </a>
    </figure>
    <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
    <div class="productView-thumbnails row">
      {{#each product.images}}
        <div class="productView-thumbnail col-sm-4 col-xs-6">
          <a
            class="productView-thumbnail-link"
            href="{{getImage this 'product' (cdn ../theme_settings.default_image_product)}}"
            data-image-gallery-item
            data-image-gallery-new-image-url="{{getImage this 'product' (cdn ../theme_settings.default_image_product)}}"
            data-image-gallery-zoom-image-url="{{getImage this 'zoom' (cdn ../theme_settings.default_image_product)}}">

            <img
              src="{{getImage this 'thumb' (cdn ../theme_settings.default_image_product)}}"
              alt="{{this.alt}}">
          </a>
        </div>
      {{/each}}
    </div>
    </div>
    </div>
  </section>
  <section class="productView-details row col-md-6">
    <div class="productView-product">
      <h1
        class="productView-title"
        {{#if schema}}itemprop="name"{{/if}}>

        {{product.title}}
      </h1>

      <h4
        class="productView-brand"
        {{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
        <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
      </h4>
        {{#if product.reviews.total}}
          {{> components/products/ratings rating=product.rating}}
          <span class="productView-reviewLink">
            {{#if product.num_reviews '>' 0}}
            <a href="{{product.url}}#product-reviews">
              {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
            </a>
            {{else}}
              {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
            {{/if}}
          </span>

        {{/if}}
      <hr>
      {{#if theme_settings.hide_pricing}}
        Online ordering coming soon.
      {{else}}
        {{#if customer}}
          {{#if customer.customer_group_id "!=" "2"}}
            {{#if product.call_for_price}}
              <p class="productView-price">
                <span>{{product.call_for_price}}</span>
              </p>
            {{/if}}
            {{#if product.price}}
              <div class="productView-price">
                <h2>
                  {{> components/products/price price=product.price schema_org=schema}}
                </h2>
              </div>
            {{/if}}
          {{/if}}
        {{else}}
          <h4>Please <a href="{{urls.auth.login}}">login</a> to view pricing.</h4>
        {{/if}}
      {{/if}}

      <hr>
      {{product.detail_messages}}
      <dl class="productView-info">
        {{#if product.sku}}
          <dt class="productView-info-name">{{lang 'products.sku'}} </dt>
          <dd class="productView-info-value" data-product-sku>&nbsp;{{product.sku}}</dd>
        {{/if}}
        {{#if product.upc}}
          <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
          <dd class="productView-info-value" data-product-upc>&nbsp;{{product.upc}}</dd>
        {{/if}}
        {{#if product.condition}}
          <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
          <dd class="productView-info-value">&nbsp;{{product.condition}}</dd>
        {{/if}}
        {{#if product.availability}}
          <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
          <dd class="productView-info-value">&nbsp;{{product.availability}}</dd>
        {{/if}}
        {{#if product.weight}}
          <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
          <dd class="productView-info-value" data-product-weight>&nbsp;{{product.weight}}</dd>
        {{/if}}
        {{#if product.min_purchase_quantity}}
          <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
          <dd class="productView-info-value">&nbsp;{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
        {{/if}}
        {{#if product.max_purchase_quantity}}
          <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
          <dd class="productView-info-value">&nbsp;{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
        {{/if}}
        {{#if product.gift_wrapping_available}}
          <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
          <dd class="productView-info-value">&nbsp;{{lang 'products.gift_wrapping_available'}}</dd>
        {{/if}}
        {{#if product.shipping}}
          {{#if product.shipping.calculated}}
            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
            <dd class="productView-info-value">&nbsp;{{lang 'products.shipping_calculated'}}</dd>
          {{else}}
            {{#if product.shipping.price.value '===' 0}}
              <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
              <dd class="productView-info-value">&nbsp;{{lang 'products.shipping_free'}}</dd>
            {{else}}
              <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
              <dd class="productView-info-value">&nbsp;{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
            {{/if}}
          {{/if}}
        {{/if}}
        {{#if product.bulk_discount_rates.length}}
        <div class="text-danger">
          <strong>{{lang 'products.bulk_pricing.title'}}&nbsp;</strong>
          <dd class="productView-info-value">
              {{#each product.bulk_discount_rates}}
              <p>
                {{lang 'products.bulk_pricing.range' min=min max=max}}
                {{#if type '===' 'percent'}}
                {{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
                {{/if}}
                {{#if type '===' 'fixed'}}
                {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                {{/if}}
                {{#if type '===' 'price'}}
                {{lang 'products.bulk_pricing.price' discount=discount.formatted}}
                {{/if}}
              </p>
              {{/each}}
          </dd>
        </div>
        {{/if}}

      </dl>
    </div>
    <hr>

  {{> components/products/product-options}}

  </section>


  <section class="productView-details">
    {{>components/common/share}}
    {{{snippet 'product_details'}}}
  </section>

  <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
    <hr>

    <div class="col-md-12 product-desc-container">
      <div class="panel with-nav-pills">
        <div class="panel-heading">
            <ul class="nav nav-pills">
              <li class="active"><a href="#tab1primary" data-toggle="tab">{{lang 'products.description'}}</a></li>
              <li><a href="#tab2primary" data-toggle="tab">Other Details</a></li>
              {{#if product.videos.list.length}}
              <li><a href="#tab3primary" data-toggle="tab">{{lang 'products.videos.header'}}</a></li>
              {{/if}}
            </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1primary">
              <div class="tab-content is-active well" id="tab-description">
                {{{product.description}}}
                {{{snippet 'product_description'}}}
              </div>
            </div>
            <div class="tab-pane fade" id="tab2primary">
              <div class="tab-content well" id="tab-warranty">
                {{#each product.custom_fields}}
                 <div class="panel panel-primary">
                  <div class="panel-heading">{{name}}:&nbsp;</div>
                  <div class="panel-body">
                    {{{value}}}
                  </div>
                </div>
                {{/each}}

                {{{product.warranty}}}
              </div>
            </div>
            <div class="tab-pane fade" id="tab3primary">
              {{#if product.videos.list.length}}
              <div class="tab-content" id="tab-videos">
                {{> components/products/videos product.videos}}
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
