{{#for 1 5}}
  {{#if ../this.rating '>=' $index}}
    <span class="icon icon--ratingFull">
      <i class="fa fa-star" aria-hidden="true"></i>
    </span>
  {{else}}
    <span class="icon icon--ratingEmpty">
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </span>
  {{/if}}
{{/for}}
{{{snippet 'product_rating'}}}
