{{#if reviews.total}}
<section class="toggle productReviews" id="product-reviews" data-product-reviews>
    {{lang 'products.reviews.header' total=reviews.total}}
    <a class="product-reviews-toggle" role="button" data-toggle="collapse" href="#product-reviews-content" aria-expanded="true">
      <span class="product-reviews-hide">
        {{lang 'products.reviews.hide'}}
      </span>
      <span class="product-reviews-show">
        {{lang 'products.reviews.show'}}
      </span>
    </a>
  <div class="product-reviews collapse in" id="product-reviews-content" aria-hidden="true" aria-expanded="true">
    <ul class="list-group">
      {{#each reviews.list}}
      <li class="list-group-item">
        <article itemprop="review" itemscope itemtype="http://schema.org/Review">
          <header>
            <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
              {{> components/products/ratings rating=rating}}
              <span class="productReview-ratingNumber" itemprop="ratingValue">{{ rating }}</span>
            </span>
            <h4 itemprop="name" class="list-group-item-heading">
              {{ title }}
              {{#if name}}
                <meta itemprop="author" content="{{name}}">
                <small>
                  {{lang 'products.reviews.post_on_by' date=date name=name }}
                </small>
              {{else}}
                <small>
                  {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                </small>
              {{/if}}
     
            </h4>
          </header>
          <p itemprop="reviewBody" class="list-group-item-text">{{nl2br text}}</p>
        </article>
      </li>
      {{/each}}
    </ul>
      {{> components/common/paginator pagination.reviews}}
  </div>
</section>
{{/if}}
{{{snippet 'reviews'}}}
