<div class="productView-rating"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
  {{#if settings.show_product_rating}}
    {{#if product.num_reviews '>' 0}}
      {{#if schema}}
        <meta itemprop="ratingValue" content="{{product.rating}}">
        <meta itemprop="ratingCount" content="{{product.num_reviews}}">
        <meta itemprop="reviewCount" content="{{product.num_reviews}}">
      {{/if}}
    {{/if}}
    {{> components/products/ratings rating=product.rating}}
    <span class="productView-reviewLink">
      {{#if product.num_reviews '>' 0}}
        <a href="{{product.url}}#product-reviews">
          {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
        </a>
      {{else}}
        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
      {{/if}}
    </span>
  {{/if}}
  {{#if settings.show_product_reviews}}
    <p class="productView-reviewLink">
      <a class="write-review btn btn-primary" href="{{product.url}}{{#if is_ajax}}#writeReview{{/if}}"
       {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
       {{lang 'products.reviews.new'}}
      </a>
    </p>
    {{> components/products/modals/writeReview}}
  {{/if}}
</div>
