<div class="tabs-contents">
    <ul class="tabs" data-tab role="tablist">
        {{#if product.related_products}}
        <li class="tab is-active" role="presentational">
            <h3 class="tab-title" role="tab" tabindex="0" aria-selected="true" controls="tab-related">{{lang 'products.related_products'}}</a>
        </li>
        {{/if}}
        {{#if product.related_products}}
            <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-related">
                {{> components/products/carousel products=product.related_products columns=6}}
            </div>
        {{/if}}
        {{#if product.similar_by_views}}
            <li class="tab{{#unless product.related_products}} is-active{{/unless}}" role="presentational">
                <h3 class="tab-title" role="tab" tabindex="0" aria-selected="false" controls="tab-similar">{{lang 'products.similar_by_views'}}</h3>
            </li>
        {{/if}}
        {{#if product.similar_by_views}}
            <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent{{#unless product.related_products}} is-active{{/unless}}" id="tab-similar">
                {{> components/products/carousel products=product.similar_by_views columns=6}}
            </div>
        {{/if}}
    </ul>
</div>

