<section class="toggle videoGallery well" data-video-gallery>
    <div class="toggle-content" id="videoGallery-content">
        <div class="videoGallery-main">
            <iframe
                id="player"
                type="text/html"
                width="640"
                height="390"
                frameborder="0"
                allowfullscreen
                src="https://www.youtube.com/embed/{{this.featured.id}}"
                data-video-player>
            </iframe>
        </div>
        <ul class="videoGallery-list row">
        {{#each this.list}}
            <li class="videoGallery-item col-md-3">
                <a href="#" class="video {{#if @first}}is-active{{/if}}" data-video-item data-video-id="{{id}}">
                    <div class="video-figure">
                        <img class="img-responsive" src="//i.ytimg.com/vi/{{id}}/default.jpg" alt="Youtube Link"/>
                    </div>
                    <div class="video-body">
                        <h5 class="video-title">{{title_short}}</h5>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>

</section>
