<div class="form-group" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
    <label for="{{id}}">{{label}}</label>
    {{#if required}}<small>{{lang 'common.required' }}</small>{{/if}}
    <br>
    {{#if checkboxes}}
        {{#each checkboxes}}
            <label class="checkbox-inline">
              <input type="checkbox"
                    value="{{value}}"
                    name="{{name}}"
                    id="{{name}}"
                    data-label="{{label}}"
                    value="option2" {{#if checked}}checked{{/if}}
                    {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>{{label}}
            </label>
        {{/each}}
    {{/if}}
</div>
