<div id="facetedSearch" class="facetedSearch sidebarBlock">
  {{> components/faceted-search/selected-facets this.selected}}

    <!-- <span class="facetedSearch-toggle-text">
      {{#if facets.length '>' 2}}
        {{lang 'search.faceted.browse-by'}} {{ join (pluck facets 'title') ', ' limit=2 }} &amp; {{ toLowerCase (lang 'search.faceted.more') }}
      {{/if}}
      {{#if facets.length '<=' 2}}
        {{lang 'search.faceted.browse-by'}} {{ join (pluck facets 'title') ', ' lastSeparator=' & ' }}
      {{/if}}
    </span> -->
  <div href="#facetedSearch-navList" role="button" class="toggleFilters" aria-controls="#facetedSearch-navList" aria-expanded="true" data-toggle="collapse">
    <span class="showLess"> {{lang 'search.faceted.hide-filters'}} <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
    <span class="showMore">{{lang 'search.faceted.show-filters'}} <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
  </div>
  

  {{#any facets visible=true}}
    <div
      id="facetedSearch-navList"
      class="facetedSearch-navList blocker-container collapse in">
      <div class="accordion accordion--navList">
        {{#each facets}}
          {{#if visible}}
            {{{dynamicComponent 'components/faceted-search/facets'}}}
          {{/if}}
        {{/each}}
      </div>
      <div class="blocker hidden"></div>
    </div>
  {{/any}}
</div>
