<div class="facetedSearch-refineFilters sidebarBlock">
    <h5 class="sidebarBlock-heading">
        {{lang 'search.faceted.selected.title'}}
    </h5>
<div class="well filtersSelected">
    {{#if this.items}}
        <ul class="inlineList inlineList--labels">
            {{#each this.items}}
                <li>
                    <a
                        href="{{ url }}"
                        class="facetLabel label label-primary"
                        data-faceted-search-facet>
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{ title }}
                        {{/if}}

                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        {{lang 'search.faceted.selected.no-filters'}}
    {{/if}}

    {{#if remove_all_url}}
        <a href="{{ remove_all_url }}" class="btn btn-primary btn-sm clearBtn" role="button" data-faceted-search-facet>
            {{lang 'search.faceted.selected.clear-all'}}
        </a>
    {{/if}}
</div>
