{{#partial "head"}}
    <link href="{{cdn '/assets/css/maintenance.css'}}" rel="stylesheet">
{{/partial}}

{{#partial "page"}}
    <main>
        <header>
            <h1>{{lang 'maintenance.down'}}</h1>
        </header>
        <section><p>We are currently testing improvements to our website to serve you better. Check back in 60 minutes.</p></section>
        <section></section>
        <footer><small></small></footer>
    </main>
{{/partial}}
{{> layout/empty}}
