---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 300
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">{{lang "blog.recent_posts"}}</div>
    <div class="list-group">
      {{#each blog.posts}}
        {{> components/blog/recentlist post=this settings=../settings}}
      {{/each}}
    </div>
  </div>
</div>
<main class="page col-md-9">
  <h1 class="page-heading">{{ blog.name }}</h1>
    <hr>

  {{#each blog.posts}}
    {{> components/blog/post post=this settings=../settings}}
    <hr>
  {{/each}}

  {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
