---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
---

{{#partial "page"}}

  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
  <div class="col-md-1" id="sideShare">
    {{>components/common/share}}
  </div>
  <div class=" col-md-11">
    {{> components/blog/directpost post=blog.post show_tags=true}}
  </div>
{{/partial}}
{{> layout/base}}
