---
brands:
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<main class="page">
  <h1 class="page-heading">{{lang 'brand.label'}}</h1>
  <div class="hidden-sm hidden-xs" id="topBrandsImg">
    <div class="row">
      <a href="brands/biofreeze"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/biofreeze-logo.png?t=1451493086" alt="Biofreeze"></img></a>
      <a href="brands/stimtec"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/stimtec.png" alt="Stimtec"></img></a>
      <a href="brands/health-medics"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/health-medics-logos.png?t=1451417742" alt="Health Medics"></img></a>
      <a href="brands/shock-doctor"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/shock-doctor.png" alt="Shock Doctor"></img></a>
      <a href="brands/theraband"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/theraband.png" alt="Theraband"></img></a>
    </div>
    <div class="row">
      <a href="brands/spiderTech"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/spidertech.png" alt="Spidertech"></img></a>
      <a href="brands/zimmer"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/zimmer.png" alt="Zimmer"></img></a>
      <a href="brands/mcdavid"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/mcdavid.png" alt="McDavid"></img></a>
      <a href="brands/posture-medic"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/posturemedic.png" alt="Posture Medic"></img></a>
      <a href="brands/vigor"><img src="https://cdn3.bigcommerce.com/s-cvr53/product_images/uploaded_images/vigor-logo.png" alt="Vigor"></img></a>
    </div>
  </div>
  {{#each brands}}
  <div class="col-sm-3 col-xs-6 brand-listing">
    <article class="{{#if alternate}}card--alternate{{/if}}">
      <div class="card-body">
        <a href="{{url}}">
          <i class="icon fa fa-folder brand-icon" aria-hidden="true"></i>
          <span class="brand-name">{{name}}</span>
        </a>
      </div>
    </article>
  </div>
  {{/each}}
</main>
{{/partial}}
{{> layout/base}}
