---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if brand.image}}
<img src="{{getImage brand.image 'thumb'}}" alt="{{brand.name}}">
{{/if}}
<h1 class="page-heading">{{brand.name}}</h1>
{{{snippet 'brand'}}}
<div class="page container">
    <aside class="page-sidebar col-md-2" id="faceted-search-container">
        {{> components/brand/sidebar}}
    </aside>

    <main class="page-content col-md-10" id="product-listing-container">
        {{#if brand.products}}
            {{> components/brand/product-listing}}
        {{else}}
            <p>{{lang 'brands.no_products'}}</p>
        {{/if}}
    </main>
</div>

{{/partial}}
{{> layout/base}}
