{{#partial "page"}}
<div class="page">
  <main class="page-content" data-cart>
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

      {{#if theme_settings.hide_pricing}}
        Online ordering coming soon.
      {{else}}
        {{#if customer}}
          {{#if customer.customer_group_id "!=" "2"}}
              {{> components/cart/page-title}}
              <div data-cart-status>
                {{> components/cart/status-messages}}
              </div>

              {{#if cart.items.length}}
                <div class="loadingOverlay"></div>

                <div data-cart-content>
                  {{> components/cart/content}}
                </div>

                <div data-cart-totals>
                  {{> components/cart/totals}}
                </div>

                {{#if cart.show_primary_checkout_button}}
                  <div class="cart-actions">
                    <a class="btn btn-primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}" role="button">{{lang 'cart.checkout.button'}}</a>
                  </div>
                  <p class="well">
                    Thank you for ordering online. Please note that a credit card is required at time of checkout for all online orders. If you do not already have a card on file our customer service team will contact you to confirm your order. If you would like to confirm or change the card we have on file please contact our customer service team at 1.800.461.0100.
                  </p>
                {{else}}
                  <div class="cart-actions">
                    <a class="btn btn-primary" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}" role="button">{{lang 'cart.continue_shopping'}}</a>
                  </div>
                {{/if}}

                {{#if cart.additional_checkout_buttons}}
                  <div class="cart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                      {{{this}}}
                    {{/each}}
                  </div>
                {{/if}}
              {{else}}
                <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
              {{/if}}

              {{{snippet 'cart'}}}
            {{/if}}
        {{else}}
          <h4>Please <a href="{{urls.auth.login}}">login</a> to view the cart.</h4>
        {{/if}}
      {{/if}}




  </main>
</div>
{{/partial}}
{{> layout/base}}
