---
category:
  shop_by_price: true
  products:
    limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
  {{#if pagination.category.previous}}
    <link rel="prev" href="{{pagination.category.previous}}">
  {{/if}}
  {{#if pagination.category.next}}
    <link rel="next" href="{{pagination.category.next}}">
  {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
<img src="{{getImage category.image 'thumb'}} alt="{{category.name}}"">
{{/if}}
<h1 class="page-heading">{{category.name}}</h1>
{{{category.description}}}
{{{snippet 'categories'}}}
<div class="page">
  <aside class="page-sidebar col-md-2" id="faceted-search-container">
    {{> components/category/sidebar}}
  </aside>

  <main class="page-content col-md-10" id="product-listing-container">
    {{#if category.products}}
      {{> components/category/product-listing}}
    {{else}}
      <p>{{lang 'categories.no_products'}}</p>
    {{/if}}
  </main>
</div>

{{/partial}}
{{> layout/base}}
