---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---

{{#partial "hero"}}
{{#if carousel}}
<div class="container banner-container">
  <div class="row">
    <div class="col-md-8 hide-overflow">
  <div id="homeSlider" class="homeSlider carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#homeSlider" data-slide-to="0" class="active"></li>
      <li data-target="#homeSlider" data-slide-to="1"></li>
      <li data-target="#homeSlider" data-slide-to="2"></li>
      <li data-target="#homeSlider" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {{#each carousel.slides}}
        {{#unless @key}}
        <div class="item active">
          <a href="{{url}}">
            <img class="banner-image" src="{{image}}" alt="{{alt_text}}">
          </a>
        </div>
        {{else}}
        <div class="item">
          <a href="{{url}}">
            <img class="banner-image" src="{{image}}" alt="{{alt_text}}">
          </a>
        </div>
        {{/unless}}
      {{/each}}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#homeSlider" role="button" data-slide="prev">
      <i class="fa fa-caret-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homeSlider" role="button" data-slide="next">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>

  </div>

{{/if}}{{!-- end carousel if --}}
    <div class="col-md-4">

      <div class="row">
        <div class="col-md-12">

          <div class="new-products-button">
          <img  />
            <a href="/whats-new" ><img src="{{cdn "https://www.vitalitydepot.ca/content/img/New-Products.jpg"}}" class="img-responsive"/></a>
          </div>

          <a href="/sale">
            {{> components/home/flip-clock}}
          </a>
          <!--<div class="promo-button">
            <a href="/modpod-clinical-cervical-traction" ><img src="{{cdn "webdav:img/Modpod.jpg"}}" class="img-responsive"/></a>
          </div>-->

        </div><!--col-md-12-->
      </div><!--row-->

      <div class="row hide-overflow">
        {{> components/home/youtube-carousel}}
      </div><!--row-->

    </div><!--col-md-4-->

  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="header-tagline">
      Vitality Depot: Your Trusted Clinic Supplies Source In Canada For Over 2 Decades
    </h2>
  </div>

  <div class="middle-buttons row">
    <div class="col-md-12">
      {{> components/common/middle-buttons}}
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <h2 class="header-tagline">
      Vitality Depot Provides Reliable Everyday Value On Clinic Supplies
    </h2>
  </div>
</div>

<div class="reasons">
  {{> components/home/12reasons}}
</div>

{{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}
{{#each shipping_messages}}
{{> components/common/alert-info message}}
{{/each}}

<div class="main full">
  {{#if products.featured}}
  {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
  {{/if}}

  {{!--
  {{#if products.top_sellers}}
  {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
  {{/if}}
  <hr class="divider-line">
  {{#if products.new}}
  {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
  {{/if}}
  --}}
</div>
<hr class="divider-line">
{{/partial}}
{{> layout/base}}
