---
customer:
  wishlists:
    limit: 100

---

{{#partial "page"}}


{{#if page.title "===" "Where To Buy Map"}}
  <br>
  {{> components/custom/map}}
{{else if page.title "===" "Quick Cart"}}
  <br>
  {{> components/custom/quick-cart}}
{{else if page.title "===" "Store Locator Forms"}}
  <br>
  {{> components/custom/store-locator-forms}}
{{else if page.title "===" "Shipping, Returns & Credit"}}
  <br>
  {{> components/custom/shipping-returns-credit}}
{{else if page.title "===" "Why Choose Vitality Depot"}}
  <br>
  {{> components/custom/why-choose-vitality-depot}}
{{else if page.title "===" "Catalog"}}
  <br>
  {{> components/custom/catalog}}
{{else if page.title "===" "Redeem Rewards"}}
  <br>
  {{> components/custom/redeem-rewards}}
{{else}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
  <main class="page">
    <h1 class="page-heading">{{ page.title }}</h1>

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
      <ul class="navBar-section account-navigation">
      {{#each page.sub_pages}}
        <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
      {{/each}}
      </ul>
    </nav>
    {{/if}}

    <div class="page-content page-content--centered">
      {{#replace '%%Syndicate%%' page.content}}
        {{> components/page/rss_feed}}
      {{else}}
        {{#if page.title "!==" "Where To Buy Map"}} {{!-- remove this eventually. --}}
          <p>{{{page.content}}}</p>
        {{/if}} {{!-- remove this eventually. --}}
      {{/replace}}
    </div>

    {{#if page.feed}}
      <ul>
        {{#each page.feed}}
          <li>
            <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
            <p>{{content}}</p>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </main>
{{/if}}

{{/partial}}

{{> layout/base}}
