---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{{snippet 'search'}}}
<div class="col-md-12">
  <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li>{{>components/search/heading}}</li>
        <li class="pull-right"><a href="#search-content-tab" data-toggle="tab">{{lang 'search.results.content_count' count=pagination.content_results.total}} </a></li>
        <li class="active pull-right"><a href="#search-products-tab" data-toggle="tab">{{>components/search/product-count}}</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="search-products-tab">

  {{#if product_results.products}}
    {{#if product_results.faceted_search_enabled}}
      <div class="page-sidebar col-md-2" id="faceted-search-container">
        {{> components/faceted-search/index product_results}}
      </div>
    {{/if}}
  {{/if}}
    <div id="product-listing-container" class="col-md-10"{{#if forms.search.section '!=' 'product'}}class=""{{/if}}>
            {{> components/search/product-listing}}
        </div>
        </div>
        <div class="tab-pane fade" id="search-content-tab">
         {{#if content_results}}
    <div id="search-results-content" class="col-md-10">
      {{> components/search/content-sort-box sort=pagination.content_results.sort}}
      <ul>
        {{#each content_results}}
          <strong><a href="{{url}}">{{title}}</a></strong> ({{type}})
          <p>{{content}}</p>
        {{/each}}
      </ul>
      {{> components/common/paginator pagination.content_results reload=true}}
    </div>
  {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

{{/partial}}
{{> layout/base}}
